body {
  margin-top: 85px;
  margin-bottom: 105px;
  overflow: scroll;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

* {
  border-radius: 0 !important;
}

a, a:active, a:focus {
   outline: none;
}

a, u {
  text-decoration: none;
}

strong { font-weight: bold; }

.sticky {
  z-index: 980;
}

/* Front page stuff */
.front-logo, #front-logo {
  margin: auto;
}

/* Navbar stuff */
.navbar .navbar-brand {
  height: 75px;
}

/* Navbar buttom customization */
.bornhack-program-menu, .btn-menu {
    --bs-btn-border-width: unset !important;
}

.btn-primary.bornhack-program-menu {
    background-color: unset;
    color: var(--bs-info);
}


/* Theme switcher css logic mainly used to set/hide icons in the theme switcher */
/* Only used for data-bs-theme="light" */
/* For the other themes these should be defined in the theme css file */

body:not([data-bs-theme]) .bornhack-hide-light {
    display: none !important;
}

[data-bs-theme="light"] .bornhack-logo {
    -webkit-filter: unset !important;
    filter: unset !important;
}

[data-bs-theme="light"] .bornhack-hide-light {
    display: none !important;
}
[data-bs-theme="light"] .bornhack-theme-light {
    color: var(--bs-orange);
}
body:not([data-bs-theme]) .bornhack-theme-system {
    color: var(--bs-primary-text-emphasis);
}

.bornhack-theme-light, .bornhack-theme-dark, .bornhack-theme-system {
    opacity: 1;
}

@media (prefers-color-scheme: dark) {
    body:not([data-bs-theme]) .bornhack-logo {
       -webkit-filter: invert(1);
       filter: invert(1);
    }
    body:not([data-bs-theme]) .sponsor-white {
       background-color: white;
       color: black;
       border: 20px solid white;
    }
    body:not([data-bs-theme]) .bornhack-hide-dark {
        display: none !important;
    }
    /* Unset hide when light while being dark */
    body:not([data-bs-theme]) .bornhack-hide-light {
        display: unset !important;
    }
}
/* end of theme based css */

/* Set a white background behind sponsor logos */
.bornhack-sponsor-white {
    background-color: white;
    color: black;
    border: 20px solid white;
}

.navbar-fixed-top {
  min-height: 70px;
}

.navbar-toggle .icon-bar {
  width: 45px;
  height: 8px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 6px;
}

.nav .dropdown-menu  {
  padding: 0;
}

.nav .dropdown-menu .divider {
  margin: 0;
}

.nav .dropdown-menu > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Form stuff */
.form-control, .form-control:focus {
  box-shadow: none;
}

.btn-black {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.btn-grey {
  background-color: #777;
  color: rgb(255, 255, 255);
}

#map {
  height: 800px;
}

/* Footer */
footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}

.breadcrumb > li.no-before::before {
    content: "";
}

.text-container {
    display: flex;
    align-items: center;
    height: 200px;
}

.event {
    padding: 5px;
    vertical-align: top;
    flex-grow: 1;
    border: 1px solid black;
    cursor: pointer;
}

.event-in-overview {
    min-height: 100px;
    margin: 5px;
    max-width: 200px;
    min-width: 200px;
}

.location-column {
    position: relative;
    margin: 0 2px;
    background-color: #f5f5f5;
}

.location-column-header {
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  font-size: 20px;
  background-color: #eee;
  border-bottom: 1px solid #fff;
}

.location-column-slot {
  border-bottom: 1px solid #fff;
}

.day-view-gutter {
  text-align: right;
}

.event-in-dayview {
    position: absolute;
}


@media (max-width: 520px) {
  .event {
      width: 50%;
      padding: 5px;
  }
}

.event:hover {
    background-color: black !important;
    color: white !important;
    text-decoration: none !important;
}

.fa-select {
    font-family: 'FontAwesome','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.day-table {
  border-collapse: separate;
  border-spacing: 1px;
}

.day-table > tbody > tr > td {
  padding: 5px !important;
  border: 0 !important;
}

.schedule-filter ul {
  list-style: none;
  padding: 0;
}

.schedule-filter .btn {
  width: 100%;
  text-align: left;
}


@media (min-width: 520px) {
  .schedule-sidebar {
    border-left: 1px solid #eee;
  }
}

.sticky {
  position: sticky;
}

#daypicker {
  top: 80px;
}

#schedule-days {
  list-style: none;
  padding: 0;
  display: flex;
}

#schedule-days a {
  display: inline;
  flex-grow: 1;
}

.schedule-day-row {
  display: flex;
  flex-wrap: wrap;
}

.filter-choice-active {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.sponsor {
  padding: 10px;
}

.sponsor .caption {
  text-align: center;
}

.bar-row {
  -moz-column-width: 300px;
  -webkit-column-width: 300px;
  column-width: 300px;
}

.bar-product {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid lightgrey;
}

body.bar-menu {
  margin-top: 0px;
  background-color: #000000;
  color: #00ff00;
  overflow: hidden;
}
.hidden {
    display: none;
}
.bar-product .name {
  width: 900px;
  font-size: 14pt;
}

.bar-product .price {
  font-size: 14pt;
  width: 300px;
}

.team-guide-markdown
{
    padding: 10px 20px;
}
.team-guide-markdown h1,
.team-guide-markdown h2,
.team-guide-markdown h3,
.team-guide-markdown h4
{
    font-size: 80%;
    font-weight: bold;
}

/* the .noscript class is in <body> html and removed on load for js enabled useragents */
.no-js .hide-for-no-js-users {
    display: none !important;
}

/* Unhide for no-js users */
.no-js .unhide-for-no-js-users {
    display: block !important;
}
.unhide-for-no-js-users {
    display: none;
}


/* dont hide map in forms */
div #id_location-map {
    display: block;
}

/* Stuff for responsiveness */

.break-word {
    word-break: break-word;
}

.table-scroll {
  overflow-x: auto;
}

img {
  max-width: 100%;
  height: auto;
}

/* tabbed panel tweaks in bootstrap v3 */

.panel-heading-nav {
  border-bottom: 0;
  padding: 10px 0 0;
}

.panel-heading-nav .nav {
  padding-left: 10px;
  padding-right: 10px;
}
.bornhack-2016-gradient, .bornhack-2027-gradient {
  height: 5px;
  background: linear-gradient(0.25turn, var(--bs-body-bg), #004dff, var(--bs-body-bg));
}
.bornhack-2017-gradient, .bornhack-2028-gradient {
  height: 5px;
  background: linear-gradient(0.25turn, var(--bs-body-bg), #750787, var(--bs-body-bg));
}
.bornhack-2018-gradient, .bornhack-2029-gradient {
  height: 5px;
  background: linear-gradient(0.25turn, var(--bs-body-bg), #008026, var(--bs-body-bg));
}
.bornhack-2019-gradient, .bornhack-2030-gradient {
  height: 5px;
  background: linear-gradient(0.25turn, var(--bs-body-bg), #ffed00, var(--bs-body-bg));
}
.bornhack-2020-gradient, .bornhack-2031-gradient {
  height: 5px;
  background: linear-gradient(0.25turn, var(--bs-body-bg), #ff8c00, var(--bs-body-bg));
}
.bornhack-2021-gradient, .bornhack-2032-gradient {
  height: 5px;
  background: linear-gradient(0.25turn, var(--bs-body-bg), #e40303, var(--bs-body-bg));
}
.bornhack-2022-gradient, .bornhack-2033-gradient {
  height: 5px;
  background: linear-gradient(0.25turn, var(--bs-body-bg), #000000, var(--bs-body-bg));
}
.bornhack-2023-gradient, .bornhack-2034-gradient {
  height: 5px;
  background: linear-gradient(0.25turn, var(--bs-body-bg), #613915, var(--bs-body-bg));
}
.bornhack-2024-gradient, .bornhack-2035-gradient {
  height: 5px;
  background: linear-gradient(0.25turn, var(--bs-body-bg), #73d7ee, var(--bs-body-bg));
}
.bornhack-2025-gradient, .bornhack-2036-gradient {
  height: 5px;
  background: linear-gradient(0.25turn, var(--bs-body-bg), #ffafc7, var(--bs-body-bg));
}
.bornhack-2026-gradient, .bornhack-2037-gradient {
  height: 5px;
  background: linear-gradient(0.25turn, var(--bs-body-bg), #ffffff, var(--bs-body-bg));
}
/* Use a different starting and ending color on light theme */
[data-bs-theme="light"] .bornhack-2026-gradient, [data-bs-theme="light"] .bornhack-2037-gradient {
  background: linear-gradient(0.25turn, var(--bs-gray-400), #ffffff, var(--bs-gray-400)) !important;
}
@media (prefers-color-scheme: light) {
    .bornhack-2026-gradient, .bornhack-2037-gradient {
      background: linear-gradient(0.25turn, var(--bs-gray-400), #ffffff, var(--bs-gray-400)) !important;
    }
}
.image-white-bg {
    background-color: white;
    color: black;
}

/*.form-select {
    background-color: var(--bs-body-bg)
}*/

.slider-widget {
    width: 90%;
    padding-top: 10px;
}

.slider-widget__value {
  display: inline-block;
  position: relative;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  color: var(--bs-info-text-emphasis);
  background: var(--bs-info);
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid var(--bs-info);
    border-bottom: 7px solid transparent;
    content: '';
  }
}

.anchor{
    display: block;
    height: 85px; /*same height as header*/
    margin-top: -85px; /*same height as header*/
    visibility: hidden;
}

.sub-anchor{
    display: block;
    height: 94px; /*same height as header*/
    margin-top: -94px; /*same height as header*/
    visibility: hidden;
}
