body {
  margin-top: 85px;
  margin-bottom: 35px;
}

* {
  border-radius: 0 !important;
}

a, a:active, a:focus {
   outline: none;
}

@media (max-width: 520px) {
  #main {
    width: 100%;
  }
}

/* Front page stuff */
#front-logo {
  margin: auto;
}

/* Navbar stuff */
.navbar {
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(230, 230, 230);
}

.navbar .navbar-brand {
  height: 75px;
}

.navbar-fixed-top {
  min-height: 70px;
}

.navbar-toggle .icon-bar {
  background: black;
  width: 45px;
  height: 8px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 6px;
}

.nav li a {
   padding: 30px 7px;
}

.nav .dropdown-menu  {
  padding: 0;
}

.nav .dropdown-menu .divider {
  margin: 0;
}

.nav .dropdown-menu > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  .navbar-fixed-top .navbar-collapse {
    max-height: 450px;
  }

  .navbar .navbar-collapse {
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.2);
  }
  .navbar .navbar-nav {
    margin: 0 -15px;
  }

  .navbar .nav > li {
    border-top: 1px solid #ccc;
  }
  .navbar .nav li a {
    padding: 15px;
  }
}


/* btn-group */
.btn-group .btn {
  border-right: 0;
}

.btn-group .btn:last-of-type {
  border-right: 1px solid #ccc;
}

.btn-group .btn.btn-primary:last-of-type {
  border-color: #2e6da4;
}

/* Form stuff */

.form-control, .form-control:focus {
  box-shadow: none;
}

.btn-black {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.btn-grey {
  background-color: #777;
  color: rgb(255, 255, 255);
}

#map {
  height: 500px;
}

.thumbnail {
  height: 350px;
}

/* Footer */
footer {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: white;
    bottom: 0px;
    padding: 5px;
    left: 50%;
    transform: translate(-50%);
}

@media (max-width: 767px) {
  footer {
    max-width: 100%;
  }
}

.breadcrumb > li.no-before::before {
    content: "";
}

.text-container {
    display: flex;
    align-items: center;
    height: 200px;
}

.event {
    padding: 5px;
    vertical-align: top;
    margin: 5px;
    max-width: 200px;
    min-height: 100px;
    flex-grow: 1;
    border: 1px solid black;
}

.event-td {
    padding: 5px;
    vertical-align: top;
    max-width: 200px;
    min-width: 200px;
    flex-grow: 1;
    cursor: pointer;
}

@media (max-width: 520px) {
  .event {
      width: 50%;
      padding: 5px;
  }
}

.event:hover {
    background-color: black !important;
    color: white !important;
    text-decoration: none;
}

.fa-select {
    font-family: 'FontAwesome','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.day-table {
  border-collapse: separate;
  border-spacing: 1px;
}

.day-table > tbody > tr > td {
  padding: 5px !important;
  border: 0 !important;
}
