{% extends 'base.html' %}
{% load commonmark %}

{% block title %}
  Fix IRC permissions for NickServ user {{ request.user.profile.nickserv_username }} for IRC channel {{ team.irc_channel_name }}
{% endblock %}

{% block content %}

  <h3>Fix IRC permissions</h3>
  <p class="lead">This will make the bot re-add IRC ACL for your NickServ user <b>{{ request.user.profile.nickserv_username }}</b> for IRC channel <b>{{ team.irc_channel_name }}</b>. Use this in cases where you are unable to join the team IRC channel after entering your NickServ username in your profile.</p>
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-success" type="submit"><i class="fas fa-check"></i> Yes Please</button>
    <a href="{% url 'teams:general' camp_slug=team.camp.slug team_slug=team.slug %}" class="btn btn-secondary" type="submit"><i class="fas fa-times"></i> Cancel</a>
  </form>
{% endblock %}
