{% extends 'base.html' %}
{% load commonmark %}

{% block title %}
Create Task for {{ task.team.name }} Team
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"><h4>Create Task</h4></div>
    <div class="panel-body">
        <form method="POST">
            {{ form }}
            <button type="submit" class="btn btn-primary">
        </form>
    </div>
    <div class="panel-footer"><i>This task belongs to the <a href="{% url 'teams:detail' slug=team.slug camp_slug=team.camp.slug %}">{{ team.name }} Team</a></i></div>
</div>
{% endblock %}

