{% extends 'team_base.html' %}
{% load commonmark %}

{% block title %}
{{ task.name }}
{% endblock %}

{% block team_content %}
<div class="panel panel-default">
    <div class="panel-heading"><h4>Task: {{ task.name }} ({% if not task.completed %}Not {% endif %}Completed)</h4></div>
    <div class="panel-body">
        {{ task.description|untrustedcommonmark }}
        <hr>
        <ul>
            <li>Start: {{ task.when.lower|default:"N/A" }}<br>
            <li>Finish: {{ task.when.upper|default:"N/A" }}<br>
        </ul>
    </div>
    <div class="panel-footer"><i>This task belongs to the <a href="{% url 'teams:detail' team_slug=task.team.slug camp_slug=task.team.camp.slug %}">{{ task.team.name }} Team</a></i></div>
</div>


{% endblock %}

