{% extends 'team_base.html' %}
{% load commonmark %}

{% block title %}
  Guide for: {{ team.name }} | {{ block.super }}
{% endblock %}

{% block team_content %}

  <div class="card">
    <div class="card-header">
      <div class="btn-group pull-right">
        <a href="{% url 'teams:guide_print' camp_slug=camp.slug team_slug=team.slug %}"
           class="btn btn-secondary"
           target="_blank">
          Print
        </a>
        {% if request.user in team.leads.all %}
          <a href="{% url 'teams:manage' camp_slug=camp.slug team_slug=team.slug %}" class="btn btn-primary">Edit</a>
        {% endif %}
      </div>
      <h4>
        Guide / Howto for {{ team.name }}
      </h4>
    </div>
    <div class="card-body">
      <p>
      </p>

      <div class="team-guide-markdown">
        {{ team.guide|untrustedcommonmark }}
      </div>
    </div>
  </div>



{% endblock %}
