{% extends 'base.html' %}
{% load commonmark %}
{% load bootstrap3 %}
{% load teams_tags %}

{% block title %}
Team: {{ team.name }} | {{ block.super }}
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>{{ team.name }} Team Details</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
      <h4>Description</h4>
  </div>
  <div class="panel-body">
    {{ team.description|untrustedcommonmark }}
  </div>
</div>

{# Team communications #}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Communication Channels</h4>
    </div>
    <div class="panel-body">
        {{ team.camp.title }} teams primarily use mailing lists and IRC to communicate. The <b>{{ team.name }} team</b> can be contacted in the following ways:</p>

        <h5>Mailing List</h5>
        {% if team.mailing_list and request.user in team.approved_members.all %}
          <p>The {{ team.name }} Team mailinglist is <b>{{ team.mailing_list }}</b>{% if team.mailing_list_archive_public %}, and the archives are publicly available{% endif %}. You should sign up for the list if you haven't already.</p>
        {% elif team.mailing_list and team.mailinglist_nonmember_posts %}
          <p>The {{ team.name }} Team mailinglist is <b>{{ team.mailing_list }}</b>{% if team.mailing_list_archive_public %}, and the archives are publicly available{% endif %}. You do not need to be a member of the list to post to it.</p>
        {% else %}
          <p>The {{ team.name }} Team does not have a public mailing list, but it can be contacted through our main email <a href="mailto:info@bornhack.dk">info@bornhack.dk</a>.
        {% endif %}

        <h5>IRC Channel</h5>
        {% if team.public_irc_channel_name %}
          <p>The {{ team.name }} Team public IRC channel is <a href="irc://{{ IRCBOT_SERVER_HOSTNAME }}/{{ team.public_irc_channel_name }}">{{ team.public_irc_channel_name }} on {{ IRCBOT_SERVER_HOSTNAME }}</a>.
        {% else %}
          <p>The {{ team.name }} Team does not have a public IRC channel, but it can be reached through our main IRC channel <a href="irc://{{ IRCBOT_SERVER_HOSTNAME }}/{{ IRCBOT_PUBLIC_CHANNEL }}">{{ IRCBOT_PUBLIC_CHANNEL }} on {{ IRCBOT_SERVER_HOSTNAME }}</a>.</p>
        {% endif %}

        {% if request.user in team.approved_members.all and team.private_irc_channel_name %}
          <p>The {{ team.name }} Team private IRC channel is <a href="irc://{{ IRCBOT_SERVER_HOSTNAME }}/{{ team.private_irc_channel_name }}">{{ team.private_irc_channel_name }} on {{ IRCBOT_SERVER_HOSTNAME }}</a>.</p>
        {% endif %}

    </div>
</div>

{% include 'includes/team_tasks.html' %}

{# Team members #}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Members</h4>
    </div>
    <div class="panel-body">
        <p>The following <b>{{ team.approved_members.count }}</b> people {% if team.unapproved_members.count %}(and {{ team.unapproved_members.count }} pending){% endif %} are members of the <b>{{ team.name }} Team</b>:</p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Status
              </th>
            </tr>
          </thead>
          <tbody>
            {% for teammember in team.memberships.all %}
              <tr>
                <td>
                    {{ teammember.user.profile.get_public_credit_name }} {% if teammember.user == request.user %}(this is you!){% endif %}
                </td>
                <td>
                    Team {% if teammember.responsible %}Responsible{% else %}Member{% endif %}
                    {% if not teammember.approved %}(pending approval){% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <p>Your membership status: <b>{% membershipstatus user team %}</b></p>

        {% if request.user in team.members.all %}
          {% if team.irc_channel and team.irc_channel_managed and request.user.profile.nickserv_username %}
            <a href="{% url 'teams:fix_irc_acl' camp_slug=camp.slug team_slug=team.slug %}" class="btn btn-primary"><i class="fas fa-wrench"></i> Fix IRC ACL</a>&nbsp;
          {% endif %}
          <a href="{% url 'teams:leave' camp_slug=camp.slug team_slug=team.slug %}" class="btn btn-danger"><i class="fas fa-times"></i> Leave Team</a>
        {% else %}
            {% if team.needs_members %}
              <b>This team is looking for members!</b> <a href="{% url 'teams:join' camp_slug=camp.slug team_slug=team.slug %}" class="btn btn-xs btn-success"><i class="fas fa-plus"></i> Join Team</a>
            {% endif %}
        {% endif %}

        {% if request.user in team.responsible_members.all %}
          <a href="{% url 'teams:manage' camp_slug=camp.slug team_slug=team.slug %}" class="btn btn-primary"><i class="fas fa-cog"></i> Manage Team</a>
        {% endif %}

        <hr>
    </div>
</div>

{# Team info categories section - only visible for team responsible #}
{% if request.user in team.responsible_members.all and team.info_categories.exists %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Info Categories</h4>
    </div>
    <div class="panel-body">

        {% for info_category in team.info_categories.all %}

            <h4>{{ info_category.headline }}</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Item name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in info_category.infoitems.all %}
                    <tr>
                        <td>{{ item.headline }}</td>
                        <td>
                            <a href="{% url 'teams:info_item_update' camp_slug=camp.slug team_slug=team.slug category_anchor=info_category.anchor item_anchor=item.anchor %}"
                               class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{% url 'teams:info_item_create' camp_slug=camp.slug team_slug=team.slug category_anchor=info_category.anchor %}" class="btn btn-primary"><i class="fas fa-plus"></i> Create Info Item</a>

            <hr />

        {% endfor %}
    </div>
</div>

{% endif %}

{% endblock %}
