{% extends 'team_base.html' %}
{% load commonmark %}
{% load django_bootstrap5 %}

{% block title %}
  Shifts | {{ block.super }}
{% endblock %}

{% block team_content %}

  {% if request.user in team.leads.all %}
    <a class="btn btn-success"
       href="{% url 'teams:shift_create' camp_slug=camp.slug team_slug=team.slug %}">
      Create a single shift
    </a>
    <a class="btn btn-success"
       href="{% url 'teams:shift_create_multiple' camp_slug=camp.slug team_slug=team.slug %}">
      Create multiple shifts
    </a>
  {% endif %}

  <table id="main_table" class="table table-condensed">
    <tbody>
      {% for shift in shifts %}
        {% ifchanged shift.shift_range.lower|date:'d' %}
          <thead>
          <tr>
            <td colspan=5>
              <h4>
                {{ shift.shift_range.lower|date:'Y-m-d l' }}
              </h4>
            </td>

          </tr>
          <tr>
            <th>
              From</th>
            <th>
              To</th>
            <th>
              People required</th>
            <th>
              People</th>
            <th>
              Actions</th>
          </tr>
        </thead>
        {% endifchanged %}

        <tr>
          <td>
            {{ shift.shift_range.lower|date:'H:i' }}
          </td>
          <td>
            {{ shift.shift_range.upper|date:'H:i' }}
          </td>
          <td>
            {{ shift.team_members.count }} of {{ shift.people_required }} assigned 
          </td>
          <td>
            {% for member in shift.teamshiftassignment_set.all %}
              {{ member.team_member.user.profile.get_public_credit_name }}{% if member.for_sale %} <em>(for sale!)</em>{% endif %}{% if not forloop.last %},{% endif %} 
            {% empty %}
              None!
            {% endfor %}
          </td>
          <td>
            {% if request.user in team.leads.all %}
              <a class="btn btn-info"
                 href="{% url 'teams:shift_update' camp_slug=camp.slug team_slug=team.slug pk=shift.pk %}">
                <i class="fas fa-edit"></i> Edit
              </a>
              <a class="btn btn-danger"
                 href="{% url 'teams:shift_delete' camp_slug=camp.slug team_slug=team.slug pk=shift.pk %}">
                <i class="fas fa-trash"></i> Delete
              </a>
            {% endif %}
            {% if user in shift.users %}
              <a class="btn btn-danger"
                 href="{% url 'teams:shift_member_drop' camp_slug=camp.slug team_slug=team.slug pk=shift.pk %}">
                <i class="fas fa-thumbs-down"></i> Unassign me
              </a>
              {% if user not in shift.for_sale_users %}
                <a class="btn btn-warning"
                   href="{% url 'teams:shift_member_sell' camp_slug=camp.slug team_slug=team.slug pk=shift.pk %}">
                    <i class="fas fa-thumbs-down"></i> Make available
                </a>
              {% endif %}
            {% elif shift.people_required > shift.shifts_available %} 
              <a class="btn btn-success"
                 href="{% url 'teams:shift_member_take' camp_slug=camp.slug team_slug=team.slug pk=shift.pk %}">
                <i class="fas fa-thumbs-up"></i> Assign me
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}
