{% extends 'team_base.html' %}
{% load commonmark %}
{% load django_bootstrap5 %}
{% block extra_head %}
  {{ form.media }}
{% endblock extra_head %}

{% block title %}
  {% if object %}
    Editing "{{ object.headline }}"
    in "{{ form.instance.category.headline }}"
  {% else %}
    Create Info item
    in "{{ category.headline }}"
  {% endif %}
{% endblock %}

{% block team_content %}
  <div class="card">
    <div class="card-header">
      <h4>
        {% if object %}
          Editing "{{ object.headline }}"
          in "{{ object.category.headline }}"
        {% else %}
          Create Info Item
          in "{{ category.headline }}"
        {% endif %}
      </h4>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">{% if object.id %}Save{% else %}Create{% endif %}</button>
        {% if object %}
          <a href="{% url 'teams:info_item_delete' camp_slug=camp.slug team_slug=object.category.team.slug category_anchor=object.category.anchor item_anchor=object.anchor %}"
             class="btn btn-danger">
            <i class="fa fa-remove"></i> Delete
          </a>
        {% endif %}
      </form>
    </div>
    <div class="card-footer"><i>This info item belongs to the <a href="{% url 'teams:general' team_slug=team.slug camp_slug=team.camp.slug %}">{{ team.name }} Team</a></i></div>
  </div>
{% endblock %}
