{% extends 'team_base.html' %}
{% load commonmark %}

{% block title %}
  Make team lead {{ teammember.user.profile.get_name }} a normal member of the {{ teammember.team.name }} team
{% endblock %}

{% block team_content %}
  <h3>Remove team lead</h3>
  <p class="lead">Really make the team lead <b>{{ teammember.user.profile.get_name }}</b> a normal member of the {{ teammember.team.name }} team?<p>
    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <button class="btn btn-success" type="submit"><i class="fas fa-check"></i> Make Normal Member</button>
      <a href="{% url 'teams:general' camp_slug=teammember.team.camp.slug team_slug=teammember.team.slug %}" class="btn btn-secondary" type="submit"><i class="fas fa-times"></i> Cancel</a>
    </form>
{% endblock %}
