{% extends 'team_base.html' %}
{% load commonmark %}
{% load django_bootstrap5 %}
{% load teams_tags %}
{% load profile_display %}

{% block title %}
  Members | {{ block.super }}
{% endblock %}

{% block team_content %}

  <div class="card">
    <div class="card-header">
      <h4>Members</h4>
    </div>
    <div class="card-body">
      <p>The following <b>{{ team.approved_members.count }}</b> people {% if team.unapproved_members.count %}(and {{ team.unapproved_members.count }} pending){% endif %} are members of the <b>{{ team.name }} Team</b>:</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              User
            </th>
            <th>
              Status
            </th>
            {% if team.lead_permission_set in perms %}
              <th>
                Email
              </th>
              <th>
                Description
              </th>
              <th>
                Actions
              </th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for member in team.memberships.all %}
            {% if member.approved or not member.approved and team.lead_permission_set in perms %}
              <tr>
                <td>
                  {% display_name member.user.profile %}
                  {% if member.user == request.user %}
                  <span class="badge text-bg-info">This is you</span>
                  {% endif %}
                </td>
                <td>
                  Team {% if member.lead %}Lead{% else %}Member{% endif %}
                  {% if not member.approved %}(pending approval){% endif %}
                </td>
                {% if team.lead_permission_set in perms %}
                  <td>
                    {{ member.user.email }}
                  </td>
                  <td>
                    {{ member.user.profile.description|untrustedcommonmark }}
                  </td>
                  <td>
                    <div class="btn-group-vertical">
                      <a class="btn btn-danger btn-sm text-nowrap"
                         href="{% url 'teams:member_remove' camp_slug=camp.slug team_slug=team.slug pk=member.id %}">
                        <i class="fas fa-trash"></i> Remove
                      </a>
                      {% if member.approved %}
                        {% if member.lead %}
                          <a class="btn btn-danger btn-sm text-nowrap"
                             href="{% url 'teams:member_take_lead' camp_slug=camp.slug team_slug=team.slug pk=member.id %}">
                            <i class="fas fa-times"></i> Take Team Lead
                          </a>
                          {% else %}
                          <a class="btn btn-success btn-sm text-nowrap"
                             href="{% url 'teams:member_make_lead' camp_slug=camp.slug team_slug=team.slug pk=member.id %}">
                            <i class="fas fa-check"></i> Make Team Lead
                          </a>
                        {% endif %}
                      {% else %}
                        <a class="btn btn-success btn-sm text-nowrap"
                           href="{% url 'teams:member_approve' camp_slug=camp.slug team_slug=team.slug pk=member.id %}">
                          <i class="fas fa-check"></i> Approve
                        </a>
                      {% endif %}
                    </div>
                  </td>
                {% endif %}
              </tr>
            {% endif %}
          {% empty %}
            <p>No members found!</p>
          {% endfor %}
        </tbody>
      </table>

      {% if request.user.authorized %}

        <p>Your membership status: <b>{% membershipstatus user team %}</b></p>

        {% if request.user in team.members.all %}
          {% if team.irc_channel and team.irc_channel_managed and request.user.profile.nickserv_username %}
            <a href="{% url 'teams:fix_irc_acl' camp_slug=camp.slug team_slug=team.slug %}" class="btn btn-primary"><i class="fas fa-wrench"></i> Fix IRC ACL</a>&nbsp;
          {% endif %}
          <a href="{% url 'teams:leave' camp_slug=camp.slug team_slug=team.slug %}" class="btn btn-danger"><i class="fas fa-times"></i> Leave Team</a>
        {% else %}
          {% if team.needs_members %}
            <b>This team is looking for members!</b> <a href="{% url 'teams:join' camp_slug=camp.slug team_slug=team.slug %}" class="btn btn-xs btn-success"><i class="fas fa-plus"></i> Join Team</a>
          {% endif %}
        {% endif %}
      {% endif %}

      <hr>
    </div>
  </div>

{% endblock %}
