{% extends 'team_base.html' %}
{% load commonmark %}
{% load django_bootstrap5 %}
{% block extra_head %}
  {{ form.media }}
{% endblock extra_head %}

{% block title %}
  Settings | {{ block.super }}
{% endblock %}

{% block team_content %}
  <div class="card">
    <div class="card-header"><h4>Settings</h4></div>
    <div class="card-body" style="margin-left: 1em; margin-right: 1em;">
      <div class="form-group">
        <form method="post" class="form-horizontal">
          {% csrf_token %}

          {% bootstrap_form form %}

          <button class="btn btn-success ms-auto" type="submit"><i class="fas fa-check"></i> Save</button>
          <a class="btn btn-primary ms-auto" href="{% url 'teams:general' team_slug=team.slug camp_slug=camp.slug %}"><i class="fas fa-times"></i> Cancel</a>&nbsp;
        </form>
      </div>
    </div>
  </div>

{% endblock %}
