{% extends 'base.html' %}
{% load commonmark %}

{% block title %}
Team: {{ team.name }} | {{ block.super }}
{% endblock %}

{% block content %}

<h3>{{ team.name }} Team</h3>

{{ team.description|unsafecommonmark }}


<hr />
<h3>{{ team.area.name }} Area:</h3>
<p>This team is under the <b>{{ team.area.name }} area</b>. The following people are responsible for the <b>{{ team.area.name }} area</b>:</p>
<ul>
    {% for resp in team.area.responsible.all %}
    <li><b>{{ resp.get_full_name|default:"Unnamed" }}</b></li>
    {% endfor %}
</ul>
{% endblock %}
