{% extends 'base.html' %}
{% load commonmark %}

{% block title %}
Join Team: {{ team.name }} | {{ block.super }}
{% endblock %}

{% block content %}

<h3>{{ team.name }} Team</h3>
<p class="lead">Really join the <b>{{ team.name }}</b> team? You will receive a message when your membership has been approved.<p>
<form method="POST">
{% csrf_token %}
{{ form }}
<button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Join {{ team.name }} Team</button>
<a href="{% url 'team_list' camp_slug=camp.slug %}" class="btn btn-default" type="submit"><i class="fa fa-remove"></i> Cancel</a>
</form>
{% endblock %}
