{% extends 'base.html' %}
{% load commonmark %}
{% load teams_tags %}
{% load bootstrap3 %}

{% block title %}
Manage Team: {{ team.name }} | {{ block.super }}
{% endblock %}

{% block content %}
<h3>Manage {{ team.name }} Team</h3>
<form method="post" class="form-horizontal">
  {% csrf_token %}

  {% bootstrap_form form %}


  {% buttons %}
    <button class="btn btn-primary pull-right" type="submit">Save</button>
  {% endbuttons %}
</form>

<h3>{{ team.name }} Team Members</h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>
        Profile
      <th>
        Name
      <th>
        Email
      <th>
        Description
      <th>
        Membership
      <th>
        Action

  <tbody>
  {% for membership in team.teammember_set.all %}
  <tr>
    <td>
      {{ membership.user }}
    <td>
      {{ membership.user.profile.name }}
    <td>
      {{ membership.user.profile.email }}
    <td>
      {{ membership.user.profile.description }}
    <td>
      {% if membership.approved %}member{% else %}pending{% endif %}
    <td>
        {% if membership.approved %}
        <a class="btn btn-danger" href="{% url 'teammember_remove' camp_slug=camp.slug pk=membership.id %}"><i class="fa fa-trash-o"></i> Remove</a>
        {% else %}
        <a class="btn btn-danger" href="{% url 'teammember_remove' camp_slug=camp.slug pk=membership.id %}"><i class="fa fa-trash-o"></i> Remove</a>
        <a class="btn btn-success" href="{% url 'teammember_approve' camp_slug=camp.slug pk=membership.id %}"><i class="fa fa-check"></i> Approve</a>
        {% endif %}
  {% endfor %}
{% endblock %}
