{% extends 'base.html' %}
{% load commonmark %}
{% load teams_tags %}
{% load bootstrap3 %}

{% block title %}
Team: {{ team.name }} | {{ block.super }}
{% endblock %}

{% block content %}

<h3>{{ team.name }} Team ({{ team.area.name }} area)</h3>

{{ team.description|unsafecommonmark }}
<p>Currently {{ team.members.count }} people are members of this team{% if request.user in team.members.all %} (including you){% endif %}.</p>

{% if request.user in team.members.all %}
<p>Your team status: {% membershipstatus request.user team %}</p>
{% endif %}

{% if request.user in team.members.all %}
    <a href="{% url 'team_leave' camp_slug=camp.slug slug=team.slug %}" class="btn btn-danger">Leave Team</a>
{% else %}
    {% if team.needs_members %}
      <a href="{% url 'team_join' camp_slug=camp.slug slug=team.slug %}" class="btn btn-success">Join Team</a>
    {% endif %}
{% endif %}

{% if request.user in team.responsible.all %}
      <a href="{% url 'team_manage' camp_slug=camp.slug slug=team.slug %}" class="btn btn-success">Manage Team</a>
{% endif %}
<hr />
<h3>Team Responsible</h3>
<p>The following people are responsible for the <b>{{ team.name }} team</b>:</p>
<ul>
    {% for resp in team.responsible.all %}
    <li><b>{{ resp.profile.name }}</b></li>
    {% endfor %}
</ul>

{% endblock %}
