{% extends 'team_base.html' %}
{% load commonmark %}
{% load bootstrap3 %}

{% block title %}
Manage Team: {{ team.name }} | {{ block.super }}
{% endblock %}

{% block team_content %}
<div class="panel panel-default">
  <div class="panel-heading"><h4>Manage {{ team.name }} Team</h4></div>
  <div class="panel-body" style="margin-left: 1em; margin-right: 1em;">
    <div class="form-group">
      <form method="post" class="form-horizontal">
      {% csrf_token %}

      {% bootstrap_form form %}

      {% buttons %}
        <button class="btn btn-success pull-right" type="submit"><i class="fas fa-check"></i> Save Team</button>
        <a class="btn btn-primary pull-right" href="{% url 'teams:general' team_slug=team.slug camp_slug=camp.slug %}"><i class="fas fa-times"></i> Cancel</a>&nbsp;
      {% endbuttons %}
      </form>
    </div>
  </div>
</div>

{% endblock %}

