{% extends 'base.html' %}
{% load commonmark %}

{% block title %}
Teams | {{ block.super }}
{% endblock %}

{% block content %}

{% if teams %}
<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
    {% for team in teams %}
    <tr>
      <td>
        <a href="{% url 'team_detail' camp_slug=camp.slug slug=team.slug %}">
          {{ team.name }}
        </a>
      </td>
      <td>
        {% if team.sub_teams.exists %}
        <div class="pull-left">
        {% endif %}
        {{ team.description|unsafecommonmark|truncatewords:50 }}

        {% if team.sub_teams.exists %}
        <div class="collapse" id="{{ team.slug }}-sub-teams">
          <strong>Subteams:</strong>
          <ul>
          {% for sub_team in team.sub_teams.all %}
          <li>{{ sub_team.name }}</li>
          {% endfor %}
          </ul>
        </div>

        </div>

        <button class="btn btn-default pull-right" type="button" data-toggle="collapse" data-target="#{{ team.slug }}-sub-teams" aria-expanded="false" aria-controls="collapseExample">
              Subteams
        </button>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h4>No teams for <b>{{ camp.title }}</b> yet!</h4>
{% endif %}

{% endblock %}
