{% extends 'profile_base.html' %}
{% load django_bootstrap5 %}
{% load formatting %}

{% block title %}
  OIDC Claims | {{ block.super }}
{% endblock %}

{% block profile_content %}
  <div class="card">
    <div class="card-header">
      <h4>OIDC Claims</h4>
    </div>
    <div class="card-body">
      <p class="lead">When using BornHack as an IDP (logging into other sites using your BornHack account) you can control which <i>user claims</i> are shared with the remote site by asking for one or more of the following <i>claim scopes</i>:</p>
      <p><ul>
        {% for scope in all_scopes %}
          <li><code>{{ scope }}</code></li>
        {% endfor %}
      </ul></p>
      <p>Note: In addition to this list the default <code>openid</code> scope is available (it is part of the standard) and must always be included when asking for a jwt.</p>
      <p class="lead">This form allows you to see which OIDC user claims are returned for your user with any combination of scopes.</p>
      <form method="GET">
        {% bootstrap_form form %}
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
      <hr>
      {% if not active_scopes %}
        <p class="lead">Select scopes in the form to see user claims</p>
      {% else %}
        <p class="lead">The following user claims will be returned in a jwt with these scopes:</p>
        <p>
          <ul>
            {% for scope in active_scopes %}
              <li><code>{{ scope }}</code></li>
            {% endfor %}
          </ul>
        </p>
        <table class="table table-striped">
          <tr>
            <th>Claim Name</th>
            <th>Required Scope</th>
            <th>Claim Value (JSON)</th>
          </tr>
          <tr>
            <td><code>sub</code></td>
            <td><code>openid</code></td>
            <td>{{ request.user.username }}</td>
          </tr>
          {% for claim, value in claims.items %}
            {% for claimname, scope in scopes.items %}
              {% if claimname == claim %}
                <tr>
                  <td><code>{{ claim }}</code></td>
                  <td><code>{{ scope }}</code></td>
                  <td>{{ value|format_json }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </table>
      {% endif %}
    </div>
  </div>
{% endblock profile_content %}
