    <a href="{% url 'profiles:detail' %}" class="btn btn-black">
      Profile
    </a>
    <a href="{% url 'account_change_password' %}" class="btn btn-black">
      Password
    </a>
    <a href="{% url 'account_email' %}" class="btn btn-black">
      Manage emails
    </a>
    {% if user.orders.exists %}
      <a href="{% url 'shop:order_list' %}" class="btn btn-black">
        Orders
      </a>
      <a href="{% url 'tickets:shopticket_list' %}" class="btn btn-black">
        Tickets
      </a>
      {% if user.creditnotes.exists %}
      <a href="{% url 'shop:creditnote_list' %}" class="btn btn-black">
        Credit Notes
      </a>
      {% endif %}
    {% endif %}
    <a href="{% url 'tokens:tokenfind_list' %}" class="btn btn-black">
        Secret Tokens
    </a>
    <a href="{% url 'account_logout' %}" class="btn btn-black">
      Logout
    </a>

