{% extends 'base.html' %}

{% load account %}
{% load bootstrap4 %}

{% block content %}

<div class="pb-3">
  <h2>Your BornHack Account</h2>
</div>

<div class="row flex-xl-nowrap pt-100">
  <div class="col-md-2">
    <nav class="nav nav-pills flex-column">

      <li><h5>Account settings</h5></li>

      {% url 'profiles:detail' as profile_detail_url %}
      <a href="{{ profile_detail_url }}" class="nav-link {% if request.path == profile_detail_url %}active{% endif %}">
        Profile
      </a>

      {% url 'account_change_password' as password_url %}
      <a href="{{ password_url }}" class="nav-link {% if request.path == password_url %}active{% endif %}">
        Password
      </a>

      {% url 'account_email' as email_url %}
      <a href="{{ email_url }}" class="nav-link {% if request.path == email_url %}active{% endif %}">
        Manage emails
      </a>

      {% url 'two-factor-setup' as two_factor_url %}
      <a href="{{ two_factor_url }}" class="nav-link {% if "two_factor" in request.path %}active{% endif %}">
        Two-Factor settings
      </a>

      {% if user.orders.exists %}
      <li><h5>Shop</h5></li>

      {% url 'shop:order_list' as orders_list_url %}
      <a href="{{ orders_list_url }}" class="nav-link {% if "shop/order" in request.path %}active{% endif %}">
        Orders
      </a>

      {% url 'tickets:shopticket_list' as ticket_list_url %}
      <a href="{{ ticket_list_url }}" class="nav-link {% if "tickets" in request.path %}class="active"{% endif %}">
        Tickets
      </a>

      {% if user.creditnotes.exists %}
      {% url 'shop:creditnote_list' as creditnote_list_url %}
      <a href="{{ creditnote_list_url }}" class="nav-link {% if 'creditnotes' in request.path %}class="active"{% endif %}">
        Credit Notes
      </a>
      {% endif %}

      {% endif %}

      <span><h5>Misc.</h5></span>
      {% url 'tokens:tokenfind_list' as tokenfind_list_url %}
      <a href="{{ tokenfind_list_url }}" class="nav-link {% if request.path == tokenfind_list_url %}class="active"{% endif %}">
        Secret Tokens
      </a>

      <hr />
      <p><b>You are logged in as {{ request.user.email }}</b></p>

    </nav>
  </div>

  <div class="col-md-10">

    {% block profile_content %}{% endblock %}

  </div>
</div>

{% endblock %}
