{% extends 'profile_base.html' %}

{% block profile_content %}
<p class="lead">If you intend to join one or more teams you can use the profile to help the team responsible understand who you are and what you have to offer. Please also include availability if you are not joining us for the entire week.</p>
<p class="lead">Apart from Public Credit Name the information in your profile is only visible to team responsible and organisers.</p>
<h3>Your Profile</h3>
<table class="table table-horisontal">
  <tr>
    <td><b>Name (not visible to the public)</b></td>
    <td>{{ profile.name|default:"N/A" }}</td>
  </tr>
  <tr>
    <td><b>Description (not visible to the public)</b></td>
    <td>{{ profile.description|default:"N/A" }}</td>
  </tr>
  <tr>
    <td><b>Public Credit Name (visible to the public, leave empty if you want no credits on this website)</b></td>
    <td>{{ profile.public_credit_name|default:"N/A" }} {% if profile.public_credit_name %}({% if profile.public_credit_name_approved %}<span class="text-success">approved</span>{% else %}<span class="text-danger">pending approval</span>{% endif %}){% endif %}</td>
  </tr>
  <tr>
    <td><b>NickServ username (visible to the public on IRC, used to handle team channel ACLs)</b></td>
    <td>{{ profile.nickserv_username|default:"N/A" }}</td>
  </tr>
</table>
<a href="{% url 'profiles:update' %}" class="btn btn-black"><i class="fas fa-edit"></i> Edit Profile</a>
{% endblock profile_content %}
