{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% load account %}

{% block title %}
  Profile | {{ block.super }}
{% endblock %}

{% block content %}

  <div class="page-header">
    <h2>Your BornHack Account</h2>
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-2">
      <ul class="nav nav-pills nav-stacked flex-column">

        <li class="nav-item"><h5>Account settings</h5></li>

        {% url 'profiles:detail' as profile_detail_url %}
        <li class="nav-item">
          <a class="nav-link{% if request.path == profile_detail_url %} active{% endif %}" href="{{ profile_detail_url }}">
            Profile
          </a>
        </li>

        {% url 'account_change_password' as password_url %}
        <li class="nav-item">
          <a class="nav-link{% if request.path == password_url %} active{% endif %}" href="{{ password_url }}">
            Password
          </a>
        </li>

        {% url 'account_email' as email_url %}
        <li class="nav-item">
          <a class="nav-link{% if request.path == email_url %} active{% endif %}" href="{{ email_url }}">
            Manage emails
          </a>
        </li>

        {% url 'mfa_index' as two_factor_url %}
        <li class="nav-item">
          <a class="nav-link{% if "profile/2fa" in request.path %} active{% endif %}" href="{{ two_factor_url }}">
            Two-Factor settings
          </a>
        </li>

        {% if user.orders.exists %}
          <li class="nav-item"><h5>Shop</h5></li>

          {% url 'shop:order_list' as orders_list_url %}
          <li class="nav-item">
            <a class="nav-link{% if "shop/order" in request.path %} active{% endif %}" href="{{ orders_list_url }}">
              Orders
            </a>
          </li>

          {% url 'tickets:shopticket_list' as ticket_list_url %}
          <li class="nav-item">
            <a class="nav-link{% if "tickets" in request.path %} active{% endif %}" href="{{ ticket_list_url }}">
              Tickets
            </a>
          </li>

          {% if user.creditnotes.exists %}
            {% url 'shop:creditnote_list' as creditnote_list_url %}
            <li class="nav-item">
              <a class="nav-link{% if 'creditnotes' in request.path %} active{% endif %}" href="{{ creditnote_list_url }}">
                Credit Notes
              </a>
            </li>
          {% endif %}

        {% endif %}

        <li class="nav-item"><h5>Misc.</h5></li>

        {% url 'profiles:permissions_list' as profile_permissions_url %}
        <li class="nav-item">
          <a class="nav-link{% if request.path == profile_permissions_url %} active{% endif %}" href="{{ profile_permissions_url }}">
            Permissions
          </a>
        </li>

        {% url 'profiles:oidc' as profile_oidc_url %}
        <li class="nav-item">
          <a class="nav-link{% if request.path == profile_oidc_url %} active{% endif %}" href="{{ profile_oidc_url }}">
            OIDC Scope<i class="fas fa-arrow-right"></i>Claim
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'maps_user_location_redirect' %}">
            User Locations
          </a>
        </li>

        <hr />
        <p class="text-break">You are logged in as username <b>{{ request.user.username }}</b> with email <b>{{ request.user.email }}</b></p>

      </ul>
    </div>

    <div class="col-sm-12 col-lg-10">

      {% block profile_content %}{% endblock %}

    </div>
  </div>

{% endblock %}
