{% extends 'shop_base.html' %}
{% load bootstrap3 %}
{% load shop_tags %}
{% load bornhack %}

{% block shop_content %}
<h3>Credit Notes</h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Credit Note ID</th>
      <th>Text</th>
      <th class="text-right">Amount</th>
      <th>Paid?</th>
      <th>PDF</th>
    </tr>
  </thead>
  <tbody>
{% for creditnote in creditnotes %}
    <tr>
        <td>{{ creditnote.id }}</td>
        <td>{{ creditnote.text }}</td>
        <td class="text-right">{{ creditnote.amount|currency }}</td>
        <td class="text-center">{{ creditnote.paid|truefalseicon }}</td>
        <td>
          {% if creditnote.pdf %}
            {% url 'shop:download_creditnote' pk=creditnote.pk as creditnote_download_url %}
            {% bootstrap_button "PDF" icon="save-file" href=creditnote_download_url button_class="btn-primary btn-xs" %}
          {% else %}
            N/A
          {% endif %}
        </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
