{% extends 'shop_base.html' %}
{% load django_bootstrap5 %}
{% load bornhack %}

{% block title %}
  Pay In Person | {{ block.super }}
{% endblock %}

{% block shop_content %}

  <h2>Pay In Person</h2>
  <p>To pay order #{{ order.id }} you go to <strong>info desk</strong> (in person) and make the payment of <b>{{ order.total|currency }}</b> with cash, card or mobilepay. You need to bring the <strong>order id #{{ order.id }}</strong> as well so we can mark your order as paid.</p>

  <p>When your order has been marked as paid you will receive an invoice by email.</p>
{% endblock %}
