{% extends 'shop_base.html' %}
{% load django_bootstrap5 %}
{% load bornhack %}

{% block title %}
  Pay In Person | {{ block.super }}
{% endblock %}

{% block shop_content %}

  <h2>Pay In Person</h2>
  <p>To pay order #{{ order.id }} you have to go to <strong>info desk</strong> (in person) and make the payment of <b>{{ order.total|currency }}</b> with cash, card or mobilepay (<strong>you cannot pay website orders in HAX!<strong>). You need to bring the <strong>order id #{{ order.id }}</strong> so we know which order to mark as paid.</p>
  
<p>If physically going to the infodesk is impractical for some reason (due to geography or opening hours), and finding an organiser is inconvenient for you, then you should <a href="{% url 'shop:order_detail' pk=order.id %}">go back</a> and pick a different payment method.</p>

  <p>When your order has been marked as paid you will receive an invoice by email.</p>
{% endblock %}
