{% extends 'shop_base.html' %}
{% load django_bootstrap5 %}

{% block title %}
  Thank you for your payment! | {{ block.super }}
{% endblock %}

{% block shop_content %}
  <h2>Thank you for your payment!</h2>
  <p class="lead">
    {% if order.paid %}
      Thank you for your payment. Your order has been marked as paid.
    {% else %}
      Thank you for your payment. Your order will be marked as paid as soon as we register a callback from our payment provider.</p>
    {% endif %}
  </p>
{% endblock %}
