{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="{% url 'shop:index' %}">Shop</a></li>
      {% if product %}
        <li><a href="{% url 'shop:index' %}?category={{product.category.slug}}">{{ product.category }}</a></li>
        <li class="active">{{ product.name }}</li>
      {% elif current_category %}
        <li class="active">{{ current_category }}</li>
      {% endif %}
      {% if user.is_authenticated and user.orders.exists %}
        {% if user.creditnotes.exists %}
          <li class="pull-right"><a href="{% url 'shop:creditnote_list' %}">Credit Notes</a></li>
        {% endif %}
        {% if has_tickets %}
          <li class="pull-right"><a href="{% url 'tickets:shopticket_list' %}">Tickets</a></li>
        {% endif %}
        <li class="pull-right"><a href="{% url 'shop:order_list' %}">Orders</a></li>
        <li class="pull-right no-before">

          {% if current_order and current_order.get_number_of_items %}
          <a href="{% url 'shop:order_detail' pk=current_order.pk %}">
          {% endif %}

            <i class="glyphicon glyphicon-shopping-cart"></i>
                      <span class="badge">
                      {{ current_order.get_number_of_items|default:0 }}
                      </span>
          {% if current_order and current_order.get_number_of_items %}
          </a>
          {% endif %}
        </li>
      {% endif %}
    </ol>
  </div>
</div>

{% block shop_content %}

{% endblock %}

{% endblock %}

