cache: pip

language: python
python:
  - "3.6"

services:
  - postgresql

addons:
  postgresql: "9.6"

install:
  - pip install -r src/requirements/dev.txt

before_script:
  - psql -c "CREATE ROLE bornhack WITH CREATEDB LOGIN PASSWORD 'bornhack';"

script:
  - cp src/bornhack/environment_settings.py.dist.dev src/bornhack/environment_settings.py
  - coverage run --source src/ src/manage.py test src/

after_success:
  - coveralls
