{% load static from staticfiles %}
{% load bootstrap3 %}
{% load menubutton %}
{% static "" as baseurl %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{% block title %}BornHack{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/bornhack.css' %}" rel="stylesheet">

    {% bootstrap_javascript jquery=1 %}

    <link rel="shortcut icon" href="{% static 'img/shortcut.png' %}">

    {% block extra_head %}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if request.resolver_match.kwargs.camp_slug and camp %}
            <a class="navbar-brand" href="{% url 'camp_detail' camp_slug=camp.slug %}">
              <img src="{% static camp.logo_small %}" class="img-responsive" />
            </a>
          {% else %}
            <a class="navbar-brand" href="/">
              <img src="{% static 'img/logo-small.png' %}" class="img-responsive" />
            </a>
            {% endif %}
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'news:index' %}">News</a></li>
            <li><a href="{% url 'shop:index' %}">Shop</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Camps<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'camp_detail' camp_slug='bornhack-2017' %}">BornHack 2017</a></li>
                <li><a href="{% url 'camp_detail' camp_slug='bornhack-2016' %}">BornHack 2016</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'camp_list' %}">Camp List</a></li>
              </ul>
            </li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'profiles:detail' %}">Account</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
         </ul>
        </div>
      </div>
    </nav>

    <div id="main" class="container container-fluid">
      {% if camp %}
        <div class="row">
          <div class="btn-group btn-group-justified hidden-xs">
            <a class="btn {% menubuttonclass 'camps' %}" href="{% url 'camp_detail' camp_slug=camp.slug %}">{{ camp.title }}</a>
            <a class="btn {% menubuttonclass 'info' %}" href="{% url 'info' camp_slug=camp.slug %}">Info</a></li>
            <a class="btn {% menubuttonclass 'program' %}" href="{% url 'schedule_index' camp_slug=camp.slug %}">Program</a>
            <a class="btn {% menubuttonclass 'villages' %}" href="{% url 'village_list' camp_slug=camp.slug %}">Villages</a>
            <a class="btn {% menubuttonclass 'sponsors' %}" href="{% url 'sponsors' camp_slug=camp.slug %}">Sponsors</a>
            <a class="btn {% menubuttonclass 'teams' %}" href="{% url 'team_list' camp_slug=camp.slug %}">Teams</a>
          </div>
          <div class="btn-group-vertical visible-xs">
            <a class="btn {% menubuttonclass 'camps' %}" href="{% url 'camp_detail' camp_slug=camp.slug %}">{{ camp.title }}</a>
            <a class="btn {% menubuttonclass 'info' %}" href="{% url 'info' camp_slug=camp.slug %}">Info</a></li>
            <a class="btn {% menubuttonclass 'program' %}" href="{% url 'schedule_index' camp_slug=camp.slug %}">Program</a>
            <a class="btn {% menubuttonclass 'villages' %}" href="{% url 'village_list' camp_slug=camp.slug %}">Villages</a>
            <a class="btn {% menubuttonclass 'sponsors' %}" href="{% url 'sponsors' camp_slug=camp.slug %}">Sponsors</a>
            <a class="btn {% menubuttonclass 'teams' %}" href="{% url 'team_list' camp_slug=camp.slug %}">Teams</a>
          </div>
        <p>
      </div>
      {% endif %}
      {% bootstrap_messages %}
      {% block content %}{% endblock %}
      <footer class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            {% block footer %}
            <a href="{% url 'general-terms' %}">General Terms &amp; Conditions</a> |
            <a href="{% url 'conduct' %}">Code of Conduct</a> |
            <a href="{% url 'privacy-policy' %}">Privacy Policy</a> |
            <a href="{% url 'contact' %}">Contact</a>
            {% endblock %}
        </div>
      </footer>
    </div>
  </body>
</html>

