{% load static from staticfiles %}
{% load bootstrap3 %}
{% load menubutton %}
{% static "" as baseurl %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{% block title %}BornHack{% endblock %}</title>

    <!-- j2n5p0IWG7ZxCO2UWr3yoWdSs95DA56N -->

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link href="{% static 'css/fontawesome-all.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/bornhack.css' %}" rel="stylesheet">

    {% bootstrap_javascript jquery=1 %}

    <!-- favicon.ico stuff -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon/favicon.ico' %}" sizes="16x16">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'img/favicon/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    {% block extra_head %}
    {% endblock %}
  </head>

  <body>

    <div id="main" class="container container-fluid">
    <nav class="navbar navbar-fixed-top">
      <div class="container container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if request.resolver_match.kwargs.camp_slug and camp %}
            <a class="navbar-brand" href="{% url 'camp_detail' camp_slug=camp.slug %}">
                <img src="{% static camp.logo_small %}" height="50" width="190px" alt="bornhack" class="img-responsive">
            </a>
          {% else %}
            <a class="navbar-brand" href="/">
              <img src="{% static 'img/logo-small.svg' %}" alt="bornhack" class="img-responsive">
            </a>
            {% endif %}
        </div>
        <div id="top-navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'news:index' %}">News</a></li>
            <li><a href="{% url 'shop:index' %}">Shop</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Camps<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'camp_detail' camp_slug='bornhack-2019' %}">BornHack 2019</a></li>
                <li><a href="{% url 'camp_detail' camp_slug='bornhack-2018' %}">BornHack 2018</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'camp_list' %}">Camp List</a></li>
              </ul>
            </li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'people' %}">People</a></li>
            {% if request.user.is_staff %}
            <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'profiles:detail' %}">Account</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
         </ul>
        </div>
      </div>
    </nav>
      {% if camp %}
        <div class="row">
          <div class="btn-group btn-group-justified hidden-xs">
              {% include 'includes/menuitems.html' %}
          </div>
          <div class="btn-group-vertical visible-xs">
              {% include 'includes/menuitems.html' %}
          </div>
        <p>
      </div>
      {% endif %}
      {% bootstrap_messages %}
      {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="col-sm-12 col-md-12 col-lg-12">
          {% block footer %}
          <a href="{% url 'general-terms' %}">General Terms &amp; Conditions</a> |
          <a href="{% url 'conduct' %}">Code of Conduct</a> |
          <a href="{% url 'privacy-policy' %}">Privacy Policy</a> |
          <a href="{% url 'contact' %}">Contact</a>
          {% endblock %}
      </div>
    </footer>
    <!-- Enable all bootstrap tooltips and jquery datatables on the page, only works if the useragent has JS enabled -->
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            $('.table').DataTable();
        });
    </script>
  </body>
</html>
