{% extends 'base.html' %}

{% block title %}
  Code of Conduct | {{ block.super }}
{% endblock %}

{% block content %}

  <h2>Code of Conduct</h2>

  <p class="lead">We are committed to making BornHack an inclusive and welcoming event for everyone. The most important rule is: Be excellent to each other.</p>
  <p>Sadly, technology events have a notorious reputation for harassment. We've set these ground rules to make it abundantly clear that this kind of behaviour is not acceptable, so that everyone can feel comfortable attending BornHack.</p>

  <p>Everyone who visits BornHack is required to abide by this code of conduct, both at the event and on any online channels. We will not tolerate harassment of participants or discriminatory behaviour of any form. Specifically:</p>

  <p>
    <ul>
      <li>Do not engage in homophobic, racist, transphobic, ableist, sexist, or otherwise prejudiced behaviour.</li>
      <li>Do not harass people. Stalking, unconsented physical contact, or unwanted sexual attention is harassment. Dressing or acting in a certain way is not consent.</li>
      <li>BornHack is a shared space, but every participant's personal space is their own. If you are asked to leave someone alone, or to leave a village, you must respect this.</li>
      <li>Some attendees may not want to be filmed or photographed. Respect their wishes.</li>
      <li>Aggression and elitism are not welcome — nobody should be afraid to ask questions.</li>
    </ul>
  </p>

  <p>BornHack takes place in an area with beautiful nature all around. We expect everyone to treat the venue with the utmost care and respect. We will not tolerate any kind of vandalism against nature, this includes littering. We are guests in nature, and everyone is expected to act as such.</p>

  <p>If you break these rules, we may expel you from the event without a refund, and we may ban you from future BornHack events.</p>

  <p>If you are being harassed or witness a breach of this code of conduct, you can get in touch with us in the following ways:</p>

  <p>
    <ul>
      <li>Find a member of event staff and let them know. All our volunteer staff will be briefed on how to handle a harassment situation.</li>
      <li>Drop us an email at conduct@bornhack.org. If you prefer to speak to a female you can write to sarah@bornhack.org. If you prefer to speak to a male you can write to moozer@bornhack.org.</li>
      <li>Call the on duty CERT person on +45 3155 0497 (24 hours)</li>
    </ul>
  </p>

  <p>If you have any comments or queries, you can get in touch with our conduct team at conduct@bornhack.org.</p>

  <p><i>This Code of Conduct is heavily based on (if not verbatim stolen from) our friends at EMFs <a href="https://www.emfcamp.org/code-of-conduct">Code of Conduct</a>.</i></p>

{% endblock %}
