{% extends 'base.html' %}

{% load account %}
{% load bootstrap3 %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <p>
        <a href="{% url 'account_change_password' %}" class="btn btn-black">
          Change password
        </a>
        <a href="{% url 'account_email' %}" class="btn btn-black">
          Manage emails
        </a>

        {% if user.is_authenticated and user.orders.exists %}
      <a href="{% url 'shop:order_list' %}" class="btn btn-black">
        Orders
      </a>
        {% if has_tickets %}
        <a href="{% url 'shop:ticket_list' %}" class="btn btn-black">
          Tickets
        </a>
        {% endif %}
      {% endif %}
      </p>
    <hr />
    </div>
  </div>


  {% block profile_content %}{% endblock %}

{% endblock %}
