{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load django_bootstrap5 %}

{% block title %}
  Login | {{ block.super }}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>{% trans "Login" %}</h1>

      <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

      <form class="login" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="form-control btn btn-primary" type="submit">{% trans "Login" %}</button>
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Lost Password?" %}</a>
      </form>
    </div>
  </div>

{% endblock %}
