{% extends 'profile_base.html' %}

{% load account %}
{% load django_bootstrap5 %}

{% block title %}
  Change password | {{ block.super }}
{% endblock %}

{% block profile_content %}

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Change Password</h4>
        </div>
        <div class="card-body">

          <form class="login" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary" type="submit">Save</button>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
