{% extends "base.html" %}

{% load account %}
{% load django_bootstrap5 %}

{% block title %}
  {% if token_fail %}Invalid link{% else %}Reset password{% endif %} | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h1>{% if token_fail %}Invalid link{% else %}Reset password{% endif %}</h1>
      {% if token_fail %}
        <p>
          The given token is invalid.
        </p>
        <p>
          <a href="{% url 'account_reset_password' %}" class="btn btn-primary">Request new reset</a>
        </p>
      {% else %}
        {% if form %}
          <form class="login" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="form-control btn btn-black" type="submit">Reset password</button>
          </form>
        {% else %}
          <p>Your password has been reset</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
