{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load django_bootstrap5 %}

{% block title %}
  Signup | {{ block.super }}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>{% trans "Signup" %}</h1>

      <form class="login" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="form-control btn btn-success" type="submit">{% trans "Sign Up" %}</button>
      </form>
    </div>
  </div>

{% endblock %}
