# make this a long 100+ chars random string
SECRET_KEY = '{{ django_secret_key }}'

ALLOWED_HOSTS = {{ django_allowed_hostnames }}

# Database settings
# https://docs.djangoproject.com/en/1.10/ref/settings/#databases
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ django_postgres_dbname }}',
        'USER': '{{ django_postgres_user }}',
        'PASSWORD': '{{ django_postgres_password }}',
        'HOST': '{{ django_postgres_host }}',
    },
}

DEBUG={{ django_debug }}

# the path to the wkhtmltopdf binary
WKHTMLTOPDF_CMD="{{ wkhtmltopdf_path }}"

# set BACKEND to "asgiref.inmemory.ChannelLayer" and CONFIG to {} for local development
CHANNEL_LAYERS = {
    "default": {
        "BACKEND": "{{ django_channels_backend }}",
        "ROUTING": "bornhack.routing.channel_routing",
        "CONFIG": {{ django_channels_config }}
    },
}

# start redirecting to the next camp instead of the previous camp after
# this much of the time between the camps has passed
CAMP_REDIRECT_PERCENT=25

### changes below here are only needed for production

# email settings
EMAIL_HOST='{{ django_email_host }}'
EMAIL_PORT={{ django_email_port }}
EMAIL_HOST_USER='{{ django_email_user }}'
EMAIL_HOST_PASSWORD='{{ django_email_password }}'
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL='{{ django_email_from }}'
ARCHIVE_EMAIL='{{ django_archive_email }}'

ADMINS={{ django_admins }}

# misc settings
TIME_ZONE='{{ django_timezone }}'
MEDIA_ROOT='{{ django_media_root }}'
PDF_ARCHIVE_PATH='{{ pdf_archive_path }}'

# PSP settings
EPAY_MERCHANT_NUMBER='{{ epay_merchant_number }}'
EPAY_MD5_SECRET='{{ epay_md5_secret }}'
COINIFY_API_KEY='{{ coinify_api_key }}'
COINIFY_API_SECRET='{{ coinify_api_secret }}'
COINIFY_IPN_SECRET='{{ coinify_ipn_secret }}'
COINIFY_CALLBACK_HOSTNAME='{{ coinify_callback_hostname | default('') }}' # leave empty or comment out to use hostname from request

# shop settings
PDF_LETTERHEAD_FILENAME='{{ pdf_letterhead_filename }}'
BANKACCOUNT_IBAN='{{ iban }}'
BANKACCOUNT_SWIFTBIC='{{ swiftbic }}'
BANKACCOUNT_REG='{{ regno }}'
BANKACCOUNT_ACCOUNT='{{ accountno }}'
TICKET_CATEGORY_NAME='Tickets'

# schedule settings
SCHEDULE_MIDNIGHT_OFFSET_HOURS=9
SCHEDULE_TIMESLOT_LENGTH_MINUTES=30
SCHEDULE_EVENT_NOTIFICATION_MINUTES=10

# irc bot settings
IRCBOT_CHECK_MESSAGE_INTERVAL_SECONDS=10
IRCBOT_NICK='{{ django_ircbot_nickname }}'
IRCBOT_NICKSERV_PASSWORD='{{ django_ircbot_nickserv_password }}'
IRCBOT_SERVER_HOSTNAME='{{ django_ircbot_server }}'
IRCBOT_SERVER_PORT=6697
IRCBOT_SERVER_USETLS=True
IRCBOT_CHANNELS={
    'default': '{{ django_ircbot_default_channel }}',
    'orga': '{{ django_ircbot_orga_channel }}',
    'public': '{{ django_ircbot_public_channel }}'
}

SENDFILE_ROOT = MEDIA_ROOT
SENDFILE_URL = '{{ django_sendfile_url }}'
SENDFILE_BACKEND = '{{ django_sendfile_backend }}'
