# make this a long 100+ chars random string
SECRET_KEY = '{{ django_secret_key }}'

ALLOWED_HOSTS = {{ django_allowed_hostnames }}

# Database settings
# https://docs.djangoproject.com/en/1.10/ref/settings/#databases
DATABASES = {
    'default': {
        'ENGINE': 'django_prometheus.db.backends.postgis',
        'NAME': '{{ django_postgres_dbname }}',
        'USER': '{{ django_postgres_user }}',
        'PASSWORD': '{{ django_postgres_password }}',
        'HOST': '{{ django_postgres_host }}',
    },
}

DEBUG={{ django_debug }}
DEBUG_TOOLBAR_ENABLED={{ django_debug_toolbar_enabled }}


# start redirecting to the next camp instead of the previous camp after
# this much of the time between the camps has passed
CAMP_REDIRECT_PERCENT=25

### changes below here are only needed for production

# email settings
{% if not django_email_realworld | default(False) %}
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
{% endif %}
EMAIL_HOST='{{ django_email_host }}'
EMAIL_PORT={{ django_email_port }}
EMAIL_HOST_USER='{{ django_email_user }}'
EMAIL_HOST_PASSWORD='{{ django_email_password }}'
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL='{{ django_email_from }}'
ARCHIVE_EMAIL='{{ django_archive_email }}'

ADMINS={{ django_admins }}

# OIDC private key
OIDC_RSA_PRIVATE_KEY="""{{ oidc_rsa_private_key }}"""

# misc settings
TIME_ZONE='{{ django_timezone }}'
MEDIA_ROOT='{{ django_media_root }}'
PDF_TEST_MODE = {{ pdf_test_mode }}
PDF_ARCHIVE_PATH='{{ pdf_archive_path }}'

# PSP settings
QUICKPAY_API_KEY="{{ quickpay_api_key }}"
QUICKPAY_PRIVATE_KEY="{{ quickpay_private_key }}"

COINIFY_API_URL='{{ coinify_api_url }}'
COINIFY_API_KEY='{{ coinify_api_key }}'
COINIFY_IPN_SECRET='{{ coinify_ipn_secret }}'

# shop settings
BANKACCOUNT_BANK='{{ bank_name }}'
BANKACCOUNT_IBAN='{{ iban }}'
BANKACCOUNT_SWIFTBIC='{{ swiftbic }}'
BANKACCOUNT_REG='{{ regno }}'
BANKACCOUNT_ACCOUNT='{{ accountno }}'
TICKET_CATEGORY_NAME='Tickets'

# Dataforsyningen kort (datafordeler.dk)
# Notice! These credentials MUST be for a 'tjenestebruger' and not a 'webbruger'
DATAFORDELER_USER='{{ datafordeler_user }}'
DATAFORDELER_PASSWORD='{{ datafordeler_password }}'

# schedule settings
SCHEDULE_MIDNIGHT_OFFSET_HOURS=9
SCHEDULE_TIMESLOT_LENGTH_MINUTES=30
SCHEDULE_EVENT_NOTIFICATION_MINUTES=10
SPEAKER_AVAILABILITY_DAYCHUNK_HOURS=3 # how many hours per speaker_availability form checkbox

# irc bot settings
IRCBOT_CHECK_MESSAGE_INTERVAL_SECONDS=10
IRCBOT_NICK='{{ django_ircbot_nickname }}'
IRCBOT_CHANSERV_MASK='{{ django_ircbot_chanserv_mask }}'
IRCBOT_NICKSERV_MASK='{{ django_ircbot_nickserv_mask }}'
IRCBOT_NICKSERV_PASSWORD='{{ django_ircbot_nickserv_password }}'
IRCBOT_NICKSERV_EMAIL='{{ django_ircbot_nickserv_email }}'
IRCBOT_NICKSERV_IDENTIFY_STRING="This nickname is registered. Please choose a different nickname, or identify via \x02/msg NickServ identify <password>\x02."
IRCBOT_SERVER_HOSTNAME='{{ django_ircbot_server }}'
IRCBOT_SERVER_PORT=6697
IRCBOT_SERVER_USETLS=True
IRCBOT_PUBLIC_CHANNEL='{{ django_ircbot_public_channel }}'
IRCBOT_VOLUNTEER_CHANNEL='{{ django_ircbot_volunteer_channel }}'

# set BACKEND to "channels.layers.InMemoryChannelLayer" and CONFIG to {} for local development
CHANNEL_LAYERS = {
    "default": {
        "BACKEND": "{{ django_channels_backend }}",
        "CONFIG": {{ django_channels_config }}
    },
}

ACCOUNTINGSYSTEM_EMAIL = "{{ django_accountingsystem_email }}"
ECONOMYTEAM_EMAIL = "{{ django_economyteam_email }}"
ECONOMYTEAM_NAME = "Economy"

BORNHACK_2019_OLD_TOKEN_TOKEN = "{{ bornhack_2019_old_token_token }}"
BACKOFFICE_PROXY_URLS = {{ backoffice_proxy_urls }}

QUICKPAY_API_KEY="{{ quickpay_api_key }}"
QUICKPAY_PRIVATE_KEY="{{ quickpay_private_key }}"

BMA_BASEURL="{{ bma_baseurl }}"
