{% extends 'program_base.html' %}
{% load bootstrap3 %}
{% load program %}

{% block program_content %}
<h3>Submit {{ camp.title }} {{ eventtype.name }} <i class="fas fa-{{ eventtype.icon }}" style="color: {{ eventtype.color }};"></i></h3>

<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    {% if field.id_for_label == "id_speakerproposal-submission_notes" %}
      {% availabilitytable form=form.speakerproposal matrix=matrix %}
      {% bootstrap_field field %}
    {% else %}
    {% if field.name|slice:":12" != "availability" %}
      {% bootstrap_field field %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% bootstrap_button "Submit for Review" button_type="submit" button_class="btn-primary" %}
</form>

{% endblock program_content %}

