{% extends 'program_base.html' %}

{% block program_content %}

{% if not camp.call_for_participation_open %}
<div class="alert alert-danger">
    <strong>Note!</strong> This Call for Participation is not open.
</div>
{% endif %}

<h2>Details for {{ eventproposal.title }}</h2>

{% include 'includes/eventproposal_detail.html' %}

<p>
  <a href="{% url 'program:proposal_list' camp_slug=camp.slug %}" class="btn btn-primary">Back to List</a>
  {% if camp.call_for_participation_open and not camp.read_only %}
    <a href="{% url 'program:eventproposal_delete' camp_slug=camp.slug pk=eventproposal.uuid %}" class="btn btn-danger pull-right"><i class="fas fa-times"></i><span class="h5"> Delete</span></a>
  {% endif %}
</p>

{% endblock program_content %}
