{% extends 'program_base.html' %}

{% block program_content %}
{% if event_list %}
    <p class="lead">
      An alphabetical list of all talks, workshops, keynotes and other events
      at {{ camp.title }}. The list does not include facilities like bar opening hours.
    </p>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Type</th>
          <th>Title</th>
          <th>Speakers</th>
        </tr>
      </thead>
      <tbody>
      {% for event in event_list %}
      {% if event.event_type.include_in_event_list %}
        <tr>
          <td style="background-color: {{ event.event_type.color }}; ">
            <a href="{% url 'schedule_index' camp_slug=camp.slug %}?type={{ event.event_type.slug }}" style="color: {% if event.event_type.light_text %}white{% else %}black{% endif %};">
              {{ event.event_type.name }}
            </a>
          </td>
          <td>
              <a href="{% url 'event_detail' camp_slug=camp.slug slug=event.slug %}">{{ event.title }}</a>
          </td>
          <td>
            {% for speaker in event.speaker_set.all %}
              <a href="{% url 'speaker_detail' camp_slug=camp.slug slug=speaker.slug %}">{{ speaker.name }}</a><br>
            {% empty %}
              N/A
            {% endfor %}
          </td>
        </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>
{% else %}
      <h2>No events for {{ camp.title }} yet!</h2>
{% endif %}
{% endblock program_content %}
