{% extends 'program_base.html' %}
{% load commonmark %}

{% block program_content %}

<h2>{{ camp.title }} Event Proposal Details</h2>

<ul>
    <li class="list">Status: <span class="badge">{{ eventproposal.proposal_status }}</span></li>
    <li class="list">ID: <span class="badge">{{ eventproposal.uuid }}</span></li>
</ul>

<div class="panel panel-default">
    <div class="panel-heading">{{ eventproposal.title }}</div>
    <div class="panel-body">
       {{ eventproposal.abstract|commonmark }}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Events</div>
    <div class="panel-body">
      {% if eventproposal.speakers.exists %}
        {% include 'includes/speaker_proposal_table.html' with speakerproposals=eventproposal.speakers.all %}
      {% else %}
        <i>Nothing found.</i>
      {% endif %}
    </div>
</div>

<p>
    <a href="{% url 'program:proposal_list' camp_slug=camp.slug %}" class="btn btn-primary">Back to List</a>
</p>

{% endblock program_content %}
