    <div class="modal" id="event-template" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body modal-body-content">
          </div>
          <div class="modal-body">
              <h4>Speaker(s):</h4>
              <ul class="speakers">
              </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <a class="favorite-button btn btn-success"><i class="fa fa-star"></i> Favorite</a>
            <a class="more-button btn btn-info" href=""><i class="fa fa-info"></i> More</a>
          </div>
        </div>
      </div>
    </div>
