{% extends 'base.html' %}

{% block content %}

{% with url_name=request.resolver_match.url_name proposal_urls="proposal_list,speakerproposal_create,speakerproposal_detail,speakerproposal_update,speakerproposal_submit,speakerproposal_picture,eventproposal_create,eventproposal_detail,eventproposal_update,eventproposal_submit" %}

<div class="row">
  <div class="btn-group btn-group-justified hidden-xs">
      {% include 'includes/program_menu.html' %}
  </div>
  <div class="btn-group-vertical visible-xs">
      {% include 'includes/program_menu.html' %}
  </div>
</div>
<p>
{% block program_content %}
{% endblock program_content %}

{% endwith %}

{% endblock content %}
