{% extends 'program_base.html' %}

{% block program_content %}
<table>
    <tbody>
        <table>
            {% for timeslot in timeslots %}
            <tr>
                <td style="height: 50px; padding: 5px;">{{ timeslot.time }}</td>
                {% for eventinstance in eventinstances %}
                    {% if eventinstance.when.lower.time == timeslot.time %}
                    <td style="background-color: {{ eventinstance.event.event_type.color }}; color: {% if eventinstance.event.event_type.light_text %}white{% else %}black{% endif %};" class="event" rowspan={{ eventinstance.timeslots }}>
                        <a style="color:inherit;" href="{% url 'event_detail' camp_slug=camp.slug slug=eventinstance.event.slug %}">
                            {{ eventinstance.event.title }}<br>
                            {{ eventinstance.when.lower.time }}-{{ eventinstance.when.upper.time }}
                        </a>
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </tbody>
</table>
{% endblock program_content %}
