{% extends 'program_base.html' %}

{% block title %}
Proposals | {{ block.super }}
{% endblock %}

{% block program_content %}

{% include 'includes/event_proposal_type_select.html' %}

{% if speakerproposal_list or eventproposal_list %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fas fa-pencil"></i> Existing Proposals</h3>
  </div>
  <div class="panel-body">
    <div class="col-sm-10 col-md-10 col-lg-10">
        <h4>People</h4>
        {% if speakerproposal_list %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="text-center">Events</th>
                    <th>Status</th>
                    <th class="text-right">Available Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for speakerproposal in speakerproposal_list %}
                <tr>
                    <td><span class="h4">{{ speakerproposal.name }}</span></td>
                    <td class="text-center">
                        {% if speakerproposal.eventproposals.all %}
                            {% for ep in speakerproposal.eventproposals.all %}
                                <a href="{% url 'program:eventproposal_update' camp_slug=camp.slug pk=ep.uuid %}"><i class="fas fa-{{ ep.event_type.icon }} fa-lg" style="color: {{ ep.event_type.color }};" data-toggle="tooltip" title="{{ ep.title }} ({{ ep.event_type.name }})"></i></a>
                            {% endfor %}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td><span class="badge">{{ speakerproposal.proposal_status }}</span></td>
                    <td class="text-right">
                        {% if not camp.read_only %}
                            <a href="{% url 'program:speakerproposal_update' camp_slug=camp.slug pk=speakerproposal.uuid %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i><span class="h5"> Modify</span></a>
                            <a href="{% url 'program:eventproposal_typeselect' camp_slug=camp.slug speaker_uuid=speakerproposal.uuid %}" class="btn btn-success btn-sm" data-toggle="tooltip" title="Click to add a new talk/act/event for '{{ speakerproposal.name }}'"><i class="fas fa-plus"></i><span class="h5"> Add Event</span></a>
                            {% if not speakerproposal.eventproposals.all %}
                                <a href="{% url 'program:speakerproposal_delete' camp_slug=camp.slug pk=speakerproposal.uuid %}" class="btn btn-danger btn-sm"><i class="fas fa-times"></i><span class="h5"> Delete</span></a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <i>Nothing found.</i>
        {% endif %}

        <p><hr></p>

        <h4>Events</h4>
        {% if eventproposal_list %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>People</th>
                    <th>Track</th>
                    <th>Status</th>
                    <th class='text-right'>Available Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for eventproposal in eventproposal_list %}
                <tr>
                    <td><span class="h4">{{ eventproposal.title }}</span></td>
                    <td><i class="fas fa-{{ eventproposal.event_type.icon }} fa-lg" style="color: {{ eventproposal.event_type.color }};"></i><span class="h4"> {{ eventproposal.event_type }}</span></td>
                    <td><span class="h4">{% for person in eventproposal.speakers.all %}<a href="{% url 'program:speakerproposal_update' camp_slug=camp.slug pk=person.uuid %}"><i class="fas fa-user" data-toggle="tooltip" title="{{ person.name }}"></i></a> {% endfor %}</span></td>
                    <td><span class="h4">{{ eventproposal.track.name }}</span></td>
                    <td><span class="badge">{{ eventproposal.proposal_status }}</span></td>
                    <td class='text-right'>
                        {% if not camp.read_only %}
                            <a href="{% url 'program:eventproposal_update' camp_slug=camp.slug pk=eventproposal.uuid %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i><span class="h5"> Modify</span></a>
                            {% if eventproposal.get_available_speakerproposals.exists %}
                                <a href="{% url 'program:eventproposal_selectperson' camp_slug=camp.slug event_uuid=eventproposal.uuid %}" class="btn btn-success btn-sm"><i class="fas fa-plus"></i><span class="h5"> Add {{ eventproposal.event_type.host_title }}</span></a>
                            {% else %}
                                <a href="{% url 'program:speakerproposal_create' camp_slug=camp.slug event_uuid=eventproposal.uuid %}" class="btn btn-success btn-sm"><i class="fas fa-plus"></i><span class="h5"> Add {{ eventproposal.event_type.host_title }}</span></a>
                            {% endif %}
                            <a href="{% url 'program:eventproposal_delete' camp_slug=camp.slug pk=eventproposal.uuid %}" class="btn btn-danger btn-sm"><i class="fas fa-times"></i><span class="h5"> Delete</span></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <i>Nothing found.</i>
        {% endif %}
      </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Status Help<i class="fas fa-question fa-pull-right"></i></h3>
        </div>
        <div class="panel-body">
            <dl>
                <dt><span class="badge">pending</span></dt>
                <dd>Submission is pending review from the Content Team.</dd><br>
                <dt><span class="badge">approved</span></dt>
                <dd>Submission was approved and will be part of this years camp.</dd><br>
                <dt><span class="badge">rejected</span></dt>
                <dd>Submission was not approved.</dd>
            </dl>
        </div>
      </div>
  </div>
</div>
{% endif %}

{% endblock %}
