{% extends 'program_base.html' %}

{% block title %}
Proposals | {{ block.super }}
{% endblock %}

{% block program_content %}

{% if camp.call_for_participation_open %}
    {% include 'includes/event_proposal_type_select.html' %}
{% else %}
<div class="alert alert-danger">
    <strong>Note!</strong> This Call for Particilation is not open.
</div>
{% endif %}


{% if speakerproposal_list or eventproposal_list %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fas fa-pencil"></i> Existing Proposals</h3>
  </div>
  <div class="panel-body">
    <h4>People</h4>
    {% if speakerproposal_list %}
    {% include 'includes/speaker_proposal_table.html' with speakerproposals=speakerproposal_list %}
    {% else %}
    <i>Nothing found.</i>
    {% endif %}

    <p><hr></p>

    <h4>Events</h4>
    {% if eventproposal_list %}
    {% include 'includes/event_proposal_table.html' with eventproposals=eventproposal_list %}
    {% else %}
    <i>Nothing found.</i>
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock %}
