{% extends 'schedule_base.html' %}

{% block schedule_content %}
{% for day in camp.camp_days %}
  {{ day.lower.date|date:"D d/m" }} <br />
  <div style="display: flex; flex-wrap: wrap;">
    {% for eventinstance in eventinstances %}
    {% if eventinstance.schedule_date == day.lower.date %}
    <a class="event"
       href="{% url 'event_detail' camp_slug=camp.slug slug=eventinstance.event.slug %}"
       style="background-color: {{ eventinstance.event.event_type.color }}; border: 0; color: {% if eventinstance.event.event_type.light_text %}white{% else %}black{% endif %};">
      <small>{{ eventinstance.when.lower|date:"H:i" }} - {{ eventinstance.when.upper|date:"H:i" }}</small>
      <br />
      {{ eventinstance.event.title }}
      <br />
    </a>
    {% endif %}
  {% endfor %}
  </div>
<hr />
 {% endfor %}

{% endblock schedule_content %}
