{% extends 'program_base.html' %}
{% load commonmark %}

{% block program_content %}

<div class="row">
  <noscript>
    <a href="{% url "program:noscript_schedule_index" camp_slug=camp.slug %}" class="btn btn-primary">
      Back to noscript schedule
    </a>
    <hr />
  </noscript>
</div>

<div class="row">
  <div class="panel panel-default">
      <div class="panel-heading" ><span style="font-size: x-large"><i class="fas fa-{{ event.event_type.icon }} fa-lg" style="color: {{ event.event_type.color }};"></i> {{ event.title }}</span></div>
    <div class="panel-body">
      <p>
      {{ event.abstract|untrustedcommonmark }}
     </p>

      <hr>

      <h3>URLs for {{ event.title }}</h3>
      {% if event.urls.exists %}
        {% for url in event.urls.all %}
            <p><i class="{{ url.urltype.icon }}"></i> <b>{{ url.urltype }}</b>: <a href="{{ url.url }}" target="_blank" data-toggle="tooltip" title="{{ url.urltype }}">{{ url.url }}</a></p>
        {% endfor %}
      {% else %}
        <p><i>No URLs found.</i></p>
      {% endif %}

      <hr />

      <h4>Instances</h4>
      <ul class="list-group">
      {% for ei in event.instances.all %}
        <li class="list-group-item">{{ ei.when.lower|date:"l M. d H:i" }} - {{ ei.when.upper|date:"H:i" }}</li>
      {% empty %}
        No instances scheduled yet
      {% endfor %}
      </ul>

      <hr>

      {% if event.speakers.exists %}
      <h4>{{ event.event_type.host_title }}(s):</h4>
        <div class="list-group">
        {% for speaker in event.speakers.all %}
        <h4><a href="{% url 'program:speaker_detail' camp_slug=camp.slug slug=speaker.slug %}" class="list-group-item">{{ speaker.name }}</a></h4>
        {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock program_content %}

