{% extends 'program_base.html' %}
{% load commonmark %}

{% block program_content %}
<div class="panel panel-default">
    <div class="panel-heading" ><span style="font-size: x-large"><span style="background-color: {{ event.event_type.color }}; border: 0; color: {% if event.event_type.light_text %}white{% else %}black{% endif %}; display: inline-block; padding: 5px;">{{ event.event_type.name }}</span> {{ event.title }}</span></div>
  <div class="panel-body">
    <p>
    {{ event.abstract|commonmark }}
    {% if event.speakers.exists %}
        <hr>
        {% for speaker in event.speakers.all %}
          <h4><a href="{% url 'speaker_detail' camp_slug=camp.slug slug=speaker.slug %}">{{ speaker }}</a></h4>
          {{ speaker.biography|commonmark }}
        {% endfor %}
    {% endif %}
    </p>

    <hr>

    <h4>Instances</h4>
    <ul class="list-group">
    {% for ei in event.instances.all %}
      <li class="list-group-item">{{ ei.when.lower|date:"l M. d H:i" }} - {{ ei.when.upper|date:"H:i" }}</li>
    {% empty %}
      No instances scheduled yet
    {% endfor %}
    </ul>
    </h4>
  </div>
</div>
{% endblock program_content %}

