{% extends 'program_base.html' %}

{% load commonmark %}
{% load staticfiles %}

{% block extra_head %}
<noscript>
    <meta http-equiv="refresh" content="0; url={% url "program:noscript_schedule_index" camp_slug=camp.slug %}" />
</noscript>
{% endblock %}

{% block program_content %}

<noscript>
    <div class="row">
        <p>
        No javascript? Don't worry, we have a HTML only version of the schedule! Redirecting you there now.
        </p>
        <p>
        <a href="{% url "program:noscript_schedule_index" camp_slug=camp.slug %}">
            Click here if you are not redirected.
        </a>
        </p>
    </div>
</noscript>

<div id="schedule-container"></div>

<script src="{% static "js/elm_based_schedule.js" %}"></script>

<script>
var container = document.getElementById('schedule-container');
var elm_app = Elm.Main.embed(
    container,
    { 'schedule_timeslot_length_minutes': Number('{{ schedule_timeslot_length_minutes }}')
    , 'schedule_midnight_offset_hours': Number('{{ schedule_midnight_offset_hours }}')
    , 'ics_button_href': "{% url 'program:ics_view' camp_slug=camp.slug %}"
    , 'camp_slug': "{{ camp.slug }}"
    , 'websocket_server': "wss://" + window.location.host + "/schedule/"
    }
);
</script>

{% endblock %}
