{% extends 'program_base.html' %}
{% load commonmark %}

{% block program_content %}

<h2>{{ camp.title }} Speaker Proposal Details</h2>

<ul>
    <li class="list">Status: <span class="badge">{{ speakerproposal.proposal_status }}</span></li>
    <li class="list">ID: <span class="badge">{{ speakerproposal.uuid }}</span></li>
</ul>

<div class="panel panel-default">
    <div class="panel-heading">{{ speakerproposal.name }}</div>
    <div class="panel-body">
        {% if speakerproposal.picture_large and speakerproposal.picture_small %}
        <div class="row">
          <div class="col-md-8 text-container">
        {{ speakerproposal.biography|commonmark }}
          </div>
          <div class="col-md-4">
            <a href="{% url 'program:speakerproposal_picture' camp_slug=camp.slug pk=speakerproposal.pk picture='large' %}" >
              <img src="{% url 'program:speakerproposal_picture' camp_slug=camp.slug pk=speakerproposal.pk picture='thumbnail' %}" alt="{{ camp.title }} speaker picture of {{ speakerproposal.name }}">
            </a>
          </div>
        </div>
        {% else %}
        {{ speakerproposal.biography|commonmark }}
        {% endif %}
    </div>
</div>

<p>
    <a href="{% url 'program:proposal_list' camp_slug=camp.slug %}" class="btn btn-primary">Back to List</a>
</p>

{% endblock program_content %}
