{% extends 'program_base.html' %}
{% load commonmark %}

{% block program_content %}

<h2>{{ speakerproposal.name }} Details</h2>

<div class="panel panel-default">
    <div class="panel-heading">{{ speakerproposal.name }}</div>
    <div class="panel-body">
        {{ speakerproposal.biography|commonmark }}
        <a href="{% url 'program:speakerproposal_update' camp_slug=camp.slug pk=speakerproposal.uuid %}" class="btn btn-primary btn-sm pull-right"><i class="fas fa-edit"></i><span class="h5"> Modify</span></a>
    </div>
    <div class="panel-footer">Status: <span class="badge">{{ speakerproposal.proposal_status }}</span> | ID: <span class="badge">{{ speakerproposal.uuid }}</span></div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Events</div>
    <div class="panel-body">
      {% if speakerproposal.eventproposals.exists %}
        {% include 'includes/event_proposal_table.html' with eventproposals=speakerproposal.eventproposals.all %}
      {% else %}
        <i>Nothing found.</i>
      {% endif %}
    </div>
</div>

<p>
    <a href="{% url 'program:proposal_list' camp_slug=camp.slug %}" class="btn btn-primary">Back to List</a>
</p>

{% endblock program_content %}
