{% load static from staticfiles %}
{% load shop_tags %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<table style="width:100%;">
    <tr>
        <td style="width: 75%;">&nbsp;</td>
        <td>
            <h3>
                {{ creditnote.created|date:"b jS, Y" }}<br>
                Creditnote #{{ creditnote.pk }}
            </h3>
        </td>
    </tr>
</table>
<h3>Customer: {{ creditnote.user.email }}</h3>
<br>
<h2>CREDITNOTE</h2>
<table style="width:90%; margin:1em;">
    <tr>
      <td>
        <b>Text
      <td>
        <b>Amount
  <tr>
    <td width="70%">
      {{ creditnote.text }}
    <td align="right">
      {{ creditnote.amount|currency }}

  <tr>
    <td align="right">
      <strong>Danish VAT (25%)</strong>
    <td align="right">
      {{ creditnote.vat|currency }}

  <tr>
    <td align="right">
      <strong>Total</strong>
    <td align="right">
      {{ creditnote.amount|currency }}
</table>
