<div class="icon-selector-widget">
  {% include "django/forms/widgets/input.html" %}
  <script>
    document.addEventListener('DOMContentLoaded', function(event) {
      const uip = new UniversalIconPicker('#id_{{widget.name}}', {
        iconLibraries: [
          'font-awesome-6.7.2.json',
        ],
        onSelect: function(jsonIconData) {
          document.getElementById('id_{{widget.name}}').value = jsonIconData.iconClass;
        },
        onReset: function() {
          document.getElementById('id_{{widget.name}}').value = '';
        }
      });
    });
  </script>
</div>
