Hello!<br>
<br>
This email contains the invoice for your purchase from BornHack.<br>
Your order number is <b>{{ ordernumber }}</b> and your invoice number is <b>{{ invoicenumber }}</b>.<br>
<br>
Your order has been paid in full. The invoice is attached in PDF format with the filename <b>{{ filename }}</b>.<br>
<br>
Tickets will be generated closer to the event. Ticket holders will receive an email when tickets can be downloaded from the webshop. Merchandise can be picked up from the info booth during the event.<br>
<br>
Thank your for your purchase!<br>
<br>
<br>
Best regards,<br>
<br>
The BornHack Team<br>
<br>