{% extends 'base.html' %}

{% block content %}

<h2>Terms and Conditions for BornHack IvS’ sale and delivery of (i) merchandise (ii) tickets and/or (iii) accommodation</h2>
<p>These conditions apply to all sale and deliveries made from BornHack IvS (hereinafter referred to as the "Supplier" or "we") to Danish and foreign customers (hereinafter referred to as "Customer" or "you").</p>

<p>Sale and deliveries under these conditions can consist of (i) sale of t-shirts and other merchandise and physical items ("Merchandise"), (ii) sale of tickets to the festival BornHack 2016 ("Tickets"), and (iii) sale of accommodation before, during and after the Festival ("Accommodation")</p>

<h3>1. Conclusion of agreement</h3>

<h4>1.1 Order procedure</h4>

<p>A binding purchasing agreement has been concluded when we have sent your invoice by electronic mail and such invoice has reached your mail server. The invoice will state order number, invoice number, and a list of all the products and/or services purchased.</p>

<p>You are encouraged to print the invoice immediately upon receipt because it may be relevant in case of replacement, cancellation or complaint.</p>

<p>Any vouchers, discount codes and similar are personal and you are not allowed to let any other person use such vouchers, discounts codes etc. We will hold you liable for any misuse of such personal vouchers etc.</p>

<h3>2. Prices and payment</h3>

<p>All prices are stated inclusive of value added tax. The price applicable is the price set out next to the product or services in question on the website on the date of ordering.</p>

<p>The following credit cards and debit cards can be used for payment: Visa, Mastercard, Dankort. Payment can also be done by bank transfer to our bank account or using blockchain payments. All online purchase payment shall be made online.</p>

<p>The amount has been drawn on your account when our invoice has been sent to you.</p>

<p>The debit amount will appear from your account.</p>

<p>Our payment solution is based on the TLS (SSL) standard, which means that the information submitted in connection with the payment transaction is protected by encryption.</p>

<h3>3. Delivery of merchandise</h3>

<p>Purchased merchandise will be handed out at the event. However, a longer time of delivery cannot be excluded and we cannot be held liable for any delays in delivery. In the event of delay in the delivery, we will notify you as soon as possible by e-mail.</p>

<p>Your purchase of Merchandise will be subject to the provisions of the Danish Act on Sales of Goods ("Købeloven").</p>

<h3>4. Delivery of Tickets and Accommodation</h3>
<p>Delivery of Tickets is done by direct download of a PDF file (for the purchaser to print out) immediately after payment.</p>
<p>In the event of Tickets being lost, replacement tickets may be dispatched, whereby the original Tickets are nullified.</p>
<p>If you have ordered Accommodation you must bring your invoice in order for you to prove your purchase of Accommodation.</p>
<h3>5. Your right of cancellation</h3>

<h4>5.1 Purchase of Merchandise</h4>

<p>You may cancel your contract within 14 days for any reason. The cancellation period is 14 days and begins the day on which you or a third party you designated that is not the carrier receive(s) the goods. To exercise the right of cancellation, you have to notify us</p>

<p class="lead">
BornHack IvS<br>
Offenbachvej 34, 2. tv.<br>
2450 Copenhagen SV<br>
Denmark<br>
Phone: +4527808090<br>
E-mail: info@bornhack.dk<br>
</p>

<p>by means of a clear statement (e.g. a letter, a telefax or an email) on your decision to cancel the contract. For this, you can use the attached specimen copy <a href="/static/pdf/bornhack_webshop_cancellation_form.pdf" target="_blank">cancellation form</a> — which is not mandatory.</p>

<p>To exercise the right of cancellation within the stipulated period, it is sufficient that you send the information about the exercise of the right of cancellation within the cancellation period.</p>

<h5>Consequences of cancellation</h5>
<p>Upon the cancellation of a contract, we have to refund all payments received from you immediately and within 14 days of receipt of your contract cancellation at the latest. For the reimbursement, we will use the same means of payment you used for the original transaction unless expressly otherwise agreed; we will never charge you a fee for this reimbursement. We may withhold the reimbursement until we have received the goods or you have provided evidence of having sent back the goods, whichever is the earliest.
You have to return the goods or hand them over immediately and in any event no later than 14 days after having informed us about the cancellation of the contract to</p>

<p class="lead">
BornHack IvS<br>
Offenbachvej 34, 2. tv.<br>
2450 Copenhagen SV<br>
Denmark<br>
Phone: +4527808090<br>
E-mail: info@bornhack.dk<br>
</p>

<p>The cancellation period is met if the goods are sent back within the 14 day cancellation period. The return shipment is performed at your costs. The consumer shall only be liable for any diminished value of the goods resulting from the handling other than what is necessary to ascertain the nature, features and functioning of the goods.</p>

<h4>5.2 Purchase of Tickets and Accommodation</h4>

<p>According to § 18, section 2 (12) of the Danish Consumer Act ("Forbrugeraftaleloven") your purchase of Tickets and/or Accommodation is not subject to any mandatory cancellation right. However, we grant you a right to cancel an order with within 14 days of receipt of our order confirmation, provided that cancellation is not made later than 48 hours before (i) the first day of the festival (in case of cancellation of purchase of Tickets) or (ii) the check-in date (in case of cancellation of purchase of Accommodation).</p>

<p>To exercise this right of cancellation, you have to notify us</p>

<p class="lead">
BornHack IvS<br>
Offenbachvej 34, 2. tv.<br>
2450 Copenhagen SV<br>
Denmark<br>
Phone: +4527808090<br>
E-mail: info@bornhack.dk<br>
</p>

<p>For the reimbursement, we will use the same means of payment you used for the original transaction unless expressly otherwise agreed; we will never charge you a fee for this reimbursement.</p>

<h3>6. Complaints</h3>

<h4>6.1 Two-year period to complain of Merchandise</h4>

<p>You are granted a two-year period to complain about Merchandise. This means that you cannot rely on errors and defects appearing more than two years after delivery of the product. Any errors or defects in the products received must be relied on within a reasonable period after they were or should have been established.</p>

<p>Return of defective products, including in connection with repairs or replacement deliveries, is for the Supplier’s account and risk. You shall inform us of the nature of the error or defect in connection with the return. Return of products or complaints must be sent to</p>

<p class="lead">
BornHack IvS<br>
Offenbachvej 34, 2. tv.<br>
2450 Copenhagen SV<br>
Denmark<br>
Phone: +4527808090<br>
E-mail: info@bornhack.dk<br>
</p>

<p>If, within the period stated above, the Merchandise proves to be defective, we will deliver another similar product free from errors and defects after receipt of the defective product. We also undertake to refund any documented expenses pertaining to the return. If replacement delivery is not a feasible solution, we will refund the purchase price, inclusive of the customer’s return costs.</p>

<h4>6.2 Complaint regarding Accommodation or the festival</h4>

<p>Should you have any complaints regarding the accommodation or the execution of the festival it is important that you immediately address such complaints to us.</p>

<h3>7. Liability</h3>

<p>We assume no liability towards you other than what is provided for in these terms and conditions. We cannot in any event be held liable for any indirect or consequential losses, including loss of or damage to data.</p>

<h3>8. Our right of cancellation</h3>

<p>We reserve the right to cancel the festival or change its venue and/or content of the festival at any time at our discretion. Further, we reserve the right to cancel any booked Accommodation at any time at our discretion. If we exercise that right of cancellation we will refund any fees for Tickets and/or Accommodation which you have paid in advance. Apart from this no refund of payments will be made. We cannot be held liable for any losses you may suffer due to such cancellation.</p>

<h3>Miscellaneous</h3>

<p>Inquiries concerning deliver, payment, complains etc., can be made on telephone number +4527808090, by e-mail to info@bornhack.dk or by ordinary mail to BornHack IvS, Offenbachvej 34, 2. tv., 2450 Copenhagen SV, Denmark.</p>

<p>Our company registration no. is 37666521</p>

<p>We make reservations for typographical errors, changes in value added tax and duty rates, and late or defective delivery due to force majeure events.</p>
<p>Should any part of these conditions be deemed unlawful and invalid and thus not enforceable, this will not affect the validity and enforcement of the remainder of the conditions.</p>

<h3>9. Venue and choice of law</h3>

<p>Any purchase and order shall be subject to Danish law. Disputes arising between us shall be settled by the Court of Copenhagen.</p>

{% endblock %}
