{% load bornhack %}
<table class="table table-striped table-hover datatable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created</th>
      <th>Amount</th>
      <th>Fee</th>
      <th>Transferred</th>
      <th>BTC TXID</th>
      <th>Imported</th>
    </tr>
  </thead>
  <tbody>
    {% for cp in coinifypayout_list %}
    <tr>
      <td>{{ cp.coinify_id }}</td>
      <td data-order="{{ cp.coinify_created|sortable }}">{{ cp.coinify_created }}</td>
      <td data-order="{{ cp.amount }}">{% if cp.currency == "BTC" %}{{ cp.amount }}{% else %}{{ cp.amount|floatformat:2 }}{% endif %}&nbsp;{{ cp.currency }}</td>
      <td data-order="{{ cp.fee }}">{{ cp.fee }}&nbsp;{{ cp.currency }}</td>
      <td data-order="{{ cp.transferred }}">{{ cp.transferred }}&nbsp;{{ cp.currency }}</td>
      <td>{{ cp.btc_txid|default:"N/A" }}</td>
      <td data-order="{{ cp.created|sortable }}">{{ cp.created }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
