{% if perms.camps.info_team_member %}
  <h3>Info Team</h3>
  <a href="{% url 'backoffice:order_list' camp_slug=camp.slug %}"
     class="list-group-item list-group-item-action">
    <h4 class="list-group-item-heading">
      Orders
    </h4>
    <p class="list-group-item-text">
      Use this view see and manage webshop orders
    </p>
  </a>
  <a href="{% url 'backoffice:invoice_list' camp_slug=camp.slug %}"
     class="list-group-item list-group-item-action">
    <h4 class="list-group-item-heading">
      Invoices
    </h4>
    <p class="list-group-item-text">
      Use this view see a list of all Invoices in the system
    </p>
  </a>
  <a href="{% url 'backoffice:refund_list' camp_slug=camp.slug %}"
     class="list-group-item list-group-item-action">
    <h4 class="list-group-item-heading">
      Refunds
    </h4>
    <p class="list-group-item-text">
      Use this view see and manage webshop refunds
    </p>
  </a>
  <a href="{% url 'backoffice:credit_note_list' camp_slug=camp.slug %}"
     class="list-group-item list-group-item-action">
    <h4 class="list-group-item-heading">
      Credit Notes
    </h4>
    <p class="list-group-item-text">
      Use this view see a list of all Credit Notes in the system
    </p>
  </a>
  {% if not camp.read_only %}
    <a href="{% url 'backoffice:scan_tickets_pos_select' camp_slug=camp.slug %}"
       class="list-group-item list-group-item-action">
      <h4 class="list-group-item-heading">
        Scan tickets
      </h4>
      <p class="list-group-item-text">
        Use this view to scan tickets QR codes to check in visitors, hand out merch and HAX, etc.
      </p>
    </a>
  {% endif %}
  <a href="{% url 'backoffice:shop_ticket_overview' camp_slug=camp.slug %}" class="list-group-item list-group-item-action">
    <h4 class="list-group-item-heading">Shop Ticket Overview</h4>
    <p class="list-group-item-text">Use this to list shop tickets</p>
  </a>
  {% if not camp.read_only %}
    <a href="{% url 'backoffice:scan_inventory_index' camp_slug=camp.slug %}"
       class="list-group-item list-group-item-action">
      <h4 class="list-group-item-heading">
        Scan inventory
      </h4>
      <p class="list-group-item-text">
        Use this view to scan inventory QR codes to check in inventory.
      </p>
    </a>
  {% endif %}
{% endif %}
