{% load bornhack %}
{% if invoice_list %}
<table class="table table-hover datatable">
  <thead>
  <tr>
    <th>Invoice #</th>
    <th>Customer</th>
    <th>Invoice Date</th>
    <th>Amount</th>
    <th>Order</th>
    <th>Paid</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    {% for invoice in invoice_list %}
    <tr>
      <td>{{ invoice.id }}</td>
      <td>{% if invoice.order %}{{ invoice.order.user.username }} &lt;{{ invoice.order.user.email }}&gt;{% else %}invoice.customorder.customer{% endif %}</td>
      <td>{{ invoice.created|date }}</td>
      <td>{{ invoice.get_order.amount }} DKK</td>
      <td>{{ invoice.get_order }}</td>
      <td>{{ invoice.get_order.paid|truefalseicon }}</td>
      <td>
          n/a
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <h4>No invoices found.</h4>
{% endif %}

