{% load bornhack %}
<table class="table table-hover datatable">
  <thead>
  <tr>
    <th>Order #</th>
    <th>User</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Products</th>
    <th>Payment Method</th>
    <th>Paid</th>
    <th>Cancelled</th>
    <th>Refunded</th>
    <th>Invoice</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    {% for order in order_list %}
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.user.username }} &lt;{{ order.user.email }}&gt;</td>
      <td data-order="{{ order.created|sortable }}">{{ order.created }}</td>
      <td data-order="{{ order.updated|sortable }}">{{ order.updated }}</td>
      <td>{{ order.oprs.all }}</td>
      <td>{{ order.payment_method }}</td>
      <td>{{ order.paid|truefalseicon }} {% if order.paid %}paid{% else %}unpaid{% endif %}</td>
      <td>{{ order.cancelled|truefalseicon }}</td>
      <td>{{ order.refunded|truefalseicon }}</td>
      <td>{% if order.invoice %}{{ order.invoice }}{% else %}{{ order.pdf }} (proforma){% endif %}</td>
      <td>
        <div class="btn-group btn-group-vertical">
          <a href="{% url "backoffice:order_detail" camp_slug=camp.slug pk=order.pk %}" class="btn btn-primary">Details</a>
          <a href="{% url "backoffice:order_update" camp_slug=camp.slug pk=order.pk %}" class="btn btn-primary">Update</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
