{% load bornhack %}
<table class="table table-striped{% if not nodatatable %} datatable{% endif %}">
  <thead>
    <tr>
      <th>Date</th>
      <th>Pos</th>
      <th>Responsible</th>
      <th>Bank Start</th>
      <th>Pos Start</th>
      <th>Bank End</th>
      <th>Pos End</th>
      <th>Hax Income</th>
      <th>Hax Sold iZettle</th>
      <th>Hax Sold Website</th>
      <th>Hax Balance</th>
      <th class="text-center">OK?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for pr in posreport_list %}
    <tr>
      <td><a href="{% url 'backoffice:posreport_detail' camp_slug=camp.slug pos_slug=pos.slug posreport_uuid=pr.uuid %}">{{ pr.date }}</a></td>
      <td>{{ pr.pos.name }}</td>
      <td>Bank: {{ pr.bank_responsible }}<br>Pos: {{ pr.pos_responsible }}</td>
      <td>{{ pr.bank_start_hax }} HAX / {{ pr.bank_count_dkk_start }} DKK</td>
      <td>{{ pr.pos_start_hax }} HAX / {{ pr.pos_count_dkk_start }} DKK</td>
      <td>{{ pr.bank_end_hax }} HAX / {{ pr.bank_count_dkk_end }} DKK</td>
      <td>{{ pr.pos_end_hax }} HAX / {{ pr.pos_count_dkk_end }} DKK</td>
      <td>{{ pr.pos_json_sales.1 }} HAX ({{ pr.pos_json_sales.0 }} tx)</td>
      <td>{{ pr.hax_sold_izettle }} HAX</td>
      <td>{{ pr.hax_sold_website }} HAX</td>
      <td class="text-right">
        {{ pr.bank_start_hax }}<br>
        + {{ pr.pos_json_sales.1 }}<br>
        - {{ pr.hax_sold_izettle }}<br>
        - {{ pr.hax_sold_website }}<br>
        - {{ pr.bank_end_hax }}<br>
        <b>= {{ pr.hax_balance }}</b>
      </td>
      <td class="text-center">{{ pr.allok | truefalseicon }}</td>
      <td>
        <div class="btn-group-vertical">
          <a href="{% url 'backoffice:posreport_detail' camp_slug=camp.slug pos_slug=pos.slug posreport_uuid=pr.uuid %}" class="btn btn-primary"><i class="fas fa-search"></i> Details</a>
          {% if request.user == pr.pos.bank_responsible %}
          <a href="{% url 'backoffice:posreport_bank_count_start' camp_slug=camp.slug pos_slug=pos.slug posreport_uuid=pr.uuid %}" class="btn btn-primary"><i class="fas fa-edit"></i> Bank Count Start</a>
          <a href="{% url 'backoffice:posreport_bank_count_end' camp_slug=camp.slug pos_slug=pos.slug posreport_uuid=pr.uuid %}" class="btn btn-primary"><i class="fas fa-edit"></i> Bank Count End</a>
          {% endif %}
          {% if request.user == pr.pos.pos_responsible %}
          <a href="{% url 'backoffice:posreport_pos_count_start' camp_slug=camp.slug pos_slug=pos.slug posreport_uuid=pr.uuid %}" class="btn btn-primary"><i class="fas fa-edit"></i> Pos Count Start</a>
          <a href="{% url 'backoffice:posreport_pos_count_end' camp_slug=camp.slug pos_slug=pos.slug posreport_uuid=pr.uuid %}" class="btn btn-primary"><i class="fas fa-edit"></i> Pos Count End</a>
          {% endif %}
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
