{% load profile_display %}

<div class="card">
  <div class="card-header">Expense Details for {{ expense.pk }}</div>
  <div class="card-body">
    <table class="table">
      {% if request.resolver_match.app_name == "backoffice" %}
        <tr>
          <th>Created By</th>
          <td>{% display_name expense.user.profile %}</td>
        </tr>
      {% endif %}
      <tr>
        <th>Amount</th>
        <td>{{ expense.amount }} DKK</td>
      </tr>
      <tr>
        <th>Chain</th>
        <td>{{ expense.creditor.chain.name }}</td>
      </tr>
      <tr>
        <th>Creditor</th>
        <td>{{ expense.creditor.name }}</td>
      </tr>
      <tr>
        <th>Invoice Date</th>
        <td>{{ expense.invoice_date }}</td>
      </tr>
      <tr>
        <th>Payment Status</th>
        <td>{{ expense.get_payment_status_display }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ expense.description }}</td>
      </tr>
      <tr>
        <th>Filename</th>
        <td>{{ expense.invoice }}</td>
      </tr>
      <tr>
        <th>Approved?</th>
        <td>{{ expense.approval_status }}</td>
      </tr>
      {% if expense.payment_status == "PAID_NEEDS_REIMBURSEMENT" or expense.payment_status == "PAID_AND_REIMBURSED" %}
      <tr>
        <th>Reimbursement?</th>
        <td>
          {% if expense.reimbursement %}
            {% if request.resolver_match.app_name == "backoffice" %}
              <a class="btn btn-primary" href="{% url 'backoffice:reimbursement_detail' camp_slug=camp.slug pk=expense.reimbursement.pk %}">{{ expense.reimbursement.pk }}</a>
            {% else %}
              <a class="btn btn-primary" href="{% url 'economy:reimbursement_detail' camp_slug=camp.slug pk=expense.reimbursement.pk %}">{{ expense.reimbursement.pk }}</a>
            {% endif %}
          {% else %}
            N/A
          {% endif %}
        </td>
      </tr>
      {% endif %}
      <tr>
        <th>Invoice</th>
        <td>
          <a href="{% url 'economy:expense_invoice' camp_slug=camp.slug pk=expense.pk %}" target="_blank"><img src="{% url 'economy:expense_invoice' camp_slug=camp.slug pk=expense.pk %}?preview" height=200></a><br>
          Filename: {{ expense.invoice_filename }}
        </td>
      </tr>
      <tr>
        <th>Economy Team Notes</th>
        <td>{{ expense.notes|default:"N/A" }}</td>
      </tr>
    </table>
  </div>
</div>
