{% load bornhack %}
{% if expense_list %}
  <table class="table table-hover datatable">
    <thead>
      <tr>
        <th>ID</th>
        {% if past_camps %}
            <th>Camp</th>
        {% endif %}
        <th>Invoice Date</th>
        <th>Created By</th>
        {% if not reimbursement %}
          <th>Paid by</th>
        {% endif %}
        <th>Creditor</th>
        <th>Amount</th>
        <th>Description</th>
        {% if not reimbursement %}
          <th>Approved</th>
          <th>Reimbursement</th>
        {% endif %}
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for expense in expense_list %}
        <tr>
          {% if request.resolver_match.app_name == "backoffice" %}
            <td class="text-break"><a href="{% url 'backoffice:expense_detail' camp_slug=expense.camp.slug pk=expense.pk %}">{{ expense.pk }}</a></td>
          {% else %}
            <td class="text-break"><a href="{% url 'economy:expense_detail' camp_slug=expense.camp.slug pk=expense.pk %}">{{ expense.pk }}</a></td>
          {% endif %}
          {% if past_camps %}
          <td data-order="{{ expense.camp.title|sortable }}">{{ expense.camp.title }}</td>
          {% endif %}
          <td data-order="{{ expense.invoice_date|sortable }}">{{ expense.invoice_date }}</td>
          <td>{{ expense.user.profile.get_name }}</td>
          {% if not reimbursement %}
            <td>{% if expense.paid_by_bornhack %}BornHack{% else %}{{ expense.user.profile.get_name }}{% endif %}</td>
          {% endif %}
          <td>{{ expense.creditor.name }}</td>
          <td data-order="{{ expense.amount }}">{{ expense.amount }} DKK</td>
          <td>{{ expense.description }}</td>

          {% if not reimbursement %}
            <td>{{ expense.approval_status }}</td>
            <td>
              {% if expense.reimbursement and not expense.paid_by_bornhack %}
                {% if request.resolver_match.app_name == "backoffice" %}
                  <a href="{% url 'backoffice:reimbursement_detail' camp_slug=expense.camp.slug pk=expense.reimbursement.pk %}" class="btn btn-sm btn-primary"><i class="fas fa-search"></i> Show</a>
                {% else %}
                  <a href="{% url 'economy:reimbursement_detail' camp_slug=expense.camp.slug pk=expense.reimbursement.pk %}" class="btn btn-sm btn-primary"><i class="fas fa-search"></i> Show</a>
                {% endif %}
              {% else %}
                N/A
              {% endif %}
            </td>
          {% endif %}

          <td>
            <div class="btn-group-vertical">
              <a class="btn btn-sm btn-primary" href="{% url request.resolver_match.app_name|add:':expense_detail' camp_slug=expense.camp.slug pk=expense.uuid %}"><i class="fas fa-search"></i> Details</a>
              <a class="btn btn-sm btn-primary" href="{% url 'economy:expense_invoice' camp_slug=camp.slug pk=expense.pk %}" target="_blank"><i class="fas fa-file-download"></i> Invoice</a>
            {% if request.resolver_match.app_name == "backoffice" %}
              {% if not camp.read_only %}
                <a class="btn btn-sm btn-primary" href="{% url 'backoffice:expense_update' camp_slug=expense.camp.slug pk=expense.uuid %}"><i class="fas fa-edit"></i> Update</a>
              {% endif %}
            {% else %}
              {% if not expense.approved and not camp.read_only %}
                <a class="btn btn-sm btn-primary" href="{% url 'economy:expense_update' camp_slug=expense.camp.slug pk=expense.uuid %}"><i class="fas fa-edit"></i> Update</a>
                <a class="btn btn-sm btn-danger" href="{% url 'economy:expense_delete' camp_slug=expense.camp.slug pk=expense.uuid %}"><i class="fas fa-times"></i> Delete</a>
              {% endif %}
            {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <h4>No expenses found.</h4>
{% endif %}
