<div class="panel panel-default">
    <div class="panel-heading">Reimbursement Details for {{ reimbursement.pk }}</div>
    <div class="panel-body">
        <table class="table">
            <tr>
              <th>Total Amount</th>
              <td>{{ reimbursement.amount }} DKK</td>
            </tr>
            <tr>
              <th>Economy Team Notes</th>
              <td>{{ reimbursement.notes|default:"N/A" }}</td>
            </tr>
            <tr>
              <th>Paid</th>
              <td>{{ reimbursement.paid }}</td>
            </tr>
            <tr>
              <th>Created</th>
              <td>{{ reimbursement.created }}</td>
            </tr>
            <tr>
              <th>Expenses covered by this Reimbursement</th>
              <td>
                {% for expense in reimbursement.expenses.all %}
                  {% if not expense.paid_by_bornhack %}
                    {% if request.resolver_match.app_name == "backoffice" %}
                      <a href="{% url 'backoffice:expense_detail' camp_slug=camp.slug pk=expense.pk %}" class="btn btn-primary">{{ expense.pk }}</a> {{ expense.amount }} DKK - {{ expense.description }}<br>
                    {% else %}
                      <a href="{% url 'economy:expense_detail' camp_slug=camp.slug pk=expense.pk %}" class="btn btn-primary">{{ expense.pk }}</a> {{ expense.amount }} DKK - {{ expense.description }}<br>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
        </table>
    </div>
</div>
