{% load bornhack %}
{% load profile_display %}

{% if revenue_list %}
  <table class="table table-hover datatable">
    <thead>
      <tr>
        <th>ID</th>
        {% if past_camps %}
            <th>Camp</th>
        {% endif %}
        <th>Invoice Date</th>
        <th>Created By</th>
        <th>Payment Status</th>
        <th>Debtor</th>
        <th>Amount</th>
        <th>Description</th>
        {% if not reimbursement %}
          <th>Approved</th>
          <th>Reimbursement</th>
        {% endif %}
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for revenue in revenue_list %}
        <tr>
          <td class="text-break"><a href="{% url request.resolver_match.app_name|add:':revenue_detail' camp_slug=revenue.camp.slug pk=revenue.pk %}">{{ revenue.pk }}</a></td>

          {# camp identifier if needed #}
          {% if past_camps %}
          <td data-order="{{ revenue.camp.title|sortable }}">{{ revenue.camp.title }}</td>
          {% endif %}

          <td data-order="{{ revenue.invoice_date|sortable }}">{{ revenue.invoice_date }}</td>
          <td>{% display_name revenue.user.profile %}</td>
          <td>{{ revenue.get_payment_status_display }}</td>
          <td>{{ revenue.debtor }}</td>
          <td data-order="{{ revenue.amount }}">{{ revenue.amount }} DKK</td>
          <td>{{ revenue.description }}</td>

          {# to save space do not show approval status and reimbursement link in reimbursements #}
          {% if not reimbursement %}
            <td>{{ revenue.approval_status }}</td>
            <td>
              {% if revenue.reimbursement and not revenue.created_for_reimbursement %}
                {% if request.resolver_match.app_name == "backoffice" %}
                  <a href="{% url 'backoffice:reimbursement_detail' camp_slug=revenue.camp.slug pk=revenue.reimbursement.pk %}" class="btn btn-sm btn-primary"><i class="fas fa-search"></i> Show</a>
                {% else %}
                  <a href="{% url 'economy:reimbursement_detail' camp_slug=revenue.camp.slug pk=revenue.reimbursement.pk %}" class="btn btn-sm btn-primary"><i class="fas fa-search"></i> Show</a>
                {% endif %}
              {% else %}
                N/A
              {% endif %}
            </td>
          {% endif %}

          {# actions #}
          <td>
            <div class="btn-group-vertical">
              <a class="btn btn-sm btn-primary" href="{% url request.resolver_match.app_name|add:':revenue_detail' camp_slug=revenue.camp.slug pk=revenue.uuid %}"><i class="fas fa-search"></i> Details</a>
              <a class="btn btn-sm btn-primary" href="{% url 'economy:revenue_invoice' camp_slug=camp.slug pk=revenue.pk %}" target="_blank"><i class="fas fa-file-download"></i> Invoice</a>
            {% if request.resolver_match.app_name == "backoffice" %}
              {% if not camp.read_only %}
              <a class="btn btn-sm btn-primary" href="{% url 'backoffice:revenue_update' camp_slug=revenue.camp.slug pk=revenue.uuid %}"><i class="fas fa-edit"></i> Update</a>
              {% endif %}
            {% else %}
              {% if not camp.read_only and not revenue.approved %}
              <a class="btn btn-primary" href="{% url 'economy:revenue_update' camp_slug=revenue.camp.slug pk=revenue.uuid %}"><i class="fas fa-edit"></i> Update</a>
              <a class="btn btn-danger" href="{% url 'economy:revenue_delete' camp_slug=revenue.camp.slug pk=revenue.uuid %}"><i class="fas fa-times"></i> Delete</a>
              {% endif %}
            {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <h4>No revenues found.</h4>
{% endif %}
