{% load bornhack %}
{% if revenue_list %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        {% if past_camps %}
            <th>Camp</th>
        {% endif %}
        <th>Invoice Date</th>
        <th>Created By</th>
        <th>Debtor</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Responsible Team</th>
        <th>Approved</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for revenue in revenue_list %}
        <tr>
          <td>{{ revenue.pk }}</td>
          {% if past_camps %}
          <td data-order="{{ revenue.camp.title|sortable }}">{{ revenue.camp.title }}</td>
          {% endif %}
          <td data-order="{{ revenue.invoice_date|sortable }}">{{ revenue.invoice_date }}</td>
          <td>{{ revenue.user.email }}</td>
          <td>{{ revenue.debtor }}</td>
          <td data-order="{{ revenue.amount }}">{{ revenue.amount }} DKK</td>
          <td>{{ revenue.description }}</td>
          <td>{{ revenue.responsible_team.name }} Team</td>
          <td>{{ revenue.approval_status }}</td>
          <td>
            <div class="btn-group-vertical">
            {% if request.resolver_match.app_name == "backoffice" %}
              <a class="btn btn-sm btn-primary" href="{% url 'backoffice:revenue_detail' camp_slug=revenue.camp.slug pk=revenue.uuid %}"><i class="fas fa-search"></i> Details</a>
              <a class="btn btn-sm btn-primary" href="{% url 'economy:revenue_invoice' camp_slug=camp.slug pk=revenue.pk %}" target="_blank"><i class="fas fa-file-download"></i> Invoice</a>
              {% if not camp.read_only %}
              <a class="btn btn-sm btn-primary" href="{% url 'backoffice:revenue_update' camp_slug=revenue.camp.slug pk=revenue.uuid %}"><i class="fas fa-edit"></i> Update</a>
              {% endif %}
            {% else %}
              <a class="btn btn-primary" href="{% url 'economy:revenue_detail' camp_slug=revenue.camp.slug pk=revenue.uuid %}"><i class="fas fa-search"></i> Details</a>
              {% if not camp.read_only and not revenue.approved %}
              <a class="btn btn-primary" href="{% url 'economy:revenue_update' camp_slug=revenue.camp.slug pk=revenue.uuid %}"><i class="fas fa-edit"></i> Update</a>
              <a class="btn btn-danger" href="{% url 'economy:revenue_delete' camp_slug=revenue.camp.slug pk=revenue.uuid %}"><i class="fas fa-times"></i> Delete</a>
              {% endif %}
            {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <h4>No revenues found.</h4>
{% endif %}
