{% extends 'tickets_base.html' %}
{% load bootstrap3 %}
{% load tickets_tags %}

{% block tickets_content %}

<div class="well">

  <div class="row">
    <div class="col-md-7">
      <div class="pull-right">
        <h2>{% if ticket.checked_in %}This ticket has been used{% else %}This ticket is unused{% endif %}</h2>
        <form method="POST" class="form">
          {% csrf_token %}
          {% bootstrap_field form.name %}
          {% bootstrap_field form.email %}
          <button class="btn btn-primary form-control" type="submit"><i class="glyphicon glyphicon-check"></i> Save</button>
        </form>

        <hr />
      </div>
    </div>


  </div>


</div>

{% endblock %}
