{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
  Create Credebtor in Chain {{ chain.name }} | {{ block.super }}
{% endblock %}

{% block content %}
  <h3>Create New Credebtor in Chain {{ chain.name }}</h3>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-success" type="submit"><i class="fas fa-check"></i> Create Credebtor</button>
    <a href="{% url 'economy:dashboard' camp_slug=camp.slug %}" class="btn btn-primary"><i class="fas fa-undo"></i> Cancel</a>
  </form>
{% endblock %}
