{% extends 'base.html' %}
{% load bornhack %}
{% load django_bootstrap5 %}

{% block title %}
  {{ verb }} Reimbursement | {{ block.super }}
{% endblock %}

{% block content %}
  <h3>{% if request.resolver_match.url_name == "reimbursement_create" %}Create{% else %}Update{% endif %} Reimbursement</h3>

  <div class="card mb-2">
    {% if object.expenses %}
    <h3 class="card-header">Expenses in this Reimbursement:</h3>
    <div class="card-body">
      {% include 'includes/expense_list_panel.html' with expense_list=reimbursement.covered_expenses.all %}
    </div>
  </div>
  {% endif %}

  {% if object.revenues %}
  <div class="card">
    <h3 class="card-header">Revenues in this Reimbursement:</h3>
    <div class="card-body">
      {% include 'includes/revenue_list_panel.html' with revenue_list=reimbursement.covered_revenues.all %}
    </div>
  </div>
  {% endif %}

  <div class="card">
    <h3 class="card-header">Reimbursement:</h3>
    <div class="card-body">
      <p>The total amount for this reimbursement will be <b>{{ total_amount }} DKK</b>.<br>
      <i>Note: a negative number here means you owe BornHack money, while a positive number means that BornHack owes you money.</i></p>
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success" name="save"><i class='fas fa-check'></i> Just Save</button>
        <button type="submit" class="btn btn-success" name="paid"><i class='fas fa-check'></i> Mark as Paid</button>
        <a href="{{ cancelurl }}" class="btn btn-primary"><i class="fas fa-undo"></i> Cancel</a>
      </form>
    </div>
  </div>
{% endblock content %}
