{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
  Reimbursement Details | {{ block.super }}
{% endblock %}

{% block content %}
  <h3>Reimbursement Details</h3>

  {% include 'includes/reimbursement_detail_panel.html' %}

  <div class="btn-group">
    {% if not reimbursement.paid %}
      <a href="{% url 'economy:reimbursement_delete' camp_slug=camp.slug pk=reimbursement.pk %}" class="btn btn-danger"><i class="fas fa-times"></i> Delete Reimbursement</a>
    {% endif %}

    <a href="{% url 'economy:dashboard' camp_slug=camp.slug %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Dashboard</a>
    <a href="{% url 'economy:reimbursement_list' camp_slug=camp.slug %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Reimbursement list</a>
  </div>
{% endblock content %}
