{% extends 'profile_base.html' %}
{% load static %}
{% load commonmark %}$
{% load token_tags %}

{% block title %}
  Your Secret Tokens | {{ block.super }}
{% endblock %}

{% block profile_content %}
  <div class="card">
    <h4 class="card-header">Your Secret Tokens</h4>
    <div class="card-body">

      <p class="lead">The Secret Token game lasts the whole event and is about finding little text strings matching the regular expression:<br><br>
        <code>[0-9a-zA-Z\.@]{12,32}</code><br><br>
        Tokens are hidden or in plain sight physically or virtually on the BornHack venue, online and offline.</p>
      <p class="lead">If you think you found a secret token you can register it by visiting <code>https://bornhack.dk/token/TOKEN</code> where <code>TOKEN</code> is replaced by the token you found.</p>
      <p class="lead">This page shows an overview of the tokens in this years game, a hint for each token, and how many of them you have found. Here is your first token to start the hunt: "HelloTokenHunters2024"</p>

      <table class="table">
        <tbody>
          {% for token in object_list %}
            {% ifchanged token.camp %}
              <tr>
                <td colspan="5"><h4>{{ token.camp.title }}</h4></td>
              </tr>
              <tr>
                <th>Category</th>
                <th>Time Limits</th>
                <th>Token</th>
                <th>Description</th>
                <th>Found</th>
              </tr>
            {% endifchanged %}
            <tr>
              <td>{{ token.category }}</td>
              <td>
                {% if token.valid_now %}
                  <i class="fas fa-check text-success"></i>
                {% else %}
                  <i class="fas fa-times text-error"></i>
                {% endif %}

                {% if token.valid_when.lower %}
                  Not valid before {{ token.valid_when.lower }}<br>
                {% endif %}
                {% if token.valid_when.upper %}
                  Not valid after {{ token.valid_when.upper }}<br>
                {% endif %}
                {% if not token.valid_when %}
                  No time limit
                {% endif %}
              </td>

              {% with token|found_by_user:user as user_has_found_token %}
                {% if user_has_found_token %}
                  <td>{{ token.token }}</td>
                  <td>{{ token.description }}</td>
                  <td>{{ user_has_found_token }}</td>
                {% else %}
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                {% endif %}
              {% endwith %}

            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
