body {
  margin-top: 90px;
}

a, a:active, a:focus {
   outline: none;
}

.navbar {
  width: 700px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(250, 250, 250);
}

#main {
  width: 700px
}

@media (max-width: 768px) {
  #main {
    width: 500px;
  }
}

@media (max-width: 520px) {
  #main {
    width: 100%;
  }
}

.navbar-fixed-top {
  min-height: 80px;
}

.nav li a {
  padding: 30px 25px;
}
