{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
  {% if request.resolver_match.url_name == "dectregistration_update" %}Update{% else %}Create{% endif %} DECT Registration | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="card">
    <span class="h3 card-header">{% if request.resolver_match.url_name == "dectregistration_update" %}Update{% else %}Create New{% endif %} DECT Registration</span>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">
          <i class="fas fa-check"></i>
          {% if request.resolver_match.url_name == "dectregistration_update" %}Update{% else %}Create{% endif %} DECT Registration</button>
        <a href="{% url 'phonebook:dectregistration_list' camp_slug=camp.slug %}" class="btn btn-primary"><i class="fas fa-undo"></i> Cancel</a>
      </form>
    </div>
  </div>
{% endblock content %}
