<div class="row justify-content-between g-4">
  <div class="col-12 col-md-auto me-4">
    <div class="d-flex align-items-center">
      <span>
       <i class="unhide-for-no-js-users fs-2">&#127942;</i>
       <i class="hide-for-no-js-users fa-solid fa-trophy fa-3x text-success"></i>
      </span>
      <div class="ms-3">
        <h5>{{ player_stats.tokens_found }} found</h5>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-auto">
    <div class="d-flex align-items-center">
      <span>
       <i class="unhide-for-no-js-users fs-2">&#128269;</i>
       <i class="hide-for-no-js-users fa-solid fa-magnifying-glass fa-3x text-warning"></i>
      </span>
      <div class="ms-3">
        <h5>{{ player_stats.tokens_missing }} missing</h5>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-auto">
    <div class="d-flex align-items-center">
      <span>
       <i class="unhide-for-no-js-users fs-2">&#128196;</i>
       <i class="hide-for-no-js-users fa-regular fa-rectangle-list fa-3x text-primary"></i>
      </span>
      <div class="ms-3">
        <h5>{{ player_stats.tokens_count }} total</h5>
      </div>
    </div>
  </div>
</div>
