{% extends 'base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block title %}
Two-Factor Authentication | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">
        {% trans "Two-Factor Authentication" %}
      </h1>

      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit"
                class="btn btn-primary form-control">
          {% trans 'Authenticate' %}
        </button>
      </form>
    </div>
  </div>
{% endblock %}
