{% extends 'profile_base.html' %}

{% load account %}
{% load bootstrap3 %}

{% block title %}
Two-Factor Authentication Backup Tokens | {{ block.super }}
{% endblock %}

{% block profile_content %}
  <div class="row">
    <div class="col-md-12">

      <div class="alert alert-danger">
        <h4><strong>Attention!</strong></h4>
        <p >
          Backup Tokens are important if you for some reason <strong>lose access</strong> to your two-factor authentication device (ie. misplace your phone).<br />
          If this happens you will <strong>not be able to login to BornHack.dk</strong> without using a backup token.<br />
          So generate some tokens and <strong>keep them safe</strong> for a rainy day ;)
        </p>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Two-Factor Authentication Backup Tokens</h4>
        </div>
        <div class="panel-body">
          {% if backup_tokens %}
          <ul>
            {% for token in backup_tokens %}
            <li><h4>{{ token.token }}</h4></li>
            {% endfor %}
          </ul>
          {% else %}
          <p>No tokens. Press the button below to generate some.</p>
          {% endif %}

        </div>
        <div class="panel-footer">
          <form method="post">
            {% csrf_token %}
            <div class="buttonHolder">
              <button class="btn btn-success" type="submit">
                {% if backup_tokens %}
                Generate new backup tokens
                {% else %}
                Generate backup tokens
                {% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="panel panel-danger">
        <div class="panel-heading">
          <h4>Disable Two-Factor Authenticatoin</h4>
        </div>
        <div class="panel-body">
          <a class="btn btn-danger" href="{% url 'two-factor-remove' %}">Disable Two-Factor</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
