{% extends 'profile_base.html' %}

{% load account %}
{% load bootstrap3 %}

{% block title %}
Disable Two-Factor Authentication | {{ block.super }}
{% endblock %}

{% block profile_content %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h4>Disable Two-Factor Authentication</h4>
        </div>
        <div class="panel-body">
          <p>Are you sure you want to disable two-factor authentication?</p>

          <form method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">
              Yes, I'm sure
            </button>
            <a href="{% url 'two-factor-backup-tokens' %}" class="btn btn-success">No, I've changed my mind.</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}