{% load shop_tags %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<table style="width:100%;">
    <tr>
        <td style="text-align: right">Order number: {{ ordernumber }}</td>
    </tr>
    <tr>
        <td style="text-align: right">Invoice number: {{ invoicenumber }}</td>
    </tr>
    <tr>
        <td style="text-align: right">Date: {% now "j/n-Y" %}</td>
    </tr>
</table>

<table style="width:100%;">
  <thead>
    <tr>
      <th>
        Name
      <th>
        Quantity
      <th>
        Price
      <th>
        Total
  <tbody>
{% for order_product in invoice.order.orderproductrelation_set.all %}
  <tr>
    <td>
      {{ order_product.product.name }}
    <td>
      {{ order_product.quantity }}
    <td>
      {{ order_product.product.price|currency }}
    <td>
      {{ order_product.total|currency }}
{% endfor %}

  <tr>
    <td colspan="2">
    <td>
      <strong>Hereof VAT (25%)</strong>
    <td>
      {{ order.vat|currency }}

  <tr>
    <td colspan="2">
    <td>
      <strong>Total</strong>
    <td>
      {{ order.total|currency }}

</table>
