{% load shop_tags %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<table style="width:100%;">
    <tr>
        <td style="text-align: right">Order number: {{ invoice.order.pk }}</td>
    </tr>
    <tr>
        <td style="text-align: right">Invoice number: {{ invoice.pk }}</td>
    </tr>
    <tr>
        <td style="text-align: right">Date: {% now "j/n-Y" %}</td>
    </tr>
</table>

<table style="width:100%;"  border=1>
    <tr>
      <td>
        <b>Name
      <td>
        <b>Quantity
      <td>
        <b>Price
      <td>
        <b>Total
{% for order_product in invoice.order.orderproductrelation_set.all %}
  <tr>
    <td>
      {{ order_product.product.name }}
    <td>
      {{ order_product.quantity }}
    <td>
      {{ order_product.product.price|currency }}
    <td>
      {{ order_product.total|currency }}
{% endfor %}

  <tr>
    <td colspan="2">
    <td>
      <strong>Danish VAT (25%)</strong>
    <td>
      {{ order.vat|currency }}

  <tr>
    <td colspan="2">
    <td>
      <strong>Total</strong>
    <td>
      {{ order.total|currency }}

</table>
