{% extends 'shop_base.html' %}
{% load bootstrap3 %}

{% block shop_content %}
<h3>Orders</h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Open?</th>
      <th>Paid?</th>
      <th>Delivered?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
{% for order in orders %}
    <tr {% if not order.open and order.paid %}style="color: lightgrey"{% endif %}>
        <td>{{ order.id }}</td>
        <td>{{ order.open }}</td>
        <td>{{ order.paid }}</td>
        <td>{{ order.handed_out_status }}</td>
        <td>
        {% if not order.open and not order.paid %}
            {% url 'shop:order_detail' pk=order.pk as order_detail_url %}
            {% url 'shop:order_cancel' pk=order.pk as order_cancel_url %}
            {% bootstrap_button "Order details" href=order_detail_url button_class="btn-primary" %}
            {% bootstrap_button "Cancel order" href=order_cancel_url button_class="btn-primary" %}
        {% endif %}
        </td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}
