{% load django_bootstrap5 %}
{% load commonmark %}
{% load profile_display %}

<div class="card">
  <div class="card-header">
    <span class="h3">Feedback for Event: {{ event.title }}</span>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      {% if request.resolver_match.url_name == "approve_event_feedback" %}
        <tr>
          <th>User</th>
          <td>{% display_name event_feedback.user.profile %}</td>
        </tr>
      {% endif %}
      <tr>
        <th>Were Your Expectations Fulfilled?</th>
        <td>{{ event_feedback.expectations_fulfilled|yesno }}</td>
      </tr>

      <tr>
        <th>Would You Attend the Same Speaker Again?</th>
        <td>{{ event_feedback.attend_speaker_again|yesno }}</td>
      </tr>

      <tr>
        <th>Rating (0-5)?</th>
        <td>{{ event_feedback.rating }}/5</td>
      </tr>

      <tr>
        <th>Created</th>
        <td>{{ event_feedback.created }}</td>
      </tr>

      <tr>
        <th>Updated</th>
        <td>{{ event_feedback.updated|default:"N/A" }}</td>
      </tr>

      <tr>
        <th>Approved</th>
        <td>{{ event_feedback.approved|yesno }}</td>
      </tr>

      <tr>
        <th>Comment</th>
        <td>{{ event_feedback.comment|default:"N/A"|untrustedcommonmark }}</td>
      </tr>
    </table>
    {% if form %}
      {% bootstrap_form form %}
    {% elif buttoninclude %}
      {% include buttoninclude %}
    {% endif %}
  </div>
</div>
