{% load bootstrap3 %}
{% load commonmark %}
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="h3">Feedback for Event: {{ event.title }}</span>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tr>
        <th>Were Your Expectations Fulfilled?</th>
        <td>{{ eventfeedback.expectations_fulfilled|yesno }}</td>
      </tr>

      <tr>
        <th>Would You Attend the Same Speaker Again?</th>
        <td>{{ eventfeedback.attend_speaker_again|yesno }}</td>
      </tr>

      <tr>
        <th>Rating (0-5)?</th>
        <td>{{ eventfeedback.rating }}/5</td>
      </tr>

      <tr>
        <th>Created</th>
        <td>{{ eventfeedback.created }}</td>
      </tr>

      <tr>
        <th>Updated</th>
        <td>{{ eventfeedback.updated|default:"N/A" }}</td>
      </tr>

      <tr>
        <th>Approved</th>
        <td>{{ eventfeedback.approved|yesno }}</td>
      </tr>

      <tr>
        <th>Comment</th>
        <td>{{ eventfeedback.comment|default:"N/A"|untrustedcommonmark }}</td>
      </tr>
    </table>
    {% if form %}
      {% bootstrap_form form %}
    {% elif buttoninclude %}
      {% include buttoninclude %}
    {% endif %}
  </div>
</div>

