{% load django_bootstrap5 %}
{% load commonmark %}
<div class="card">
  <div class="card-header">
    <span class="h3">Recording for Event: {{ event.title }}</span>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <tr>
        <th>Camp</th>
        <td>{{ event.track.camp.title }}</td>
      </tr>

      <tr>
        <th>Track</th>
        <td>{{ event.track.name }}</td>
      </tr>

      <tr>
        <th>Type</th>
        <td>{{ event.event_type.name }}</td>
      </tr>

      <tr>
        <th>URLs</th>
        <td>
          {% if event.urls.exists %}
            {% for url in event.urls.all %}
              <p><i class="{{ url.url_type.icon }}"></i> <b>{{ url.url_type }}</b>: <a href="{{ url.url }}" target="_blank" data-bs-toggle="tooltip" data-bs-title="{{ url.url_type }}">{{ url.url }}</a></p>
            {% endfor %}
          {% else %}
            <p><i>No URLs found.</i></p>
          {% endif %}
        </td>
      </tr>

      <tr>
        <th>Video URL (legacy)</th>
        <td>{{ event.video_url }}</td>
      </tr>
    </table>
    {% if form %}
      {% bootstrap_form form %}
    {% elif buttoninclude %}
      {% include buttoninclude %}
    {% endif %}
  </div>
</div>
