<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th class="text-center">Events</th>
            <th class="text-center">URLs</th>
            <th>Status</th>
            {% if request.resolver_match.app_name == "program" %}
                <th class="text-right">Available Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for speakerproposal in speakerproposals %}
        <tr>
            <td><span class="h4">{{ speakerproposal.name }}</span></td>
            <td class="text-center">
                {% if speakerproposal.eventproposals.all %}
                    {% for ep in speakerproposal.eventproposals.all %}
                        <a href="{% url 'program:eventproposal_detail' camp_slug=camp.slug pk=ep.uuid %}"><i class="fas fa-{{ ep.event_type.icon }} fa-lg" style="color: {{ ep.event_type.color }};" data-toggle="tooltip" title="{{ ep.title }} ({{ ep.event_type.name }})"></i></a>
                    {% endfor %}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td class="text-center">
                {% for url in speakerproposal.urls.all %}
                    <a href="{{ url.url }}" target="_blank" data-toggle="tooltip" title="{{ url.urltype }}"><i class="{{ url.urltype.icon }}"></i></a>
                {% empty %}
                    N/A
                {% endfor %}
            </td>
            <td><span class="badge">{{ speakerproposal.proposal_status }}</span></td>
            {% if request.resolver_match.app_name == "program" %}
                <td class="text-right">
                    <a href="{% url 'program:speakerproposal_detail' camp_slug=camp.slug pk=speakerproposal.uuid %}" class="btn btn-primary btn-sm">
                        <i class="fas fa-eye"></i><span class="h5"> Details</span>
                    </a>
                    {% if camp.call_for_participation_open and not camp.read_only and eventproposal and eventproposal.speakers.count > 1 %}
                      <a href="{% url 'program:eventproposal_removeperson' camp_slug=camp.slug event_uuid=eventproposal.uuid speaker_uuid=speakerproposal.uuid %}" class="btn btn-danger btn-sm"><i class="fas fa-times"></i><span class="h5"> Remove {{ eventproposal.event_type.host_title }}</span></a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
