<ul>
  <li class="lead">
    <strong>IRC</strong>:
    #bornhack @ 6nbtgccn5nbcodn3.onion or irc.baconsvin.org <small>(TLS port 6697)</small>
  </li>
  <li class="lead">
    <strong>Email</strong>:
    <a href="mailto:info@bornhack.dk">info@bornhack.dk</a>
  </li>
  <li class="lead">
    <strong>Twitter</strong>:
    <a href="https://twitter.com/bornhax" target="_blank">@BornHax</a>
  </li>
  <li class="lead">
    <strong>Facebook</strong>:
    <a href="https://facebook.com/BornHax" target="_blank">@BornHax</a>
  </li>
</ul>
