DATABASE_URL=postgres://username:password@host:port/database
SECRET_KEY=somethingverysecretandunique
ALLOWED_HOSTS=localhost,127.0.0.1
EMAIL_HOST='mailhost.example.com'
EMAIL_PORT=587
EMAIL_HOST_USER='mymailuser'
EMAIL_HOST_PASSWORD='mymailpassword'
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL='noreply@example.com'
ARCHIVE_EMAIL='archive@example.com'
EPAY_MERCHANT_NUMBER=something
EPAY_MD5_SECRET=something
TICKET_CATEGORY_ID=''
COINIFY_API_KEY=''
COINIFY_API_SECRET=''
COINIFY_IPN_SECRET=''
PDF_LETTERHEAD_FILENAME=''
MEDIA_ROOT=''
BANKACCOUNT_IBAN=''
BANKACCOUNT_SWIFTBIC=''
BANKACCOUNT_REG=''
BANKACCOUNT_ACCOUNT=''

