{% extends 'base.html' %}
{% load static %}
{% load qrcode %}

{% block title %}
  Scan | {{ block.super }}
{% endblock %}

{% block content %}

  <form id="search_form" method="POST" action="">
    {% csrf_token %}

    <div class="row">

      <div class="col-md-12">
        <h3>PoS: {{ pos.name }}</h3>
        <h3>Scan the ticket!</h3>
        <input type="text" class="form-control input-lg" name="ticket_token" id="ticket_token_input" autocomplete="off">
        <div id="scan_again" hidden>
          Scan again!
          <hr/>
        </div>

      </div>

    </div>

  </form>


  {% if ticket %}

    <br/>

    <table class="table" id="main_table">
      <tbody>
        <tr>
          <td>
            <strong>Type:</strong>
          </td>
          <td>
            {{ ticket.ticket_type }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Used?:</strong>
          </td>
          <td>
            {% if ticket.used_at %}
              True
            {% else %}
              False
            {% endif %}
          </td>
        </tr>

        {% if ticket.ticket_type.includes_badge %}
          <tr>
            <td>
              <strong>Badge handed out?:</strong>
            </td>
            <td>
              {{ ticket.badge_handed_out }}
            </td>
          </tr>
        {% endif %}

        {% if ticket.product %}
          <tr>
            <td>
              <strong>Product:</strong>
            </td>
            <td>
              {{ ticket.product }}
            </td>
          </tr>
          {% if ticket.ticket_type.single_ticket_per_product and ticket.shortname == "shop" %}
            <tr>
              <td>
                <strong>Quantity:</strong>
              </td>
              <td>
                <h2>{{ ticket.quantity }}</h2>
              </td>
            </tr>
          {% endif %}
          {% if ticket.product.category.name == "Merchandise" %}
            <tr>
              <td>
                <strong>ID:</strong>
              </td>
              <td>
                <h2>{{ ticket.opr.id }}</h2>
              </td>
            </tr>
          {% endif %}
          <tr>
            <td>
              <strong>Order:</strong>
            </td>
            <td>
              {{ ticket.order }}
            </td>
          </tr>
          <tr>
            <td>
              <strong>User Email:</strong>
            </td>
            <td>
              {{ ticket.order.user.email }}
            </td>
          </tr>
        {% endif %}

        {% if ticket.sponsor %}
          <tr>
            <td>
              <strong>Sponsor</strong>
            </td>
            <td>
              {{ ticket.sponsor }}
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>

    <hr/>

    <form id="check_in_form" method="POST" action="">{% csrf_token %}
      <input type="checkbox"
             name="check_in_ticket_id"
             id="check_in_input"
             value="{{ ticket.pk }}"
             style="color: #fff; background: #fff; border: 0; height: 0; width: 0; opacity: 0;"/>

      <input type="checkbox"
             name="badge_ticket_id"
             id="hand_out_badge_input"
             value="{{ ticket.pk }}"
             style="color: #fff; background: #fff; border: 0; height: 0; width: 0; opacity: 0;"/>
    </form>

    <div class="row">
      <div class="col-md-4">
        {% qr_code "clear" %}
      </div>

      {% if not ticket.used_at %}
        <div class="col-md-4">
          {% qr_code "checkin" %}
        </div>
      {% endif %}

      {% if ticket.ticket_type.includes_badge and not ticket.badge_handed_out %}
        <div class="col-md-4">
          {% qr_code "handoutbadge" %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  <hr/>

  <form method="POST"
        class="form-inline">
    {% csrf_token %}

    <input type="text" class="form-control input-lg" name="find_order_id"/>

    <button type="submit" class="btn btn-lg btn-primary">
      Find an order
    </button>
  </form>

  {% if view.order_search %}

    {% if order %}

      <h3>Order #{{ order.id }}</h3>

      <table class="table">
        <tr>
          <td>
            <strong>Total</strong>
          </td>
          <td>
            {{ order.total }} DKK
          </td>
        </tr>
        <tr>
          <td>
            <strong>Paid?</strong>
          </td>
          <td>
            {{ order.paid }}
          </td>
        </tr>

        <tr>
          <td>
            <strong>Payment type</strong>
          </td>
          <td>
            {{ order.get_payment_method_display }}
          </td>
        </tr>

      </table>

      {% if order.paid %}
        <h4>Tickets</h4>
        <table class="table">
          <thead>
            <tr>
              <th>
                Product
              </th>
              <th>
                Quantity
              </th>
              <th>
                Ticket Type
              </th>
              <th>
                Name?
              </th>
              <th>
                OPR?
              </th>
              <th>
                Status?
              </th>
          </thead>

          <tbody>
            {% for ticket in tickets %}
              <tr>
                <td>
                  {{ ticket.product.name }}
                </td>
                <td>
                  {% if ticket.ticket_type.single_ticket_per_product and ticket.shortname == "shop" %}
                    {{ ticket.quantity }}
                  {% else %}
                    -
                  {% endif %}
                </td>
                <td>
                  {{ ticket.ticket_type.name }}
                </td>
                <td>
                  {{ ticket.name }}
                </td>
                <td>
                  {{ ticket.opr.id }}
                </td>
                <td>
                  {% if ticket.used_at %}
                    <i class="fas fa-check"></i> Checked in
                  {% else %}
                    <form method="POST">
                      {% csrf_token %}
                      <input type="hidden"
                             name="find_order_id"
                             value="{{ order.pk }}">
                      <button class="btn btn-primary"
                              name="check_in_ticket_id"
                              type="submit"
                              value="{{ ticket.pk }}">Checkin
                      </button>
                    </form>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

      {% if not order.paid and order.payment_method == "in_person" %}
        <form method="POST">
          {% csrf_token %}
          <button type="submit" name="mark_as_paid" value="{{ order.id }}" class="btn btn-primary">Mark as
            paid!
          </button>
        </form>
      {% endif %}

    {% else %}

      Order not found...

    {% endif %}

    <a href="" class="btn btn-primary">Clear</a>

  {% endif %}

  <script src="{% static 'js/ticket_scan.js' %}"></script>

{% endblock content %}
