{% load leaflet_tags %}
{% load static %}
{% load commonmark %}
{% load bornhack %}

{% leaflet_css %}
<div id="map" class="map"></div>
<script src="{% static 'js/leaflet-1.6.0.js' %}" type="text/javascript"></script>
<script src="{% static 'js/proj4.js' %}" type="text/javascript"></script>
<script src="{% static 'js/proj4leaflet.js' %}" type="text/javascript"></script>
<script src="{% static 'js/leaflet-color-markers.js' %}" type="text/javascript"></script>

<script type="text/javascript">
function MapReadyCallback() {
    //this.setView([9.94063, 55.38802], 13);
};
</script>

<script src="{% static 'js/kfmap.js' %}" type="text/javascript"></script>
