{% extends 'base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block title %}
  Map | {{ block.super }}
{% endblock %}

{% block extra_head %}
  {% leaflet_css %}
  <link href="{% static 'css/leaflet.css' %}" rel="stylesheet">
  <link href="{% static 'css/leaflet.awesome-markers.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/leaflet-fullscreen/leaflet.fullscreen.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/leaflet-panel-layers/leaflet-panel-layers.min.css' %}" rel="stylesheet">
  <script src="{% static 'vendor/leaflet/leaflet-1.6.0.js' %}" type="text/javascript"></script>
  <script src="{% static 'vendor/leaflet/proj4.js' %}" type="text/javascript"></script>
  <script src="{% static 'vendor/leaflet/proj4leaflet.js' %}" type="text/javascript"></script>
  <script src="{% static 'vendor/leaflet/leaflet.awesome-markers.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'vendor/leaflet/leaflet-color-markers.js' %}" type="text/javascript"></script>
  <script src="{% static 'vendor/leaflet-fullscreen/Leaflet.fullscreen.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'vendor/leaflet-panel-layers/leaflet-panel-layers.min.js' %}" type="text/javascript"></script>
  {{ mapData|json_script:"mapData" }}
  <script src="{% static 'js/maps/generic/mapVars.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/maps/generic/mapProcessing.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/maps/generic/map.js' %}" type="text/javascript"></script>
{% endblock extra_head %}

{% block content %}
  <div class="card">
    <h3 class="card-header unhide-for-no-js-users">Sorry without Javascript we can't show the map</h3>
    {% if request.user.is_authenticated %}
      <h3 class="card-header hide-for-no-js-users d-flex justify-content-between align-items-center">Map <a href="{% url 'maps_user_location_list' camp_slug=camp.slug %}"class="btn btn-primary">User Locations</a></h3>
    {% endif %}
    <div class="card-body" id="container">
      <div id="map" class="map"></div>
    </div>
    <script src="{% static 'js/maps/map.js' %}" type="text/javascript"></script>
  </div>
{% endblock %}
