{% extends 'base.html' %}
{% load leaflet_tags %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
  {% if request.resolver_match.url_name == "maps_user_location_update" %}Update{% else %}Create{% endif %} User Location | {{ block.super }}
{% endblock %}

{% block extra_head %}
  {{ form.media }}
  {% leaflet_css plugins="forms" %}
  {% leaflet_js plugins="forms" %}
  {{ mapData|json_script:"mapData" }}
  <script src="{% static 'js/maps/generic/mapVars.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/maps/generic/map.js' %}" type="text/javascript"></script>
{% endblock extra_head %}

{% block content %}
  <div class="card">
    <span class="h3 card-header">{% if request.resolver_match.url_name == "maps_user_location_update" %}Update{% else %}Create New{% endif %} Location</span>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">
          <i class="fas fa-check"></i>
          {% if request.resolver_match.url_name == "maps_user_location_update" %}Update{% else %}Create{% endif %} Location</button>
        <a href="{% url 'maps_user_location_list' camp_slug=camp.slug %}" class="btn btn-primary"><i class="fas fa-undo"></i> Cancel</a>
      </form>
    </div>
  </div>
  <script src="{% static 'js/maps/generic/init_loader.js' %}" type="text/javascript"></script>
{% endblock content %}
