{% load static from staticfiles %}
{% load bootstrap3 %}
{% static "" as baseurl %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{% block title %}BornHack{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/bornhack.css' %}" rel="stylesheet">

    {% block extra_head %}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            {% if request.resolver_match.kwargs.camp_slug %}
	    <img src="{% static camp.logo_small %}" class="img-responsive" />
            {% else %}
              <img src="{% static 'img/logo-small.png' %}" class="img-responsive" />
            {% endif %}
          </a>
        </div>
	<div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'news:index' %}">News</a></li>
            <li><a href="{% url 'shop:index' %}">Shop</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Camps<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for camp in camps %}
                  <li><a href="{% url 'camp_detail' camp_slug=camp.slug %}">{{ camp.title }}</a></li>
                {% endfor %}
              </ul>
            </li>
	    <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul> 
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'profiles:detail' %}">Account</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
         </ul>
        </div>
      </div>
    </nav>
 
    <div id="main" class="container container-fluid">
      {% if camp %}
        <div class="row">
          <div class="btn-group btn-group-justified">
            <a class="btn {% if request.resolver_match.url_name == "camp_detail" %}btn-primary{% else %}btn-default{% endif %}" href="{% url 'camp_detail' camp_slug=camp.slug %}">{{ camp.title }}</a>
            <a class="btn {% if request.resolver_match.url_name == "info" %}btn-primary{% else %}btn-default{% endif %}" href="{% url 'info' camp_slug=camp.slug %}">Info</a></li>
            <a class="btn {% if request.resolver_match.url_name == "village_list" %}btn-primary{% else %}btn-default{% endif %}" href="{% url 'village_list' camp_slug=camp.slug %}">Villages</a>
            <a class="btn {% if request.resolver_match.url_name == "schedule_index" %}btn-primary{% else %}btn-default{% endif %}" href="{% url 'schedule_index' camp_slug=camp.slug %}">Schedule</a>
            <a class="btn {% if request.resolver_match.url_name == "sponsors" %}btn-primary{% else %}btn-default{% endif %}" href="{% url 'sponsors' camp_slug=camp.slug %}">Sponsors</a>
          </div>
<p>
</div>
      {% endif %}
      {% bootstrap_messages %}
      {% block content %}{% endblock %}
      <footer class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            {% block footer %}
            <a href="{% url 'general-terms' %}">General Terms &amp; Conditions</a> | 
            <a href="{% url 'conduct' %}">Code of Conduct</a> | 
            <a href="{% url 'privacy-policy' %}">Privacy Policy</a> |
            <a href="{% url 'contact' %}">Contact</a>
            {% endblock %}
        </div>
      </footer>
    </div>
    {% bootstrap_javascript jquery=1 %}
  </body>
</html>
