{% extends 'profile_base.html' %}
{% load django_bootstrap5 %}
{% load tickets_tags %}

{% block title %}
  Your Tickets | {{ block.super }}
{% endblock %}

{% block profile_content %}

  <div class="card">
    <div class="card-header">
      <h4>Your Tickets</h4>
    </div>
    <div class="card-body">

      <h2>{% if ticket.used_at %}This ticket has been used{% else %}This ticket is unused{% endif %}</h2>
      {% if ticket.product.ticket_type.camp.read_only %}
        <dl>
          <dt>Name</dt><dd>{{ form.name.value|default:"Anonymous" }}</dd>
        </dl>
      {% else %}
        <form method="POST" class="form">
          {% csrf_token %}
          {% bootstrap_field form.name %}
          <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-check"></i> Save</button>
        </form>
      {% endif %}

    </div>
  </div>

{% endblock %}
