{% extends 'profile_base.html' %}
{% load bootstrap3 %}
{% load shop_tags %}

{% block profile_content %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Details for Order #{{ order.id }}</h4>
    </div>
    <div class="panel-body">
        {% if not order.paid %}
        <form method="POST" class="form-inline">
          {% csrf_token %}
          {{ order_product_formset.management_form }}
        {% endif %}
        <table class="table table-bordered {% if not order.open == None %}table-hover{% endif %}">

          <thead>
            <tr>
              <th>
                Name
              <th>
                Quantity
              <th>
                Price
              <th>
                Total
              <th></th>

          <tbody>
        {% for form in order_product_formset %}
            {{ form.id }}
          <tr>
            <td>
              {{ form.instance.product.name }}
              {% if form.instance.product.stock_amount %}
                <br /><small>{{ form.instance.product.left_in_stock }} left in stock</small>
              {% endif %}
            <td>
              {% if not order.open == None %}
              {% bootstrap_field form.quantity show_label=False %}
              {% else %}
              {{ form.instance.quantity }}
              {% endif %}
            <td>
              {{ form.instance.product.price|currency }}
            <td>
              {{ form.instance.total|currency }}
            <td>
              {% bootstrap_button '<i class="glyphicon glyphicon-remove"></i>' button_type="submit" button_class="btn-danger" name="remove_product" value=form.instance.pk %}

        {% endfor %}

          <tr>
            <td colspan="2">
            <td>
              <strong>Included VAT (25%)</strong>
            <td>
              {{ order.vat|currency }}

          <tr>
            <td colspan="2">
            <td>
              <strong>Total</strong>
            <td>
              {{ order.total|currency }}<br />

        </table>

        {% if not order.open == None %}
          <h4>Comment:</h4>
          <textarea class="form-control" name="customer_comment" style="width: 100%;" placeholder="Please enter any comments or shipping address here...">{{ order.customer_comment }}</textarea></p>
        {% elif order.open == None and order.comment %}
          <div class="alert alert-info">{{ order.comment|linebreaks }}</div>
        {% endif %}

        {% if not order.open == None %}
          <h4>Invoice Address:</h4>
          <textarea class="form-control" name="invoice_address" style="width: 100%;" placeholder="Please enter the invoice address. Leave blank to use the email associated with the logged in user.">{{ order.invoice_address }}</textarea></p>
        {% elif order.open == None and order.invoice_address %}
          <h4>Invoice Address:</h4>
          <div class="alert alert-info">{{ order.invoice_address|linebreaks }}</div>
        {% endif %}

        {% if order.open %}
          {% bootstrap_button "Update order" button_type="submit" button_class="btn-primary" name="update_order" %}
        {% endif %}
        {% if not order.paid %}
          {% bootstrap_button "Cancel order" button_type="submit" button_class="btn-danger" name="cancel_order" %}
        {% endif %}
        {% if not order.paid %}
        <a href="{% url "shop:order_review_and_pay" pk=order.pk %}" class="btn btn-success btn-lg pull-right">
            Review and pay
        </a>
        {% endif %}

    </div>
    {% if order.paid %}
    <div class="panel-footer">
        <h4>Your order is paid in full.</h4>
    </div>
    {% endif %}
</div>

{% endblock %}
