<ul>
  <li class="lead">
    <p class="text-break">
      <strong>IRC</strong>:
      #bornhack @ 65idh3eawaqm33egquecykgavpgijar3v3mlptqpi6aykd2icuqf57qd.onion or irc.baconsvin.org <small>(TLS port 6697)</small>
    </p>
  </li>

  <li class="lead">
    <strong>Email</strong>:
    <a href="mailto:info@bornhack.dk">info@bornhack.dk</a>
  </li>

  <li class="lead break-word">
    <strong>Mastodon</strong>
    <a href="https://mastodon.social/@bornhack" target="_blank">@BornHack@mastodon.social</a>
  </li>

  <li class="lead">
    <strong>Instagram</strong>:
    <a href="https://www.instagram.com/bornhax/" target="_blank">@BornHax</a>
  </li>

  <li class="lead">
    <strong>LinkedIn</strong>:
    <a href="https://linkedin.com/company/bornhack" target="_blank">BornHack</a>
  </li>
</ul>
