{% load static %}
<nav class="nav flex-column position-sticky" style="top: 50px">

    {% if request.resolver_match.kwargs.camp_slug and camp %}
    <a class="navbar-brand" href="{% url 'camp_detail' camp_slug=camp.slug %}">
        <img src="{% static camp.logo_small %}" height="50" width="190px" alt="bornhack" class="img-responsive">
    </a>
    {% else %}
    <a class="navbar-brand" href="/">
        <img src="{% static 'img/logo-small.svg' %}" alt="bornhack" class="img-responsive">
    </a>
    {% endif %}

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'news:index' %}">
                    News
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'shop:index' %}">
                    Shop
                </a>
            </li>

            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="navbarDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Camps<span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'camp_detail' camp_slug='bornhack-2019' %}">
                        BornHack 2019
                    </a>
                    <a class="dropdown-item" href="{% url 'camp_detail' camp_slug='bornhack-2018' %}">
                        BornHack 2018
                    </a>
                    <div class="divider"></div>
                    <a class="dropdown-item" href="{% url 'camp_list' %}">Camp List</a>
                </div>
            </div>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'people' %}">People</a></li>
            {% if request.user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">
                    Django Admin
                </a>
            </li>
            {% endif %}
            {% if camp %}
            {% include 'includes/menuitems.html' %}
            {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'profiles:detail' %}">Account</a></li>
            <li>
                <a href="{% url 'account_logout' %}">
                    Logout
                </a>
            </li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
        </ul>
</nav>
