{% extends 'base.html' %}
{% load static %}
{% load commonmark %}$

{% block title %}
  Info | {{ block.super }}
{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
{% endblock %}

{% block content %}
  {% if categories %}
    <div class="row">
      <div class="col-sm-12 col-lg-3 sticky">
        <h3>Table of Contents</h3>
        <p class="list-group">
          {% for category in categories %}
            <a href="#{{ category.anchor }}" class="list-group-item">{{ category.headline }}</a>
          {% endfor %}
        </p>
      </div>

      <div class="col-sm-12 col-lg-9">
        {% for category in categories %}
          <span class="anchor" id="{{ category.anchor }}"></span>
          <h2 {% if not forloop.first %}class="mt-2"{% endif %}><a href="#{{ category.anchor }}">{{ category.headline }}</a> {% if category.team %}<span class="fs-4 text-muted">Info by the {{ category.team.name }} team</span>{% endif %}</h2>
          {% for item in category.infoitems.all %}
            <div class="card mb-1">
              <span class="sub-anchor" id="{{ item.anchor }}"></span>
              <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="text-start m-0"><a href="#{{ item.anchor }}">{{ item.headline }}</a></h4>
                <span class="text-end">
                  <a href="#{{ item.anchor }}">
                    <i class="fa-solid fa-link"></i>
                  </a>
                  {% if category.team.infopager_permission_set in perms %}
                    <a href="{% url 'teams:info_item_update' camp_slug=camp.slug team_slug=category.team.slug category_anchor=category.anchor item_anchor=item.anchor %}?next={% url 'info'  camp_slug=camp.slug %}#{{ item.anchor }}"
                       class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i> Edit
                    </a>
                  {% endif %}
                </span>
              </div>
              <div class="card-body">
                <p class="break-word">{{ item.body|trustedcommonmark }}</p>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  {% else %}
    <h3>No info found for {{ camp.title }}</h3>
  {% endif %}
{% endblock %}
