{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
Sponsors | {{ block.super }}
{% endblock %}

{% block content %}
<h2>BornHack 2016 Sponsors</h2>
<p class="lead">
  This is an alphabetical list of the BornHack 2016 sponsors. An event like BornHack can not be built on hard work and
  good intentions alone - it would simply not have been possible without the financial help from these organisations. Thank you, we are immensely grateful!
</p>
<div class="text-center">
    <hr>
    <p class="lead">
      <a href="https://bitbureauet.dk/">
        <img src="{% static 'img/sponsors/bitbureauet.png' %}" class="img-responsive center-block" alt="Bit Bureauet Logo">
      </a>
      Shuttle bus and bicycles
    </p>
    <hr>
    <p class="lead">
      <a href="https://www.bornfiber.dk">
        <img src="{% static 'img/sponsors/bornfiber-logoweb.png' %}" class="img-responsive center-block" alt="BornFiber Logo">
      </a>
      Internet uplink and bandwidth
    </p>
    <hr>
    <p class="lead">
      <a href="https://brk.dk/Sider/Forside.aspx">
        <img src="{% static 'img/sponsors/brklogo.png' %}" class="img-responsive center-block" alt="BRK Logo">
      </a>
      IT equipment
    </p>
    <hr>
    <p class="lead">
      <a href="https://csis.dk/">
        <img src="{% static 'img/sponsors/CSIS_PRI_LOGO_TURQUOISE_RGB.jpg' %}" class="img-responsive center-block" alt="CSIS Logo">
      </a>
      Cash sponsorship
    </p>
    <hr>
    <p class="lead">
      <a href="http://www.danskebank.dk/">
        <img src="{% static 'img/sponsors/danskebank.png' %}" class="img-responsive center-block" alt="Danske Bank Logo">
      </a>
      Speaker tent
    </p>
    <hr>
    <p class="lead">
      <a href="http://www.dkuug.dk/">
        <img src="{% static 'img/sponsors/DKUUGlogo.jpeg' %}" class="img-responsive center-block" alt="DKUUG Logo">
      </a>
      Cash sponsorship
    </p>
    <hr>
    <p class="lead">
      <a href="https://fortconsult.net/">
        <img src="{% static 'img/sponsors/fortconsultlogo.png' %}" class="img-responsive center-block" alt="Fort Consult Logo">
      </a>
      Insurance
    </p>
    <hr>
    <p class="lead">
      <a href="http://www.hk.dk/omhk/tvaergaaende-landsforeninger-og-branchesektioner/samdata">
        <img src="{% static 'img/sponsors/samdatalogo.jpg' %}" class="img-responsive center-block" alt="SAMDATA\HK Logo">
      </a>
      Legal expenses
    </p>
    <hr>
    <p class="lead">
      <a href="http://knudsker-el.dk/">
        <img src="{% static 'img/sponsors/knudskerel.png' %}" class="img-responsive center-block" alt="Knudsker El Logo">
      </a>
      Power transmission equipment
    </p>
    <hr>
    <p class="lead">
      <a href="http://www.kristianskaffe.dk/">
        <img src="{% static 'img/sponsors/KristiansKaffe_Logo_Hires1.0.jpg' %}" class="img-responsive center-block" alt="Kristians Kaffe Logo">
      </a>
      Coffee equipment
    </p>
    <hr>
    <p class="lead">
      <a href="https://pasientsky.no/">
        <img src="{% static 'img/sponsors/PS_Logo_CMYK_DK.png' %}" class="img-responsive center-block" alt="Patientsky Logo">
      </a>
      Cash sponsorship
    </p>
    <hr>
    <p class="lead">
      <a href="https://www.prosa.dk/">
        <img src="{% static 'img/sponsors/PROSA-logo.png' %}" class="img-responsive center-block" alt="PROSA Logo">
      </a>
      Politician event
    </p>
    <hr>
    <p class="lead">
      <a href="https://www.prosa.dk/mit-prosa/udvalg/ungdomsudvalget-u35/">
        <img src="{% static 'img/sponsors/prosa-u35-1.png' %}" class="img-responsive center-block" alt="PROSA U35 Logo">
      </a>
      Bus transportation
    </p>
    <hr>
    <p class="lead">
      <a href="http://www.septima.dk/">
        <img src="{% static 'img/sponsors/septima-logo.png' %}" class="img-responsive center-block" alt="Septima Logo">
      </a>
      Network cables
    </p>
    <hr>
    <p class="lead">
      <a href="https://shopgun.com/">
        <img src="{% static 'img/sponsors/ShopGun_LogoType_Green.png' %}" class="img-responsive center-block" alt="ShopGun Logo">
      </a>
      Fridges
    </p>
    <hr>
    <p class="lead">
      <a href="mailto:thomas@tyktech.dk">
        <img src="{% static 'img/sponsors/tyktech_logo.png' %}" class="img-responsive center-block" alt="tyktech logo">
      </a>
      Badges, wristbands
    </p>
    <hr>
    <p class="lead">
      <a href="http://www.zencurity.com/">
        <img src="{% static 'img/sponsors/zencurity_logo.png' %}" class="img-responsive center-block" alt="Zencurity Logo">
      </a>
      Fiber cables
    </p>
    <hr>
    <p class="lead">
      <a href="https://zybersafe.com/">
        <img src="{% static 'img/sponsors/zybersafe_logo.png' %}" class="img-responsive center-block" alt="ZyberSafe Logo">
      </a>
      Cash sponsorship
    </p>
    <hr>
    <div class="lead">The Call for Sponsors is kept <a href="{% url 'call-for-sponsors' camp_slug=camp.slug %}">here</a> for historic purposes.</div>
</div>

{% endblock %}
