{% extends 'base.html' %}

{% block content %}
<p class="lead">
  An alphabetical list of all talks, workshops, keynotes and other events
  at BornHack 2016.
</p>

<div class="list-group">
  {% for event in event_list %}
  <small style="background-color: {{ event.event_type.color }}; border: 0; color: {% if event.event_type.light_text %}white{% else %}black{% endif %}; display: inline-block; padding: 5px;">
    {{ event.event_type.name }}
  </small>
  <a href="{% url 'schedule:event' slug=event.slug %}" class="list-group-item">
    {{ event.title }}
  </a>
  {% if event.speakers.exists %}
    by {{ event.speakers.all|join:", " }}
  {% endif %}
  {% endfor %}
</div>
{% endblock content %}
