{% extends 'schedule_base.html' %}
{% load commonmark %}

{% block schedule_content %}

<h3>
  <small style="background-color: {{ event.event_type.color }}; border: 0; color: {% if event.event_type.light_text %}white{% else %}black{% endif %}; display: inline-block; padding: 5px;">
    {{ event.event_type.name }}
  </small>
  {{ event.title }}
</h3>

<h4>
{% if event.start and event.end and event.days.all.exists %}
  {{ event.start|date:"H:i" }} - {{ event.end|date:"H:i" }} on
  {% for day in event.days.all %}{{ day.date|date:"l" }}{% if not forloop.last %}, {% endif %}{% endfor %}<br />
{% else %}
Not scheduled yet
{% endif %}
</h4>

{{ event.abstract|commonmark }}

<hr />

{% if event.speakers.exists %}
{% for speaker in event.speakers.all %}

  <h3><a href="{% url 'schedule:speaker_detail' slug=speaker.slug %}">{{ speaker }}</a></h3>
  {{ speaker.biography|commonmark }}

{% endfor %}

{% endif %}

{% endblock schedule_content %}
