{% extends 'schedule_base.html' %}

{% block schedule_content %}

<a href="{% url 'schedule:index' %}" class="btn btn-default" style="display: inline-block; padding: 5px;">
  Overview
</a>
{% for day in days %}
{% with day.date|date:"m" as month_padded %}
{% with day.date|date:"d" as day_padded %}
<a href="{% url 'schedule:day' year=day.date.year month=month_padded day=day_padded %}" class="btn btn-default" style="display: inline-block; padding: 5px;">
  {{ day.date|date:"l" }}
</a>
{% endwith %}
{% endwith %}
{% endfor %}

<hr />

{% block program_content %}
{% endblock program_content %}

{% endblock schedule_content %}
