{% extends 'base.html' %}

{% block content %}

<hr />

<p>
  <a href="{% url 'schedule_index' camp_slug=camp.slug %}" class="btn btn-default">Schedule</a>
  <a href="{% url 'call_for_speakers' camp_slug=camp.slug %}" class="btn btn-default">Call for Speakers</a>
  <a href="{% url 'speaker_index' camp_slug=camp.slug %}" class="btn btn-default">Speakers</a>
  <a href="{% url 'event_index' camp_slug=camp.slug %}" class="btn btn-default">Talks &amp; Events</a>
</p>

<hr />

{% block schedule_content %}
{% endblock schedule_content %}

{% endblock content %}
