{% extends 'base.html' %}
{% load leaflet_tags %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
  Create {{ camp.title }} Village | {{ block.super }}
{% endblock %}

{% block extra_head %}
  {{ form.media }}
  {% leaflet_css plugins="forms" %}
  {% leaflet_js plugins="forms" %}
  <script src="{% static 'js/mapVars.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/map.js' %}" type="text/javascript"></script>
{% endblock extra_head %}


{% block content %}
  <h3>Create {{ camp.title }} Village</h3>
  <form method="post">
    {% csrf_token %}

    {% bootstrap_form form %}

    <hr />

    <button class="btn btn-primary pull-right" type="submit">Save</button>
  </form>
  <script>
      var mapObject = undefined;
      window.addEventListener("map:init", function (event) {
          var map = event.detail.map;
          mapObject = new BHMap(map);
          mapObject.loadLayer("{% static 'json/grid.geojson' %}", "Grid squares", {
              onEachFeature: mapObject.onEachGrid,
              style: {
                  color: "gray",
                  fillOpacity: 0.0,
                  weight: 0.5
              },
          });
      });
  </script>

{% endblock %}
