{% extends 'base.html' %}
{% load commonmark %}

{% block title %}
Village: {{ village.name }} | {{ block.super }}
{% endblock %}

{% block content %}

<h3>{{ village.name }}</h3>

{{ village.description|unsafecommonmark }}

{% if user == village.contact %}
<hr />
<a href="{% url 'village_update' camp_slug=village.camp.slug slug=village.slug %}" class="btn btn-primary">Edit</a>
<a href="{% url 'village_delete' camp_slug=village.camp.slug slug=village.slug %}" class="btn btn-danger">Delete</a>
{% endif %}

{% endblock %}
