{% extends 'program_base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block extra_head %}
  {% leaflet_css %}
  <link href="{% static 'css/leaflet.css' %}" rel="stylesheet">
  <link href="{% static 'css/leaflet.awesome-markers.css' %}" rel="stylesheet">
  <link href="{% static 'modules/leaflet-fullscreen/leaflet.fullscreen.css' %}" rel="stylesheet">
  <script src="{% static 'js/leaflet-1.6.0.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/proj4.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/proj4leaflet.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/leaflet.awesome-markers.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/leaflet-color-markers.js' %}" type="text/javascript"></script>
  <script src="{% static 'modules/leaflet-fullscreen/Leaflet.fullscreen.min.js' %}" type="text/javascript"></script>
{% endblock extra_head %}

{% block title %}
  Facilities of type {{ facilitytype }} | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Facilities of type {{ facilitytype }}</h3>
    </div>
    <div class="panel-body">
      <div class="list-group">
        {% for facility in facility_list %}
          {% if request.user.is_authenticated %}
            <a href="{% url 'facilities:facility_detail' camp_slug=camp.slug facility_type_slug=facility.facility_type.slug facility_uuid=facility.uuid %}" class="list-group-item">
          {% else %}
            <div class="list-group-item">
          {% endif %}
          <h4 class="list-group-item-heading">
            <i class="{{ facility.facility_type.icon }} fa-2x fa-pull-left fa-fw"></i> {{ facility.name }}
            <img class="pull-right" src="{% static 'img/leaflet/marker-icon-'|add:facility.facility_type.marker|slice:"-4"|add:'.png' %}">
          </h4>
          <p class="list-group-item-text">{{ facility.description }}</p>
          <p class="list-group-item-text"><i>Location: Lat {{ facility.location.y }} Long {{ facility.location.x }}</i></p>
          {% if request.user.is_authenticated %}
            </a>
          {% else %}
            </div>
          {% endif %}
        {% endfor %}
        <p>
          <div id="map" class="map"></div>
        </div>
        <a href="{% url "facilities:facility_type_list" camp_slug=camp.slug %}" class="btn btn-default"><i class="fas fa-undo"></i> Back to facility type list</a>
      </div>
    </div>
    <script src="{% static 'js/mapVars.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/map.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
      const mapObject = new BHMap("map");
      mapObject.setDefaultView();
      mapObject.map.addControl(new L.Control.Fullscreen({
        pseudoFullscreen: true,
      }));
      mapObject.loadLayer("{% static 'json/grid.geojson' %}", "Grid squares", {
        onEachFeature: mapObject.onEachGrid,
        style: {
          color: "gray",
          fillOpacity: 0.0,
          weight: 0.5
        },
      }, false, gridLoaded());

      {% if request.user.is_authenticated %}
        const loggedIn = true;
      {% else %}
        const loggedIn = false;
      {% endif %}
      function gridLoaded() {
        {% url "facilities:facility_list_geojson" camp_slug=facilitytype.responsible_team.camp.slug facility_type_slug=facilitytype.slug as layerUrl %}
        mapObject.loadLayer("{{ layerUrl }}", "{{ facilitytype.name }}", facilityOptions);
      }
    </script>

{% endblock %}
