{% extends 'base.html' %}
{% load leaflet_tags %}
{% load static %}
{% load commonmark %}
{% load bornhack %}

{% block extra_head %}
  {% leaflet_css %}
  <link href="{% static 'css/leaflet.css' %}" rel="stylesheet">
  <link href="{% static 'css/leaflet.awesome-markers.css' %}" rel="stylesheet">
  <script src="{% static 'vendor/leaflet/leaflet-1.6.0.js' %}" type="text/javascript"></script>
  <script src="{% static 'vendor/leaflet/proj4.js' %}" type="text/javascript"></script>
  <script src="{% static 'vendor/leaflet/proj4leaflet.js' %}" type="text/javascript"></script>
  <script src="{% static 'vendor/leaflet/leaflet.awesome-markers.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'vendor/leaflet/leaflet-color-markers.js' %}" type="text/javascript"></script>
  {{ mapData|json_script:"mapData" }}
  <script src="{% static 'js/maps/generic/mapVars.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/maps/generic/map.js' %}" type="text/javascript"></script>
{% endblock extra_head %}

{% block title %}
  {{ facility.name }} - Facilities | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="card">
    <h3 class="card-header">{{ facility.facility_type.name }}: {{ facility.name }}</h3>
    <div class="card-body">
      <table class="table">
        <tbody>
          <tr>
            <th>Facility Name</th>
            <td>{{ facility.name }}</td>
          </tr>
          <tr>
            <th>Facility Type</th>
            <td><i class="{{ facility.facility_type.icon }}"></i> {{ facility.facility_type.name }}</p>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{ facility.description|linebreaksbr }}</td>
          </tr>
          <tr>
            <th>Location</th>
            <td>Lat {{ facility.location.y }} Long {{ facility.location.x }}</td>
          </tr>
          <tr>
            <th>Opening Hours</th>
            <td>
              {% if facility.opening_hours.exists %}
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>Opens</th>
                      <th>Closes</th>
                      <th>Duration</th>
                      <th>Notes</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for opening in facility.opening_hours.all %}
                      <tr>
                        <td>{{ opening.when.lower }}</td>
                        <td>{{ opening.when.upper }}</td>
                        <td>{{ opening.duration }}</td>
                        <td>{{ opening.notes|trustedcommonmark|default:"N/A" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
                This facility does not have opening hours, it is always open.
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
      <p>
        {% if request.user.is_authenticated %}
          <a href="{% url "facilities:facility_feedback" camp_slug=camp.slug facility_type_slug=facilitytype.slug facility_uuid=facility.uuid %}" class="btn btn-primary"><i class="fas fa-comment-dots"></i> Submit Feedback</a>
        {% endif %}
        <a href="{% url "facilities:facility_list" camp_slug=camp.slug facility_type_slug=facilitytype.slug %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Back to {{ facilitytype.name }} list</a>
      </p>
      <div id="map" class="map"></div>
      <hr>
      <h4>Feedback QR Code</h4>
      <img src="{% feedbackqr facility %}">
    </div>
  </div>

  <script src="{% static 'js/facility/facility_detail.js' %}"></script>
{% endblock %}
