{% extends 'program_base.html' %}

{% block title %}
Facilities of type {{ facilitytype }} | {{ block.super }}
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">Facilities of type {{ facilitytype }}</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
    {% for facility in facility_list %}
      <a href="{% url 'facilities:facility_detail' camp_slug=camp.slug facility_type_slug=facility.facility_type.slug facility_uuid=facility.uuid %}" class="list-group-item">
      <h4 class="list-group-item-heading">
      <i class="{{ facility.facility_type.icon }} fa-2x fa-pull-left fa-fw"></i> {{ facility.name }}
      </h4>
      <p class="list-group-item-text">{{ facility.description }}</p>
      </a>
    {% endfor %}
    </div>
    <a href="{% url "facilities:facility_type_list" camp_slug=camp.slug %}" class="btn btn-primary"><i class="fas fa-list"></i> Back to facility type list</a>
  </div>
</div>
{% endblock %}

