{% extends 'base.html' %}
{% load commonmark %}
{% load teams_tags %}
{% load static %}

{% block title %}
People | {{ block.super }}
{% endblock %}

{% block content %}

<h3>The People of BornHack</h3>
<p class="lead">The following is a list of the volunteers that have helped make BornHack happen. It goes without saying that an event like BornHack would not be possible to pull off without our volunteers. We are forever grateful, and we leave your names here as a recognition of the work you put in. Thank you!
{% for camp in camp_list %}
    {% if camp.teams.exists %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ camp.title }} Teams</div>
        <div class="panel-body">
         <img width=190 class="pull-right" src="{% static camp.logo_small %}">
         <table class="table table-hover">
          <thead>
          <tr>
            <th>Team Name</th>
            <th>Team Responsible</th>
            <th>Team Members</th>
          </tr>
          </thead>
          <tbody>
            {% for team in camp.teams.all %}
            <tr>
              <td>
                  {{ team.name }} Team
              </td>
              <td>
                {% for resp in team.responsible_members.all %}
                {% if resp.user.profile.approved_public_credit_name %}
                {{ resp.user.profile.approved_public_credit_name }}<br>
                {% else %}
                anonymous<br>
                {% endif %}
                {% endfor %}
              </td>
              <td>
                {% if team.regular_named_members.count == 0 and team.regular_unnamed_members == 0 %}
                <b>No team member(s)
                {% else %}

                {% for member in team.regular_named_members.all %}
                {% if member.user.profile.approved_public_credit_name %}
                {{ member.user.profile.approved_public_credit_name }}{% if member in team.responsible_members.all %} (responsible){% endif %}<br>
                {% endif %}
                {% endfor %}
                {% if team.regular_unnamed_members %}
                plus <b>{{ team.regular_unnamed_members }}</b> anonymous member(s).
                {% endif %}
                {% endif %}
              </td>
           </tr>
            {% endfor %}
          </tbody>
        </table>
       </div>
    </div>
    {% endif %}
{% endfor %}
{% endblock %}
