{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="inner cover">
  <h1 class="cover-heading">
  <img src="{% static 'img/logo.svg' %}" height="400" width="350">
  </h1>
  <hr />
  <p class="lead">
    <strong>Bornhack</strong> is a 7 day outdoor camp where hackers, makers
    and people with an interest in technology and security come together to
    celebrate technology, socialise, learn and <strong>have fun</strong>.
  </p>

  <p class="lead">
    It takes place for the first time from <strong>August 27 to September 3rd
    2016</strong> on the Danish island <strong>Bornholm</strong> where we
    have found the geography as well as backbone to make it happen.
  </p>

  <p class="lead">
    Bornhack is a <strong>participatory</strong> event where we expect people
    to come up with crazy ideas and help make the content. We will reach out to
    people to ensure interesting, high quality talks and workshops.
  </p>

  <p class="lead">
    You are very welcome to ask questions and show your interest on IRC at
    <strong>#bornhack</strong> on <strong>6nbtgccn5nbcodn3.onion</strong> or
    <strong>irc.baconsvin.org</strong>, both using TLS on port 6697.

    That way you can help us understand what you think would be fun to do.
    This is a new event, so we don't yet know exactly where this is going - but
    give us your feedback and you can help us form it.
  </p>

  <p class="lead">
    We hope you want to be a part of Bornhack.
  </p>

  <div class="regards-and-button">
    <p class="lead">
      Sincerely<br />
      The Bornhack Team

    </p>
{#     <a href="{% url 'account_signup' %}" #}
{#        class="btn btn-primary btn-lg"> #}
{#       Signup for more info #}
{#     </a> #}
  </div>

</div>


{% endblock %}

