{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="row">
  <div class="col-md-12">
      <img src="{% static 'img/logo.png' %}" class="img-responsive"
          id="front-logo" />

      <br />

      <div class="row">
        <div class="col-md-8 text-container">
          <div class="lead">
            <strong>Bornhack</strong> is a 7 day outdoor tent camping festival
            people with an interest in technology and security
            come together to celebrate technology, socialise, learn and <strong>have fun</strong>.
          </div>
        </div>
        <div class="col-md-4">
          <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/1440021030983232.jpg">
            <img class="img-thumbnail"
                 src="https://people.bornhack.org/tyk/ohm_cccamp_pics/1440021030983232_tn.jpg"
                 alt="Tents at CCCamp2015">
          </a>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-4">
          <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/ohm2013-0a-hacking.jpg">
            <img class="img-thumbnail"
                 src="https://people.bornhack.org/tyk/ohm_cccamp_pics/ohm2013-0a-hacking_tn.jpg"
                 alt="Hacking">
          </a>
        </div>
        <div class="col-md-8 text-container">
          <div class="lead">
            It takes place for the first time from <strong>August 27 to September 3rd
            2016</strong> on the Danish island of <strong>Bornholm</strong> where we
            have found the geography and backbone to make it happen.
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-8 text-container">
          <p class="lead">
            Bornhack is a <strong>participatory</strong> event where we expect people
            to come up with ideas and projects, and help make the content. We will reach out to
            people to ensure interesting, high quality talks and workshops.
          </p>
        </div>
        <div class="col-md-4">
          <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/0021652.jpg">
            <img class="img-thumbnail"
                 src="https://people.bornhack.org/tyk/ohm_cccamp_pics/0021652_tn.jpg"
                 alt="Campsite at nighttime">
          </a>
        </div>
      </div>

      <br />

      <p class="lead">
        You are very welcome to ask questions and show your interest on our different channels:
      </p>
      {% include 'includes/contact.html' %}
      <p class="lead">
        Follow and like us to get updates about the camp.
      </p>

      <p class="lead">
        We hope you want to be a part of Bornhack. Ticket sales are open!
      </p>

      <div class="regards-and-button">
        <p class="lead">
          Sincerely<br />
          The Bornhack Team
        </p>
      </div>

    <p>
      <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/inconvenience.jpg">
        <img class="img-thumbnail" src="https://people.bornhack.org/tyk/ohm_cccamp_pics/inconvenience_tn.jpg"
             alt="Sorry for the inconvenience">
      </a>
      <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/MgpF-OHM2013-2005.jpg"><img class="img-thumbnail" src="https://people.bornhack.org/tyk/ohm_cccamp_pics/MgpF-OHM2013-2005_tn.jpg" alt="Noisy Square at OHM2013"></a>
      <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/OHM2013_big_tux.png"><img class="img-thumbnail" src="https://people.bornhack.org/tyk/ohm_cccamp_pics/OHM2013_big_tux_tn.jpg" alt="Big Tux at OHM2013"></a>
      <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/camp_villages.jpg"><img class="img-thumbnail" src="https://people.bornhack.org/tyk/ohm_cccamp_pics/camp_villages_tn.jpg" alt="Hacking tent at OHM2013"></a>
      <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/ccc2-5e6cdc7575a1ef63.jpg"><img class="img-thumbnail" src="https://people.bornhack.org/tyk/ohm_cccamp_pics/ccc2-5e6cdc7575a1ef63_tn.jpg" alt="Tents at CCCamp2015"></a>
      <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/datenklo.jpg"><img class="img-thumbnail" src="https://people.bornhack.org/tyk/ohm_cccamp_pics/datenklo_tn.jpg" alt="Datenklo at CCCamp2015"></a>
      <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/dome.jpg"><img class="img-thumbnail" src="https://people.bornhack.org/tyk/ohm_cccamp_pics/dome_tn.jpg" alt="Dome at CCCamp2015"></a>
      <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/hacking-hard-drive-controllers.jpg"><img class="img-thumbnail" src="https://people.bornhack.org/tyk/ohm_cccamp_pics/hacking-hard-drive-controllers_tn.jpg" alt="Hacking harddrive controllers"></a>
      <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/img_20150816_184130-sarah-crop.jpg"><img class="img-thumbnail" src="https://people.bornhack.org/tyk/ohm_cccamp_pics/img_20150816_184130-sarah-crop_tn.jpg" alt="Hacking in progress at CCCamp2015"></a>
      <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/maxresdefault.jpg"><img class="img-thumbnail" src="https://people.bornhack.org/tyk/ohm_cccamp_pics/maxresdefault_tn.jpg" alt="Lights at CCCamp2015"></a>
      <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/ohm2013-0a-hacking.jpg"><img class="img-thumbnail" src="https://people.bornhack.org/tyk/ohm_cccamp_pics/ohm2013-0a-hacking_tn.jpg" alt="Hacking sign at OHM2013"></a>
      <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/ohm2013-15.jpg"><img class="img-thumbnail" src="https://people.bornhack.org/tyk/ohm_cccamp_pics/ohm2013-15_tn.jpg" alt="Illuminated road at night at OHM2013"></a>
      <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/ohm2013-3-hOHM-sweet-hOHM.jpg"><img class="img-thumbnail" src="https://people.bornhack.org/tyk/ohm_cccamp_pics/ohm2013-3-hOHM-sweet-hOHM_tn.jpg" alt="Tent at OHM2013"></a>
      <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/ohm2013_partfusion_projects.png"><img class="img-thumbnail" src="https://people.bornhack.org/tyk/ohm_cccamp_pics/ohm2013_partfusion_projects_tn.jpg" alt="Hardware at OHM2013"></a>
      <a href="https://people.bornhack.org/tyk/ohm_cccamp_pics/wide__820x461.png"><img class="img-thumbnail" src="https://people.bornhack.org/tyk/ohm_cccamp_pics/wide__820x461_tn.jpg" alt="CCCamp2015 at night"></a>
    </p>
</div>


{% endblock %}

