{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
Info | {{ block.super }}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
{% endblock %}

{% block content %}
  <style>
    .anchor{
      display: block;
      height: 80px; /*same height as header*/
      margin-top: -80px; /*same height as header*/
      visibility: hidden;
    }
  </style>

  <div class="row">
    <div class="col-md-12">
      <h2>Table of Contents</h2>
      <p>
        <div class="list-group">
          <a href="#when" class="list-group-item">When is BornHack happening?</a>
          <a href="#where" class="list-group-item">Where is BornHack going to take place?</a>
          <a href="#travel" class="list-group-item">Travel Information</a>
          <a href="#sleep" class="list-group-item">Where do I sleep?</a>
          <a href="#venuemap" class="list-group-item">Venue Map</a>
          <a href="#camping_areas" class="list-group-item">Camping Areas</a>
          <a href="#bar" class="list-group-item">The Bar</a>
          <a href="#villages" class="list-group-item">Villages</a>
          <a href="#showers_and_toilets" class="list-group-item">Showers and Toilets</a>
          <a href="#food" class="list-group-item">Food, Drink and Groceries</a>
          <a href="#power_and_network" class="list-group-item">Power and Connectivity</a>
          <a href="#shuttlebus" class="list-group-item">Shuttle Bus</a>
          <a href="#info_and_cert" class="list-group-item">Infodesk and CERT</a>
        </div>
      </p>
    </div>
  </div>

  <span class="anchor" id="when"></span>
  <div class="row">
    <div class="col-md-12">
      <h2>When is BornHack happening?</h2>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Opening</h4>
          </div>
          <div class="panel-body">
            <p>
              BornHack 2016 starts saturday, august 27th, at noon (12:00).
              It will be possible to access the venue before noon if
              for example you arrive early in the morning with the ferry.
              But please don't expect everything to be ready before noon :)
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Closing</h4>
          </div>
          <div class="panel-body">
            <p>
              BornHack 2016 ends saturday, september 3rd, at noon (12:00).
              Rented village tents must be empty and cleaned at this time,
              ready to take down. Participants must leave the site no later
              than 17:00 on the closing day (or stay and help us clean up).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <span class="anchor" id="where"></span>
  <div class="row">
    <div class="col-md-12">
      <h2>Where is BornHack going to take place?</h2>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">The Venue</h4>
          </div>
          <div class="panel-body">
            <div id="map" class="map"></div>
            <p>
             <strong>Venue coordinates</strong>: 55.011520, 14.975360<br />
             <strong>Parking space</strong>: Across from Bonaveddevejen 12, 3720 Aakirkeby<br />
             <strong>Main entrance</strong>: Next to Bonaveddevejen 12, 3720 Aakirkeby<br />
             <strong>Service entrance</strong>: Baunevej 11, 3720 Aakirkeby
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <span class="anchor" id="travel"></span>
  <div class="row">
    <div class="col-md-12">
      <h2>Travel Information</h2>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Public Transportation</h4>
          </div>
          <div class="panel-body">
            <h4>From/Via Copenhagen</h4>
            <p>
              There are several ways to get to Bornholm from Copenhagen.
              A domestic plane departs from Copenhagen Airport, and you
              can get from Copenhagen Central station by either bus or
              train via Ystad or the Køge-Rønne ferry connection.
            </p>
            <dl>
              <dt>Plane (very fast, most expensive)</dt>
              <dd>
                You can check plane departures and book tickets at
                <a href="https://www.dat.dk/en/" target="_blank">dat.dk</a>. There are
                multiple departures daily. The flight takes approximately
                25 minutes.
              </dd>

              <dt>Via Ystad (quick, cheap and easy, crosses Sweden border)</dt>
              <dd>
                You can drive over Øresundsbroen to Ystad or you can
                take the train/bus from Copenhagen Central Station. You
                can buy train and ferry ticket at
                <a href="http://www.dsb.dk/en/#open" target="_blank">dsb.dk</a> (Type
                in "København H" and "Rønne Havn"). More information
                about the <a href="http://www.faergen.com/services/fares/bornholmerfaergen/ystad-roenne.aspx" target="_blank">
                crossing</a>.
                The crossing takes 1 hour 20 minutes. In total about
                3 hours 15 minutes. Due to recent developments an ID
                (passport, drivers license or similar) is required when
                crossing the Denmark/Sweden border.
              </dd>

              <dt>Via Køge (cheap, slow)</dt>
              <dd>
                Take the S-train to Køge Station (you need an "all zones"
                ticket) or travel by car. The ferry terminal is within
                walking distance from the station. You can check out
                prices
                <a href="http://www.faergen.com/services/fares/bornholmerfaergen/koege-roenne.aspx" target="_blank">here</a>.
                It takes approximately 1 hour to get to Køge. The crossing
                takes 5 hours 30 minutes.
              </dd>
            </dl>
            <h4>From Sweden/Malmö</h4>
            <p>
               To get to Bornholm from Malmö you may take a train from
               Malmö to Ystad and the ferry from Ystad to Bornholm.
            </p>
            <p>
               Skånetrafiken runs trains from Malmö C to Ystad every
               30 minutes. Trains leave at 08 and 38 minutes past the hour.
               Go to <a href="https://www.skanetrafiken.se" target="_blank">skanetrafiken</a>
               for details.
           </p>
           <p>
              The ferry from Ystad to Rønne leaves four times per day.
              Morning: 08:30-09:50
              Noon: 12:30-13:50
              Afternoon: 16:30-17:50
              Evening: 20:30-21:50
              <u>
                 Booking the ferry tickets prior to departure can
                 drastically reduce the price.
             </u>
             See "Getting from Rønne to the Venue" final step.
           </p>
            <h4>From Abroad</h4>
            <p>If you are going to BornHack from abroad you have different options as well.</p>
            <dl>
             <dt>Berlin (Germany)</dt>
              <dd>
                There are no public transport routes from Berlin to Mukran, Sassnitz
                ferry terminal on Saturdays, including Aug 27 and Sept 03 the
                Bornhack start/end dates. Your best bet is to get a train to
                Dubnitz, Sassnitz station. Unfortunately it is still 1.7km to the actual ferry terminal:
                <a href="https://www.google.dk/maps/dir/Dubnitz,+18546+Sassnitz,+Germany/F%C3%A4hrhafen+Sassnitz,+Sassnitz,+Germany/@54.4944096,13.5737022,15z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x47ab47067dffbdef:0x3bc283de9061502c!2m2!1d13.5788734!2d54.5001354!1m5!1m1!1s0x47ab38752f7a6e9d:0xf34424cbc36a68c5!2m2!1d13.5876418!2d54.4889248!3e2?hl=en">
                map of route</a>. There is a <a href="http://rpnv.emzwo.de/" target="_blank">bus</a>, 
                but it only goes once a weekday at 12:28 and not at all on Weekends. You can of course take a
                <a href="http://www.faergen.com/routes/bornholmerfaergen/sassnitz/taxis.aspx" target="_blank">taxi</a>.
                Search for routes Berlin &dash; Dubnitz on
                <a href="https://www.bahn.de/p_en/view/index.shtml" target="_blank">bahn.de</a>.
                At the time of writing, the best route is:<br/>
                08:45 Berlin Hbf &rarr; train with 2 changes, 50€ for a 2-way return ticket.<br/>
                12:52 Sassnitz &rarr; taxi, ~14€, 10 min.<br/>
                13:00 Mukran-Sassnitz ferry terminal<br/>
                If you want to try your luck at a direct route to the ferry terminal,
                search for routes Berlin &dash; Sassnitz-Mukran Fährhafen on
                <a href="https://goo.gl/7dUPJ6" target="_blank">bahn.de</a>
                or for routes Berlin &dash; Fährhafen Sassnitz on
                <a href="http://www.checkmybus.com" target="_blank">checkmybus.com</a>.</br>
              </dd>
              <dt>Sassnitz (Germany)</dt>
              <dd>
                There is a
                <a href="http://www.faergen.com/services/fares/bornholmerfaergen/sassnitz-roenne.aspx" target="_blank">direct ferry</a>
                taking cars going from
                <a href="http://www.faergen.com/routes/bornholmerfaergen/sassnitz.aspx" target="_blank">Sassnitz ferry terminal</a>
                which is 4km away from Sassnitz itself. The company is called
                BornholmerFærgen and the tickets cost 32€ (outgoing) and 25€
                (return). It can also be booked from
                <a href="http://www.aferry.co.uk/" target="_blank">aferry.co.uk</a>.
                The ferry departs for Bornholm on Aug 27 at 11:50, 13:30, and
                returns to Sassnitz on Sept 03 at 08:00, 09:00. Detailed timetable:
                <a href="http://www.faergen.com/media/3671358/bornholmerfaergen-timetable-2016.pdf">English</a>,
                <a href="http://www.roennehavn.dk/media/1116/bornholmerfaergen-sejlplan-2016-dk.pdf">Danish</a>.
                </br>
              </dd>

              <dt>Kolobrzeg (Poland)</dt>
              <dd>
                There is a passenger ferry from Kolobrzeg to Nexø havn.
              </dd>
            </dl>
            <h4>Getting from Rønne to the Venue</h4>
            <p>
              The venue is 24km from Rønne. We will have a shuttle bus
              that will pick people up and take them to the venue. It is
              also possible to take a public bus to near the venue. Local
              taxis can also get you here.
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Driving and Parking</h4>
          </div>
          <div class="panel-body">
            <p>
              A car is very convenient when bringing lots of equipment, and
              we know that hackers like to bring all the things. We welcome
              cars and vans at BornHack. We have ample parking space very
              close (less than 50 meters) to the main entrance.
            </p>
            <p>
              Please note that sleeping in the parking lot is not permitted.
              If you want to sleep in your car/RV/autocamper/caravan please
              contact us, and we will work something out.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <span class="anchor" id="sleep"></span>
  <div class="row">
    <div class="col-md-12">
      <h2>Where do I sleep?</h2>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Camping</h4>
          </div>
          <div class="panel-body">
            <p>
              BornHack is first and foremost a tent camp. You need to
              bring a tent to sleep in. Most people go with some friends
              and make a camp somewhere at the venue. See also the section
              on Villages - you might be able to find some likeminded
              people to camp with.
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Cabins</h4>
          </div>
          <div class="panel-body">
            <p>
              We rent out a few cabins at the venue with 8 beds each
              for people who don't want to sleep in tents for some
              reason. A tent is the cheapest sleeping option (you just need
              a ticket), but <a href="/shop/?category=cabins">the cabins
              are there</a> if you want them.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <span class="anchor" id="venuemap"></span>
  <div class="row">
    <div class="col-md-12">
      <h2>Venue Map</h2>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">The Map</h4>
          </div>
          <div class="panel-body">
            <p class="text-center">
              <img src="https://people.bornhack.org/tyk/map/v1/map-small.png" class="block-center"><br>
              <a href="https://people.bornhack.org/tyk/map/v1/map-medium.png">Medium (4.7Mb)</a>
              <a href="https://people.bornhack.org/tyk/map/v1/map-large.png">Large (19.3Mb)</a>
              <a href="https://people.bornhack.org/tyk/map/v1/map-original.png">Original (44.8Mb)</a>
            </p>
            <p>
              The map is divided into a 10x10meter grid which has been given
              coordinates. We have outlined the important areas of BornHack 
              on the map.
              <ul>
                <li>
                  The dark blue square in the botton from 37K to 37M is 
                  the main entrance. Just opposite from this (not shown on
                  map) is the parking lot.
                </li>
                <li>
                  The red areas in the edges of the map are <b>off limits</b>
                  and not part of BornHack.
                </li>
                <li>
                  The light blue square from B11 to F15 is the Family Area.
                  Read more about the camping areas in the 
                  <a href="/info/#camping_areas">Camping Areas section</a>.
                </li>
                <li>
                  The orange area in the top right corner from R4 to S7 
                  is the Quiet Area. Read more about the camping areas 
                  in the <a href="/info/#camping_areas">Camping Areas 
                  section</a>.
                </li>
                <li>
                  Everything from the tree line at 27 going south all 
                  the way to the entrance is the Nature Area. Read more 
                  about the camping areas in the 
                  <a href="/info/#camping_areas">Camping Areas section</a>.
                </li>
                <li>
                  The purple area in the middle of the map from K19 to 
                  N21 is the bar.
                </li>
                <li>
                  The yellow square next to the bar from M14 to S23 is 
                  the noisy area. Read more about the camping areas in 
                  the <a href="/info/#camping_areas">Camping Areas 
                  section</a>. Please direct the noise east!
                </li>
                <li>
                  The house at K10 to L10 is where the workshop rooms can
                  be found. It is also where the shop is located.
                </li>
                <li>
                  The brown square in M9 is the toilet and shower building.
                </li>
                <li>
                  The green squares from C7 to I10 and from K11 to M12 
                  mark the Food Area and related seating.
                </li>
                <li>
                  The orange square at K4 to L4 is the speakers tent.
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <span class="anchor" id="camping_areas"></span>
  <div class="row">
    <div class="col-md-12">
      <h2>Camping Areas</h2>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Quiet Area</h4>
          </div>
          <div class="panel-body">
            <p>
              The oblong area in the eastside of the venue from Q4 to S10
              is the Quiet Area. Noise will not be tolerated here. If
              getting an uninterrupted nights sleep is important to you,
              you should consider pitching your tent here.
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Family Area</h4>
          </div>
          <div class="panel-body">
            <p>
              We want BornHack to be an event for hackers of all ages!
              The Family Area is the lightblue area at B11 to F15 on the map.
              The area has ample camping space and is equipped with a sand
              box, a fireplace, and lots of grass to play around in. If you
              intend to camp here please bring (and share) any outdoor games
              you might have.
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Nature Area</h4>
          </div>
          <div class="panel-body">
            <p>
              The area reaching from 27 and down to the entrance around 36
              is the Nature Area. We have not cut the grass in this area,
              there are no roads, infrastructure or wifi. Just wild Danish
              shrubland habitat, or "hede" in Danish. Pitch your tent here
              if you want to feel closer to the beautiful nature that
              surrounds BornHack.
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">The Noisy Area</h4>
          </div>
          <div class="panel-body">
            <p>
              Surrounding the bar area is the noisy area. This is where
              you should place your tent / camp / village if you expect to
              make a lot of noise. The noisy area forms square from top
              left M14 to bottom right S23 on the map.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <span class="anchor" id="bar"></span>
  <div class="row">
    <div class="col-md-12">
      <h2>The Bar</h2>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">The Bar</h4>
          </div>
          <div class="panel-body">
            <p>
              The bar area is the place to go when you are all hacked out and want
              to socialize with the other participants. Enjoy a cold beer or drink
              and some music, and discuss your projects with the people around you.
            </p>
            <p>
              The bar will be run with an open budget and flexible prices.
              More on that later.
            </p>
            <p>
              Opening hours of the bar have not been decided yet. Expect it
              to open late and close late. Opening hours will be compatible
              with the average hackers drink/sleep cycle.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <span class="anchor" id="villages"></span>
  <div class="row">
    <div class="col-md-12">
      <h2>Villages</h2>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">What is a Village?</h4>
          </div>
          <div class="panel-body">
            <p>If this is your first hackercamp the term 'Village' might
              be confusing but it is fairly simple: a village is just a
              spot on the campsite where you and a bunch of your
              friends/likeminded people camp together. Apart from
              peoples individual tents which they sleep in, many
              villages bring a large common tent where you can hack
              and hang out during the day.
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Renting Village Tents</h4>
          </div>
          <div class="panel-body">
            <p>
              Villages can also rent village tents via us, head over to
              the <a href="{% url 'shop:index' %}?category=villages">
              villages section of the shop</a>. The tents will be ready
              when you arrive and will be taken down again saturday the
              3rd of September from 12:00. The tents have optional floors
              and you can rent folding tables and chairs as needed. You do
              not have to register a village or have a concept to rent a big
              tent.
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Registering a Village</h4>
          </div>
          <div class="panel-body">
            <p><a href="{% url 'villages:list' %}">You can register your village here</a>!
              If you don't want to make your own village you might be able to
              find and join one that suits your interests. Get in touch with the
              <a href="mailto:villages@bornhack.org">villages team</a> if you have
              any questions!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <span class="anchor" id="showers_and_toilets"></span>
  <div class="row">
    <div class="col-md-12">
      <h2>Showers and Toilets</h2>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Showers</h4>
          </div>
          <div class="panel-body">
            <p>
              BornHack has nice shower facilities. We have about 1 private
              shower booth per 10 participants. The showers will be cleaned
              twice daily and should be more than sufficient for our needs.
              The showers not divided into genders (unisex) since they are
              individually lockable. The showers are permanent installations,
              inside a real brick house - they are not temporary showers put
              up for the event.
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Toilets</h4>
          </div>
          <div class="panel-body">
            <p>
              BornHack has around 1 toilet per 10 participants. The toilets
              are unisex like the showers. The toilets will also be cleaned
              twice per day, so they should be nice. Like the showers, the 
              toilets are also permanent installations inside a brick house.
              A year may come when we have to use porta potties at BornHack,
              but it is not this year!
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Pissoirs</h4>
          </div>
          <div class="panel-body">
            <p>
              The bar area and a couple of other places will be equipped
              with a few pissoirs. We realize that pissoirs are only
              helpful for people with a certain genital layout, but we
              prefer to think they help everyone (by "taking the load" off
              of the regular toilets).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <span class="anchor" id="food"></span>
  <div class="row">
    <div class="col-md-12">
      <h2>Food, Drink and Groceries</h2>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Food Vendors</h4>
          </div>
          <div class="panel-body">
            <p>
              We are lucky enough to have a local food vendor (from the town
              Nexø) at the venue. He sells high quality sausages and burgers,
              Danish style. We are also looking into an agreement with a
              nearby pizza delivery place. More on that later.
            </p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Cooking</h4>
          </div>
          <div class="panel-body">
            <p>
              We know that hackers like to cook for themselves, not just
              because of vegetarians/vegan diets. Everyone is encouraged
              to cook their own food, either in their own village kitchen
              or in the food area. Please note that coal powered barbeques
              are <b>strictly forbidden</b> on the camp grounds for fire
              safety reasons. If you want to cook with coal use the big
              barbeque in the food area! Gas and electrical barbeques are
              allowed in villages.
            </p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">The Outdoor Kitchen</h4>
          </div>
          <div class="panel-body">
            <p>
              Part of the food area is a large outdoor kitchen area
              where participants are invited to cook their meals. The
              Outdoor Kitchen features:
              <ul>
                <li>Lots of seating. Both covered by roof and in the open.</li>
                <li>Running water and tables for food preparation. You must bring your own dishes and other cooking/eating equipment.</li>
                <li>Ample barbeque capacity, including a barbeque exclusive to vegans/vegetarians. We sell charcoal in the kiosk.</li>
              </ul>
              Villages without a kitchen of their own are invited to utilize
              this area for cooking. Please clean up after yourselves! :)
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Buying Groceries</h4>
          </div>
          <div class="panel-body">
            <p>
              Before you can cook anything you need some groceries to cook.
              The closest place to buy groceries is a small place
              approximately 3.5 km away at Pedersker. About 7 km from
              the venue there is a larger selection at Aakirkeby. About 20km
              from the venue at Nexø there is an even larger selection still.
              We have a shuttle bus that will transport participants to and
              from grocery shopping, free of charge.
            </p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">The Shop/Kiosk</h4>
          </div>
          <div class="panel-body">
            <p>
              BornHack will have a shop/kiosk where you can buy a small
              selection of stuff you might need. We sell candy and a bit
              of food, softdrinks, charcoal for the barbeques, network
              cables, power adapters, a small selection of electronics,
              and so on.
            </p>

            <p>
              The kiosk will also sell coffee made from freshly ground
              high quality beans, and a selection of tea. In the mornings
              we will also sell bread, see the seperate section on breakfeast.
            </p>

            <p>
              The kiosk will be open from 8:00 in the morning (so hackers
              can get their morning coffee) until 20:00 in the evening. After
              20:00 you can still get coffee, tea and softdrinks at the bar.
              But make sure you buy anything else you might need before 20:00
              (charcoal for cooking late, or snacks for the the evening/night,
              or those LEDs you will need for a project later, and so on).
            </p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Breakfeast/Bakery</h4>
          </div>
          <div class="panel-body">
            <p>
              We have an agreement with a local quality bakery which will
              deliver a selection of fresh bread every morning. We will sell some
              in the shop, but we recommend you order bread you want the day
              before and it will be ready for you in the morning. You can
              place your orders in the shop.
            </p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">The Farmer Next Door</h4>
          </div>
          <div class="panel-body">
            <p>
              BornHack has an agreement with a local farmer who can deliver
              fresh organic potatoes, eggs and chickens. Orders can be
              placed in the shop. More on prices and selections later.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <span class="anchor" id="power_and_network"></span>
  <div class="row">
    <div class="col-md-12">
      <h2>Power and Connectivity</h2>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Power</h4>
          </div>
          <div class="panel-body">
            <p>
              We are working on sorting out the details. Plugs will be standard
              European 230V supply with type <a href="http://www.worldstandards.eu/electricity/plugs-and-sockets/" target="_blank">K plugs</a>.
              Standard red 400V 16A CEE plugs will also be possible.
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Internet Connection and Uplink</h4>
          </div>
          <div class="panel-body">
            <p>
              BornHack will have a 1Gbit fiber uplink to the outside
              world generously sponsored by BornFiber. We have plenty
              of IP space to go around, courtesy of RIPE NCC temporary assignment.
            </p>
          </div>
        </div>        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Networks: Wired and Wireless</h4>
          </div>
          <div class="panel-body">
            <p>
              BornHack will have both wired and wireless networks. The default
              networks will run with public internet addresses (v4 and v6)
              so you must protect yourself with a firewall at all times.
            </p>
            <p>
              The wired network will provide DHCP but also allow manually
              configured IP addresses, using peg DHCP according to Management
              of IP numbers by peg-dhcp RFC 2322. If you want to set up servers
              we recommend to do so with static IP's. You can also use
              static configuration on clients to avoid attacks involving
              rogue DHCP servers and similar.
            </p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Wireless Network</h4>
          </div>
          <div class="panel-body">
            <p>
              There will be multiple wireless networks, using standard
              IEE 802.11 5GHz and 2.4GHz.
            </p>
            <p>
              We will also provide a wireless network which is put behind NAT,
              which is similar to usual guest networks. NOTE: NAT IS NOT SECURITY,
              use caution always - turn the firewall on.
            </p>
            <p>
              One SSID will also be configure to use WPA Enterprise with 802.1x
              aka EAP-TLS - where any credentials
              can be used. There is no user management, we just use
              EAP-TLS to get the encryption it provides for individual users.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <span class="anchor" id="shuttlebus"></span>
  <div class="row">
    <div class="col-md-12">
      <h2>The Shuttlebus</h2>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Opening Day</h4>
          </div>
          <div class="panel-body">
            <p>
              The BornHack shuttle bus will be available for transporting
              participants from Rønne to the venue on the opening day. The
              shuttle bus holds 8 passengers and luggage. To let us know you
              need transportation call the BornHack phone at +4593863720.
              Please call as soon as you know when you need a pickup so the
              drivers can coordinate effectively.
            </p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Grocery Shopping</h4>
          </div>
          <div class="panel-body">
            <p>
              During the event the shuttlebus will be taking participants
              to and from grocery shopping. To book a ride on the bus go to
              the infodesk. The drivers are flexible so if you prefer a
              specific grocery shop just let the driver know.
            </p>
            <p>
              The shuttlebus can't wait outside for hours while participants
              are shopping. You either pick up your groceries in max. 20
              minutes, or you arrange a return pickup time with the shuttlebus.
            </p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Closing Day</h4>
          </div>
          <div class="panel-body">
            <p>
              On closing day the shuttle bus is available to transport
              participants back to Rønne so they can get home. You need
              to book a ride in the infodesk. Please be realistic when
              planning your trip home. Don't expect to depart BornHack 30
              minutes before your ferry leaves. Leave some room for delays.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <span class="anchor" id="info_and_cert"></span>
  <div class="row">
    <div class="col-md-12">
      <h2>Infodesk and CERT</h2>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Infodesk</h4>
          </div>
          <div class="panel-body">
            <p>
              The infodesk is where you go to find an organizer when you
              have questions of any kind. The infodesk is also where you
              go to:
              <ul>
                <li>Book a ride on the shuttle bus</li>
                <li>Book one (or more) of the ten available BornHack bicycles</li>
                <li>Get any merchandise you bought</li>
              </ul>
            </p>
            <p>
              The infodesk is located around M15 on the map (right
              outside the food area in the direction towards the bar).
            </p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">CERT</h4>
          </div>
          <div class="panel-body">
            <p>
              CERT is short for Community Emergency Response Team.
              In case of a dangerous situation (accidents, fire and so on)
              these are the people to contact.
            </p>
            <p>
              While the infodesk is open (from 10:00 to 20:00 every day)
              the CERT people can be reached here. Outside infodesk
              opening hours CERT can be reached at the official BornHack
              phonenumber which is +4593863720. This number is open 24
              hours.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/leaflet.js' %}"></script>
  <script>
    var map = L.map('map', {center: [55.131520, 14.903000], zoom: 10});

    L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
            attribution: '&copy; <a href="http://osm.org/copyright" target="_blank">OpenStreetMap</a> contributors',
        }
    ).addTo(map);

    var camp_latlong = [55.011520, 14.975360];
    L.marker(camp_latlong).addTo(map);

    L.marker(camp_latlong).addTo(map)
      .bindPopup('<strong>Coordinates:</strong><br>55.011520, 14.975360<br><strong>Address:</strong><br>Baunevej 11, 3720 Aakirkeby')
      .openPopup();
  </script>
{% endblock %}
