{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
Info | {{ block.super }}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <h2>
        When is BornHack going to take place?
      </h2>
      <p>BornHack 2016 starts saturday, august 27th, at noon (12).</p>
      <p>
        BornHack 2016 ends saturday, september 3rd, at noon (12).
        Participants must leave the site no later than 17:00 on 
        the closing day (or stay and help us clean up).
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>
        Where is BornHack going to take place?
      </h2>
      <div id="map" class="map"></div>
      <p>
      <strong>Coordinates</strong>: 55.011520, 14.975360<br />
      <strong>Address</strong>: Baunevej 11, 3720 Aakirkeby
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Where do I sleep?</h2>
        <h4>Tents</h4>
        <p>
          BornHack is first and foremost a tent camp. You need to bring a tent
          to sleep in. Most people go with some friends and make a camp somewhere
          at the venue. See also the section on Villages further down.
        </p>

        <h4>Cabins</h4>
        <p>
          We also have a few cabins onsite with 8 beds each for people who 
          don't want to sleep in tents for some reason. A tent is the 
          cheapest sleeping option, but the cabins are there if you want them.
        </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>How do I get to Bornholm?</h2>
      <dl>
        <dt>From/Via Copenhagen</dt>
        <dd>
          There are several ways to get to Bornholm from Copenhagen.
          A domestic plane departs from Copenhagen Airport, and you
          can get from Copenhagen Central station by either bus or
          train via Ystad or the Køge-Rønne ferry connection.
        </dd>

        <dt>Plane (expensive)</dt>
        <dd>
          You can check plane departures and book tickets at
          <a href="https://www.dat.dk/en/" target="_blank">dat.dk</a>. There are
          multiple departures daily. The flight takes approximately
          35 minutes.
        </dd>

        <dt>Via Ystad (easy)</dt>
        <dd>
          You can drive over Øresundsbroen to Ystad or you can
          take the train/bus from Copenhagen Central Station. You
          can buy train and ferry ticket at
          <a href="http://www.dsb.dk/en/#open" target="_blank">dsb.dk</a> (Type
          in "København H" and "Rønne Havn"). More information
          about the <a href="http://www.faergen.com/services/fares/bornholmerfaergen/ystad-roenne.aspx" target="_blank">
          crossing</a>.
          The crossing takes 1 hour 20 minutes. In total about
          3 hours 15 minutes.
        </dd>

        <dt>Via Køge (cheap)</dt>
        <dd>
          Take the S-train to Køge Station (you need an "all zones"
          ticket) or travel by car. The ferry terminal is within
          walking distance from the station. You can check out
          prices
          <a href="http://www.faergen.com/services/fares/bornholmerfaergen/koege-roenne.aspx" target="_blank">here</a>.
          It takes approximately 1 hour to get to Køge. The crossing
          takes 5 hours 30 minutes.
        </dd>

        <dt>Sassnitz (Germany)</dt>
        <dd>
          There is a direct ferry taking cars going from <a href="http://www.faergen.com/services/fares/bornholmerfaergen/sassnitz-roenne.aspx" target="_blank">Sassnitz</a>.
        </dd>

        <dt>Kolobrzeg (Poland)</dt>
        <dd>
          There is a passenger ferry from Kolobrzeg to Nexø havn.
        </dd>
      </dl>
      <p>
        The venue is 24km from Rønne Havn. It is possible to take
        a bus with a route nearby the venue. Local taxis can also
        get you here.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>What kind of power supply can I expect?</h2>
        We are working on sorting out the details. Power is a standard European
        230V supply with type <a href="http://www.worldstandards.eu/electricity/plugs-and-sockets/" target="_blank">C & K plugs</a>.
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>How much bandwidth is there going to be?</h2>
        We will have a 1 gigabit fiber connection with enough v4 and v6 space to go around.
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>I need to eat!</h2>
        <h4>Food vendors</h4>
        <p>
          There will be a few food vendors at the venue,
          and we are working on agreements with nearby food 
          delivery places. If you are interested in becoming a food
          vendor please contact us.
        </p>

        <h4>Cooking</h4>
        <p>
          We know that hackers like to cook for themselves for
          various reasons, not limited to vegetarians/vegan diets. Everyone
          is welcome to cook their own food, either in their own village 
          kitchen or in the food area. Please note that coal powered barbeques
          are <b>strictly forbidden</b> on the camp grounds for fire
          safety reasons. If you want to cook with coal use the big 
          barbeque in the food area! Gas barbeques are allowed in villages.
        </p>

        <h4>The food area</h4>
        <p>
          The venue has a roofed outdoor food area with:
          <ul>
            <li>Seating for 80 people</li>
            <li>An outdoor kitchen with running water and tables for food preparation</li>
            <li>A large coal powered barbeque (we sell coal in the info kiosk)</li>
          </ul>
          Villages without a kitchen of their own are very welcome to utilize 
          this area for cooking. Please clean up after yourselves! :)
        </p>

        <h4>Buying groceries</h4>
        <p>
          The closest place to buy groceries is approximately
          3.5 km away at Pedersker. About 7 km from the venue there 
          is a larger selection at Aakirkeby. We are looking into
          the possibility of shuttle busses to and from the grocery places.
        </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Bar area</h2>
      <p>
        The bar area is the place to go when you are all hacked out and want
        to socialize with the other participants. Enjoy a cold beer or drink
        and some music, and discuss your projects with the people around you.
      </p>
      <p>
        The bar will be run with an open budget and flexible prices. More on
        that later.
      </p>
      <p>
        Opening hours of the bar have not been decided yet (but they will be
        compatible with the average hackers sleep cycle).
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>
        Villages
      </h2>
      <p>If this is your first hackercamp the term 'Village' might be
        confusing but it is fairly simple: a village is just a spot on the
        campsite where you and a bunch of your friends/likeminded people camp
        together. Apart from peoples individual tents which they sleep in, many
        villages bring a large common tent where you can hack and hang out during the day.
      </p>
      <p>Villages can also rent village tents. The details are not in place yet,
        but stay tuned for the announcement. The idea is that you order and pay
        for a large tent which will then be setup and ready when you arrive. The
        tents have wooden floors and you can rent folding tables and chairs as needed.
      </p>
      <p>Village registration is not finished yet, but stay tuned! 
        If you don't want to make your own village you will likely 
        be able to find and join one that suits your interests.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>
        The info kiosk
      </h2>
      <p>BornHack will have an info desk where you can ask questions
        when you have them. The info desk will cover the following functions:
        <dl>
          <dt>Info desk</dt>
          <dd>Questions and information about anything and everything</dd>
          <dt>Merchandise</dt>
          <dd>This is where you pick up any tshirts and other merchandise you bought</dd>
          <dt>CERT contact point</dt>
          <dd>In case of accidents or dangerous situations this is where you can get a hold of the CERT people. There will also be a 24/7 phonenumber for CERT.</dd>
          <dt>Kiosk</dt>
          <dd>We sell a few beverages and sweets as well as practical things like coal for the barbeque. We will accept the same payment methods at the venue as we do on the website: cash, cards, and blockchain.</dd>
        </dl>
      </p>
    </div>
  </div>

  <script src="{% static 'js/leaflet.js' %}"></script>
  <script>
    var map = L.map('map', {center: [55.131520, 14.903000], zoom: 10});

    L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
            attribution: '&copy; <a href="http://osm.org/copyright" target="_blank">OpenStreetMap</a> contributors',
        }
    ).addTo(map);

    var camp_latlong = [55.011520, 14.975360];
    L.marker(camp_latlong).addTo(map);
  </script>
{% endblock %}
