{% extends 'base.html' %}

{% block content %}
<h2>Sponsoring</h2>

<h3>We Are Looking for Sponsors</h3>
<p>To help us make BornHack an unforgettable event and allow it to grow. If you would like to sponsor us and have a great idea do not hesitate to contact us at <a href="mailto:sponsors@bornhack.dk">sponsors@bornhack.dk</a>. If you work for a company that you believe might be able to sponsor BornHack please direct the right people to this page.</p>

<p>You can read more about the event and possible areas of your sponsorship below.</p>

<h3>The Concept</h3>
<p>The idea and basic concept of BornHack comes from participation in similar camps in Germany and the Netherlands. These events have a huge traction (several thousand participants) and we therefore think the time is right for another one.</p>

<h3>The Organisers</h3>
<p>BornHack is a technology festival put together by a group of people from Denmark and Sweden employed in the local IT industry. The organiser group have a burning desire to set up a forum where people with different interests in IT and technology can come together to share ideas, network, and just have plane old fun together. Several of the co-organisers have previously been (or are still) involved in organising conferences such as <a href="https://opensourcedays.org/">Open Source Days</a>.</p>

<h3>Location and Format</h3>
<p>To not bite over more than we can chew, the very first BornHack will be inviting 350 paying guests for an entire week, with the idea that it will grow steadily from there. It will take place at <a href="http://jarlsgaard.dk">Jarlsgaard</a> on Bornholm, Denmark - and it's immediate surroundings, where we can promise a gigabit fiber connection to the outside world. Hopefully, the weathergods will also bless us.</p>

<h3>Sponsorship</h3>
<p>A sponsorship can be in the range of 5000 DKK and up. You get to have a logo of your choice placed on our website in the sponsors section, as well as mentions in written material such as programs where sponsors will be disclosed.

You can also choose to sponsor a certain area or event at the camp, where we will figure out a fitting display in cooperation with you. Our current ideas needing sponsorships are:</p>

<ul>
  <li>Bar area</li>
  <li>Lounge area</li>
  <li>BBQ (charcoal and renting of grills)</li>
  <li>T-shirt's</li>
  <li>
    Shuttle bus to and from the venue on the first and the last camping day.
  </li>
</ul>

<p>If you have any other creative ideas you would be interested in sponsoring, reach out to us on <a href="mailto:sponsors@bornhack.dk">sponsors@bornhack.dk</a> and we can talk about it.</p>


<h3>Our Current Sponsors</h3>
<ul>
  <li>PROSA</li>
</ul>

{% endblock %}
