{% extends 'base.html' %}

{% block content %}
<h2>Sponsoring</h2>

<p>We are looking for sponsors. If you work for a company that you believe might be able to sponsor BornHack please direct the right people to this page.</p>

<p>For sponsor inquiries, please reach out to sponsors@bornhack.dk</p>

<p>A sponsorship can be in the range of DKK 5000,- and up. Your sponsorship could, for example, be used for:</p>
<ul>
  <li>Bar area</li>
  <li>Lounge area</li>
  <li>BBQ (coal and renting of grills)</li>
  <li>T-shirt's</li>
  <li>Shuttle bus to and from the venue on the first and the last camping day</li>
</ul>
<p>Please reach out to us on sponsors@bornhack.dk if you have a creative idea that you would be interested in sponsoring :-)</p>

{% endblock %}