{% extends 'base.html' %}
{% load commonmark %}
{% load static %}

{% block title %}
News | {{ block.super }}
{% endblock %}

{% block content %}
{% if request.resolver_match.kwargs.archived %}
<i>Showing archived news items. <a href="{% url 'news:index' archived=False %}">Show regular news items</a></i>
{% else %}
<br />
<a href="{% url 'news:feed' %}" class="btn btn-default">
<img src="{% static 'img/feed-icon-14x14.png' %}"> Get BornHack news as a RSS feed
</a>
<hr />
{% endif %}
{% for item in news_items %}
  <div>
    <h3><a href="{% url 'news:detail' slug=item.slug %}">{{ item.title }}</a> <small>{{ item.published_at }}</small></h3>
  </div>
  {{ item.content|trustedcommonmark }}
  {% if not forloop.last %}
    <hr />
  {% endif %}
{% empty %}
  <h3>No news yet. Stay tuned!</h3>
{% endfor %}
{% if not request.resolver_match.kwargs.archived %}
<hr />
<i><a href="{% url 'news:archive' archived=True %}">Show archived news items</a></i>
{% endif %}
{% endblock %}

