{% extends 'base.html' %}

{% block title %}
  General Terms and Conditions | {{ block.super }}
{% endblock %}

{% block content %}

  <h2>Terms and Conditions for BornHack ApS’ sale and delivery of (i) merchandise (ii) tickets and/or (iii) accommodation</h2>
  <p>These conditions apply to all sale and deliveries made from BornHack ApS (hereinafter referred to as the "Supplier" or "we") to Danish and foreign customers (hereinafter referred to as "Customer" or "you").</p>

  <p>Sale and deliveries under these conditions can consist of
    <dl>
      <dt>(i)</dt>
      <dd>
        Sale of t-shirts and other merchandise and physical items ("Merchandise").
      </dd>
      <dt>(ii)</dt>
      <dd>
        Sale of tickets to BornHack Events ("Tickets").
      </dd>
      <dt>(iii)</dt>
      <dd>
        Sale of accommodation before, during and after the events ("Accommodation").
      </dd>
    </dl>
  </p>

  <h3>1. Conclusion of agreement</h3>

  <h4>1.1 Order procedure</h4>

  <p>A binding purchasing agreement has been concluded when we have sent your invoice by electronic mail and such invoice has reached your mail server. The invoice will state order number, invoice number, and a list of all the products and/or services purchased.</p>

  <p>You are encouraged to print the invoice immediately upon receipt because it may be relevant in case of replacement, cancellation or complaint.</p>

  <p>Any vouchers, discount codes and similar are personal and you are not allowed to let any other person use such vouchers, discounts codes etc. We will hold you liable for any misuse of such personal vouchers etc.</p>

  <h3>2. Prices and payment</h3>

  <p>All prices are stated inclusive of value added tax. The price applicable is the price displayed next to the product or services in question on the website on the date of ordering.</p>

  <p>The following credit cards and debit cards can be used for payment on products where card payment is enabled: Visa, Mastercard, Visa/Dankort. The fee for credit and debit card payments (1,45%/2,75%) is paid by the Customer. Payment can also be done by bank transfer to our bank account or using blockchain payments or by cash. Payment of all online purchases shall be made online.</p>

  <p>The amount has been drawn from your account when our invoice has been sent to you.</p>

  <p>The debit amount will appear in your account.</p>

  <p>Our payment solution is based on the TLS (SSL) standard, which means that the information submitted in connection with the payment transaction is protected by encryption.</p>

  <h3>3. Delivery of merchandise</h3>

  <p>Purchased merchandise will be handed out at the event. However, a longer time of delivery cannot be excluded and we cannot be held liable for any delays in delivery. In the event of delay in the delivery, we will notify you as soon as possible by e-mail.</p>

  <p>Your purchase of Merchandise will be subject to the provisions of the Danish Act on Sales of Goods ("Købeloven").</p>

  <h3>4. Delivery of Tickets and Accommodation</h3>
  <p>Delivery of Tickets is done by direct download of a PDF file (for the customer to print out) immediately after payment.</p>
  <p>In the event of Tickets being lost, replacement tickets may be dispatched, whereby the original Tickets are nullified.</p>
  <p>If you have ordered Accommodation you must bring your invoice in order for you to prove your purchase of Accommodation.</p>
  <h3>5. Your right of cancellation</h3>

  <h4>5.1 Purchase of Merchandise</h4>

  <p>You may cancel your purchase within 14 days for any reason. The cancellation period is 14 days and begins the day on which you or a third party you designated that is not the carrier receive(s) the goods. To exercise the right of cancellation, you have to notify us</p>

  <p class="lead">
    BornHack ApS<br>
    Skelbyvej 147<br>
    4171 Glumsø<br>
    Denmark<br>
    Phone: +45 3155 0497<br>
    E-mail: info@bornhack.dk<br>
  </p>

  <p>by means of a clear statement (e.g. a letter or an email) on your decision to cancel the purchase. For this, you can use the attached form <a href="/static/pdf/bornhack_webshop_cancellation_form.pdf" target="_blank">cancellation form</a> — but it is not mandatory.</p>

  <p>To exercise the right of cancellation within the stipulated period, it is sufficient that you send the information about the exercise of the right of cancellation within the cancellation period.</p>

  <h5>Consequences of cancellation</h5>
  <p>Upon the cancellation of a purchase, we have to refund all payments received from you immediately and within 14 days of receipt of your purchase cancellation at the latest. For the reimbursement, we will use the same means of payment you used for the original transaction unless expressly otherwise agreed; we will never charge you a fee for this reimbursement. We may withhold the reimbursement until we have received the goods or you have provided evidence of having sent back the goods, whichever is the earliest.
    You have to return the goods or hand them over immediately and in any event no later than 14 days after having informed us about the cancellation of the purchase to</p>

  <p class="lead">
    BornHack ApS<br>
    Skelbyvej 147<br>
    4171 Glumsø<br>
    Denmark<br>
    Phone: +45 3155 0497<br>
    E-mail: info@bornhack.dk<br>
  </p>

  <p>The cancellation period is met if the goods are sent back within the 14 day cancellation period. The return shipment is performed at your cost. The consumer shall only be liable for any diminished value of the goods resulting from the handling other than what is necessary to ascertain the nature, features and functioning of the goods.</p>

  <h4>5.2 Purchase of Tickets and Accommodation</h4>

  <p>According to § 18, section 2 (12) of the Danish Consumer Act ("Forbrugeraftaleloven") your purchase of Tickets and/or Accommodation is not subject to any mandatory cancellation right. However, we grant you a right to cancel an order with within 14 days of receipt of our order confirmation, provided that cancellation is not made later than 48 hours before
    <dl>
      <dt>(i)</dt>
      <dd>
        The first day of the festival (in case of cancellation of purchase of Tickets)
      </dd>
      <dt>(ii)</dt>
      <dd>
        The check-in date (in case of cancellation of purchase of Accommodation).
      </dd>
    </dl>
  </p>

  <p>To exercise this right of cancellation, you have to notify us</p>

  <p class="lead">
    BornHack ApS<br>
    Skelbyvej 147<br>
    4171 Glumsø<br>
    Denmark<br>
    Phone: +45 3155 0497<br>
    E-mail: info@bornhack.dk<br>
  </p>

  <p>For the reimbursement, we will use the same means of payment you used for the original transaction unless expressly otherwise agreed; we will never charge you a fee for this reimbursement.</p>

  <h3>6. Complaints</h3>

  <h4>6.1 Two-year period to complain of Merchandise</h4>

  <p>You are granted a two-year period to complain about Merchandise. This means that you cannot complain about errors and defects appearing more than two years after delivery of the product. Any errors or defects in the products received must be reported within a reasonable period after they were or should have been established.</p>

  <p>Return of defective products, including in connection with repairs or replacement deliveries, is for the Supplier’s expense and risk. You shall inform us of the nature of the error or defect in connection with the return. Return of products or complaints must be sent to</p>

  <p class="lead">
    BornHack ApS<br>
    Skelbyvej 147<br>
    4171 Glumsø<br>
    Denmark<br>
    Phone: +45 3155 0497<br>
    E-mail: info@bornhack.dk<br>
  </p>

  <p>If, within the period stated above, the Merchandise proves to be defective, we will deliver another similar product free from errors and defects after receipt of the defective product. We also undertake to refund any documented expenses pertaining to the return. If replacement delivery is not a feasible solution, we will refund the purchase price, inclusive of the customer’s return costs.</p>

  <h4>6.2 Complaint regarding Accommodation or the festival</h4>

  <p>Should you have any complaints regarding the accommodation or the execution of the festival it is important that you immediately address such complaints to us.</p>

  <h3>7. Liability</h3>

  <p>We assume no liability towards you other than what is provided for in these terms and conditions. We cannot in any event be held liable for any indirect or consequential losses, including loss of or damage to data.</p>

  <h3>8. Our right of cancellation</h3>

  <p>We reserve the right to cancel the festival or change its venue and/or content of the festival at any time at our discretion. Further, we reserve the right to cancel any booked accommodation at any time at our discretion. If we exercise that right of cancellation we will refund any fees for tickets and/or accommodation which you have paid in advance. Apart from this no refund of payments will be made. We cannot be held liable for any losses you may suffer due to such cancellation.</p>

  <h3>9. Venue and choice of law</h3>

  <p>Any purchase and order shall be subject to Danish law. Disputes arising between us shall be settled by the Court of Copenhagen.</p>

  <h3>Miscellaneous</h3>

  <p>Inquiries concerning deliveries, payments, complaints etc., can be made on telephone number +45 3155 0497, by e-mail to info@bornhack.dk or by ordinary mail to BornHack ApS, Skelbyvej 147, 4171 Glumsø, Denmark.</p>

  <p>Our company registration (CVR) no. is 37666521</p>

  <p>We make reservations for typographical errors, changes in value added tax and duty rates, and late or defective delivery due to force majeure events.</p>
  <p>Should any part of these conditions be deemed unlawful and invalid and thus not enforceable, this will not affect the validity and enforcement of the remainder of the conditions.</p>

{% endblock %}
