{% extends 'base.html' %}

{% block title %}
  Privacy Policy | {{ block.super }}
{% endblock %}

{% block content %}

  <h2>Privacy and cookie policy</h2>
  <h3>Cookies</h3>
  <p>A cookie is a file that is stored on your computer's hard drive, smartphone or any other IT device. It allows for recognition of your computer/IP address and for collection of information about the pages you visit and which features you use.</p>

  <p>By using our website, you allow us to use cookies. We do not set cookies until you move on from the start page. If you no longer wish to consent to the use of cookies, you must disable cookies by changing your browser settings. You may not be able to use certain services and features as they require cookies to remember the choices you make.</p>

  <p>Cookies are use in order to optimize your visit, when browsing our website and to generate statistics on the use of our website.</p>

  <p>We do not pass on information to third parties about your visit to our website.</p>

  <h3>Collection of information</h3>
  <p>When ordering or registering on our website you may be asked to enter your name, email address,  credit card information or other details.</p>

  <p>We collect information when you place an order, fill out a form or enter information on our website. We shall observe the Danish Act on Processing of Personal Data (lov om behandling af personoplysninger) in our processing of personal data. You may contact us to get information on the data processed about you or to have the data deleted or corrected.</p>

  <p>We may use the information we collect from you when you register, make a purchase, surf the website, or use certain other site features in the following ways (i) to improve our website, (ii) to allow us to better service you in responding to your customer service requests, (iii) to quickly process your transactions and (iv) to send emails regarding your order or other information.</p>

  <p>We implement a variety of security measures in order to maintain the safety of personal information.</p>

  <h3>Third party disclosure</h3>
  <p>We do not sell, trade, or otherwise transfer personally identifiable information to third parties.</p>

  <h3>Third party links</h3>
  <p>We do not include or offer third party products or services on our website.</p>

  <h3>Unsubscribing</h3>
  <p>If at any time you would like to unsubscribe from receiving future emails, you can email us at info@bornhack.dk and we will promptly remove you from all correspondence.</p>

  <h3>Contacting us</h3>
  <p>If there are any questions regarding this privacy and cookie policy you may contact us using the information below.</p>

  <p class="lead">
    BornHack ApS<br>
    Skelbyvej 147<br>
    4171 Glumsø<br>
    Denmark<br>
    Phone: +45 3155 0497<br>
    E-mail: info@bornhack.dk<br>
  </p>

{% endblock %}
