{% extends "base.html" %}
{% load commonmark %}
{% load bootstrap3 %}

{% block content %}

<div class="page-header">
    <h1>Feedback <small>Help us make BornHack even better!</small></h1>
</div>

<div class="col-md-12">
    <p>
        BornHack can always improve, but we need your feedback to know how. So write you thoughts on what was good and what wasn't, it's highly appreciated!
    </p>
</div>

<div class="col-md-12">
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-success pull-right">
        Send feedback
    </button>
    <span class="clearfix"></span>
</form>
</div>

{% endblock %}