{% extends 'base.html' %}
{% load bornhack %}

{% block content %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="h2">BackOffice - Approve Event Feedback</span>
    </div>
    <div class="panel-body">
      <div class="lead">
        The Content team can approve or reject pending EventFeedback from this page. The feedback will not be visible to the Event owner before it is approved. The Event owner will not be able to see the username of the feedback author. The feedback author can see when the feedback has been approved or rejected by returning to the feedback page.
      </div>
      <form method="post">
        {{ form.management_form }}
        {% csrf_token %}
        {% for feedbackform, feedback in form|zip:eventfeedback_list %}
          {% include "includes/eventfeedback_detail_panel.html" with eventfeedback=feedback event=feedback.event form=feedbackform %}
        {% endfor %}
        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Submit</button>
        <a href="{% url 'backoffice:index' camp_slug=camp.slug %}" class="btn btn-primary"><i class="fas fa-undo"></i> Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

