{% extends 'base.html' %}

{% block body %}
<p class="lead">The following conflicts have been found between events in AutoSchedule {{ object.id }}:</p>
<table class="table table-condensed table-bordered">
  <thead>
    <th>fedt nok</th>
    {% for event in object.autoevents.all %}
    <th><a href="{% url 'program:event_detail' camp_slug=camp.slug event_slug=event.event_fk.slug %}">{{ event.event_title }}</a></th>
    {% endfor %}
  </thead>
  <tbody>
    {% for rowevent in object.autoevents.all %}
    <tr>
      <th><a href="{% url 'program:event_detail' camp_slug=camp.slug event_slug=rowevent.event_fk.slug %}">{{ rowevent.event_title }}</a></th>
      {% for event in object.autoevents.all %}
        {% if event in rowevent.unavailability_events.all or event == rowevent %}
          <td class="text-center danger"><i class="fas fa-times"></i></td>
        {% else %}
          <td class="text-center success"><i class="fas fa-check"></i></td>
        {% endif %}
    {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock body %}
