{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Really Apply AutoSchedule?</h3>
    </div>
    <div class="card-body">
      <p>Applying the AutoSchedule will schedule Events in EventSlots to match the result of the AutoScheduler calculation. Any existing autoscheduled Events will be unscheduled.</P>
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">
          <i class="fas fa-check"></i> Apply Schedule
        </button>
        <a href="{% url 'backoffice:autoschedule_manage' camp_slug=camp.slug %}" class="btn btn-secondary">
          <i class="fas fa-undo"></i> Cancel
        </a>
      </form>
    </div>
  </div>
{% endblock content %}
