{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Delete AutoSchedule {{ autoschedule.id }}?</h2>
  </div>
  <div class="panel-body">
    <p class="lead">This AutoSchedule was created {{ autoschedule.created }} by {{ autoschedule.user }}. It has {{ autoschedule.slots.count }} slots and {{ autoschedule.events.count }} events.</p>
    {% if autoschedule.applied %}
    <p>The schedule was last applied on {{ autoschedule.applied }}</p>
    {% else %}
    <p>The schedule has never been applied.</p>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_button "<i class='fas fa-times'></i> Yes, Delete it" button_type="submit" button_class="btn-danger" name="Delete" %}
      <a href="{% url 'backoffice:autoschedule_list' camp_slug=camp.slug %}" class="btn btn-primary"><i class="fas fa-undo"></i> Cancel</a>
    </form>
  </div>
</div>
{% endblock content %}

