{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create New Schedule - Select Event Type</h3>
  </div>
  <div class="panel-body">
    <p class="lead">Select Event Type for the new Schedule.</p>
    <p>The autoscheduler requires all events in a schedule to be of the same duration. We enforce this by making it work with only one eventtype at a time. Multiple schedules can coexist, meaning it is possible to have the autoscheduler schedule for example Talks, Workshops and Music Acts, but they will have to be three seperate schedules.</p>
    <div class="list-group">
    {% for eventtype in eventtype_list %}
        <a href="{%url 'backoffice:autoschedule_create' camp_slug=camp.slug eventtype_slug=eventtype.slug %}" class="list-group-item">
          <h4 class="list-group-item-heading">
            <i class="fas fa-{{ eventtype.icon }} fa-2x fa-pull-left fa-fw" style="color: {{ eventtype.color }};"></i>
            {{ eventtype.name }}<span class="pull-right"><i class="fas fa-plus fa-2x fa-pull-right" style="color: {{ eventtype.color }};"></i></span>
          </h4>
          {% if eventtype.description %}<p class="list-group-item-text">{{ eventtype.description }}</p>{% endif %}
        </a>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}

