{% extends 'base.html' %}
{% load bornhack %}

{% block body %}
<p class="lead">The following availability matrix has been generated for the Event/Slot combinations in AutoSchedule {{ object.id }}:</p>
<table class="table table-condensed table-bordered">
  <thead>
    <th>fedt nok</th>
    {% for slot in scheduler.autoslots %}
    <th>{{ slot.starts_at }} (venue {{ slot.venue }}, cap {{ slot.capacity }})</th>
    {% endfor %}
  </thead>
  <tbody>
    {% for autoevent, event in scheduler.autoevents|zip:scheduler.events.all %}
      <tr>
          <th><a href="{% url 'backoffice:event_detail' camp_slug=camp.slug slug=event.slug %}">{{ event.title }}</a> (demand {{ autoevent.demand }})</th>
        {% for slot in scheduler.autoslots %}
          {% if slot in autoevent.unavailability %}
          <td class="text-center danger"><i class="fas fa-times" data-toggle='tooltip' data-html=true data-placement='right' title='Event "{{ event.title }}" will not be scheduled in the slot {{ slot.starts_at }}'></i></td>
          {% else %}
          <td class="text-center success"><i class="fas fa-check" data-toggle='tooltip' data-html=true data-placement='right' title='Event "{{ event.title }}" might be scheduled in the slot {{ slot.starts_at }}'></i></td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<table class="table">
  {% for autoevent, event in scheduler.autoevents|zip:scheduler.events.all %}
  <tr>
    <th>{{ event.title }}</th>
    <td>{% for u in autoevent.unavailability %}{{ u }}<br>{% endfor %}</td>
  </tr>
  {% endfor %}
</table>
{% endblock body %}
