{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Validate Schedule</h3>
  </div>
  <div class="panel-body">
      <p class="lead">Which schedule to validate??</p>
      <p>Validating the <i>current</i> schedule means looking at the EventSessions, EventLocations, EventTypes, Events, Speakers and SpeakerAvailability, and comparing all that with the existing EventInstances (the currently published schedule). Some speakers changed availability or some EventSessions changed? Use this to check if the existing EventInstances still make up a valid schedule!</p>
      <p>Validating the <i>similar</i> schedule means looking at the same things as above, then calculating a new schedule (as similar to the current one as possible), and checking if the new schedule is valid. Use this to find out if it is feasible to create a new similar schedule from the current data in the database.</p>
      <p>Validating the <i>new</i> schedule means looking at the same things as above, then calculating a new schedule, without considering the existing EventInstances.</p>
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-success">
        <i class="fas fa-check"></i> Validate Schedule
      </button>
      <a href="{% url 'backoffice:autoschedule_manage' camp_slug=camp.slug %}" class="btn btn-default">
        <i class="fas fa-undo"></i> Cancel
      </a>
    </form>
  </div>
</div>
{% endblock content %}
