{% extends 'base.html' %}
{% load bornhack %}

{% block body %}
  <p class="lead">The following availability matrix has been generated for the Event/Slot combinations in the AutoScheduler</p>
  <p><a class="btn btn-secondary" href="{% url 'backoffice:autoschedule_manage' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Back</a></p>
  <table class="table table-condensed table-bordered">
    <thead>
      <th>fedt nok</th>
      {% for slot in scheduler.autoslots %}
        <th>{{ slot.starts_at }} (venue {{ slot.venue }}, cap {{ slot.capacity }})</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for autoevent, event in scheduler.autoevents|zip:scheduler.events.all %}
        <tr>
          <th class="{% if autoevent.possible_slots %}success{% else %}danger{% endif %}"><a href="{% url 'backoffice:event_detail' camp_slug=camp.slug slug=event.slug %}">{{ event.title }}</a> (demand: {{ autoevent.demand }}, slots: {{ autoevent.possible_slots }})</th>
          {% for slot in scheduler.autoslots %}
            {% if slot in autoevent.unavailability %}
              <td class="text-center table-danger"><i class="fas fa-times" data-bs-toggle='tooltip' data-bs-html=true data-placement='right' title='Event "{{ event.title }}" will not be scheduled in the slot {{ slot.starts_at }} at venue {{ slot.venue }}'></i></td>
            {% else %}
              <td class="text-center table-success"><i class="fas fa-check" data-bs-toggle='tooltip' data-bs-html=true data-placement='right' title='Event "{{ event.title }}" might be scheduled in the slot {{ slot.starts_at }} at venue {{ slot.venue }}'></i></td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><a class="btn btn-secondary" href="{% url 'backoffice:autoschedule_manage' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Back</a></p>
{% endblock body %}
