{% extends 'base.html' %}
{% load bornhack %}

{% block title %}
  Clearhaus Settlements | Backoffice | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header"><h3 class="card-title">Clearhaus Settlements - BackOffice</h3></div>
    <div class="card-body">
      <p>A list of Clearhaus Settlements in our system. This data is imported manually using CSV files from the <a href="https://my.clearhaus.com/settlements" target="_blank">Clearhaus web interface</a>. If the data looks stale poke someone from the Economy Team!</p>
      {% if not clearhaussettlement_list %}
        <p class="lead">No Clearhaus Settlements found. Go <a href="{% url 'backoffice:clearhaus_csv_import' camp_slug=camp.slug %}">import a CSV!</a></p>
      {% else %}
        <p>
          <a class="btn btn-secondary" href="{% url 'backoffice:index' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Backoffice</a>
          <a class="btn btn-primary" href="{% url 'backoffice:clearhaus_csv_import' camp_slug=camp.slug %}"><i class="fas fa-file-csv"></i> Import CSV</a>
          {% include "includes/clearhaus_settlement_list_table.html" %}
        </p>
      {% endif %}
      <p>
        <a class="btn btn-secondary" href="{% url 'backoffice:index' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Backoffice</a>
      </p>
    </div>
  </div>
{% endblock content %}
