{% extends 'base.html' %}
{% load bornhack %}

{% block title %}
  Coinify Balance List | Backoffice | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header"><h3 class="card-title">Coinify Balance List - BackOffice</h3></div>
    <div class="card-body">
      <p>A list of coinify balances imported from their system via CSV files.</p>
      {% if not coinifybalance_list %}
        <p class="lead">No CoinifyBalances found. Go import a CSV!</p>
      {% else %}
        <p>
          <a class="btn btn-secondary" href="{% url 'backoffice:coinify_dashboard' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Coinify Dashboard</a>
          <a class="btn btn-secondary" href="{% url 'backoffice:index' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Backoffice</a>
          {% include "includes/coinify_balance_list_table.html" %}
        </p>
      {% endif %}
      <p>
        <a class="btn btn-secondary" href="{% url 'backoffice:coinify_dashboard' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Coinify Dashboard</a>
        <a class="btn btn-secondary" href="{% url 'backoffice:index' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Backoffice</a>
      </p>
    </div>
  </div>
{% endblock content %}
