{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load tz %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">ePay CSV Upload</h3>
    </div>
    <div class="card-body">
      <p class="lead">ePay CSV Upload</p>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Upload</button>
        <a href="{% url 'backoffice:epaytransaction_list' camp_slug=camp.slug %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancel</a>
      </form>
    </div>
  </div>
{% endblock content %}
