{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Approve or Reject {{ form.instance.event_type.name }} Proposal</h3>
    </div>
    <div class="card-body">
      <p>Submitter {{ event_proposal.user }} will receive an email when the EventProposal is approved or rejected. It is possible to include an extra message in the form below explaining why the proposal was accepted or rejected. If the field is left blank a standard email is sent.</p>
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% if form.instance.can_be_approved %}
          <button type="submit" class="btn btn-success" name="approve"><i class='fas fa-check'></i> Approve Proposal</button>
        {% else %}
          <button type="submit" class="btn btn-disabled" name="approve" disabled><i class='fas fa-check'></i> Approve Proposal</button>
        {% endif %}
        <button type="reject" class="btn btn-danger" name="reject"><i class='fas fa-times'></i> Reject Proposal</button>
        <a href="{% url 'backoffice:pending_proposals' camp_slug=camp.slug %}" class="btn btn-primary"><i class="fas fa-undo"></i> Cancel</a>
      </form>
      {% if not form.instance.can_be_approved %}
        <br>
        <p><span class="alert alert-warning">NOTE: Not all SpeakerProposals associated with this EventProposal have been approved. EventProposal can not be approved! It can still be rejected though.</span></p>
        <br>
      {% endif %}
    </div>
  </div>
{% endblock content %}
