{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Delete Event Session?</h2>
  </div>
  <div class="panel-body">
    <p class="lead">This EventSession runs from <b>{{ session.when.lower }}</b> to <b>{{ session.when.upper }}</b>. We currently have <b>{{ session.event_count }}</b> EventInstances scheduled in this session, leaving <b>{{ session.free_time }}</b> time unused.</p>
    {% if session.eventinstances.all %}
    <hr>
    <p class="lead">The following EventInstances exists (partially or fully) inside this session:</p>
    {% include "includes/event_list_table.html" with event_list=session.eventinstances.all %}
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_button "<i class='fas fa-times'></i> Yes, Delete it" button_type="submit" button_class="btn-danger" name="Delete" %}
      <a href="{% url 'backoffice:eventsession_list' camp_slug=camp.slug %}" class="btn btn-primary"><i class="fas fa-undo"></i> Cancel</a>
    </form>
  </div>
</div>
{% endblock content %}

