{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load bornhack %}
{% load commonmark %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Event: {{ event.title }}</h3>
    </div>
    <div class="card-body">
      {{ event.abstract|untrustedcommonmark }}

      <hr>

      <h4>Details for <i>{{ event.title }}</i></h4>
      <table class="table">
        <tr>
          <th>EventType</th>
          <td>{{ event.event_type.icon_html }} <a href="{% url 'backoffice:event_type_detail' camp_slug=camp.slug slug=event.event_type.slug %}">{{ event.event_type }}</a></td>
        </tr>
        <tr>
          <th>Event Track</th>
          <td>{{ event.track.name }}</td>
        </tr>
        <tr>
          <th>Tags</th>
          <td>
            {% for tag in event.tags.all %}
              <span class="badge">{{ tag }}</span>
            {% empty %}
              N/A
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th>Video Recording</th>
          <td>{{ event.video_recording|truefalseicon }}</td>
        </tr>
        <tr>
          <th>Demand</th>
          <td>{% if event.demand %}{{ event.demand }} participants expected{% else %}0 (The autoscheduler will not consider capacity/demand when scheduling this event){% endif %}</td>
        </tr>
        <tr>
          <th>Proposal</th>
          <td><a href="{% url 'backoffice:event_proposal_detail' camp_slug=camp.slug pk=event.proposal.pk %}" class="btn btn-secondary btn-xs"><i class="fas fa-search"></i> Show</a></td>
        </tr>
        <tr>
          <th>Submitted by</th>
          <td><i class="fas fa-user"></i> {{ event.proposal.user.email }}</td>
        </tr>
      </table>

      <hr>

      <h4>Speakers for <i>{{ event.title }}</i></h4>
      {% include "includes/speaker_list_table_backoffice.html" with speaker_list=event.speakers.all noactions=True nodatatable=True %}

      <hr>

      <h4>Schedule for <i>{{ event.title }}</i></h4>
      {% if event.event_slots.exists %}
        {% include "includes/event_slot_list_backoffice.html" with event_slot_list=event.event_slots.all notitle=True %}
      {% else %}
        N/A
      {% endif %}
      <a href="{% url 'backoffice:event_schedule' camp_slug=camp.slug slug=event.slug %}" class="btn btn-success"><i class="fas fa-plus"></i> Schedule Event</a>
      <br>

      <hr>

      <a href="{% url 'backoffice:event_update' camp_slug=camp.slug slug=event.slug %}" class="btn btn-primary"><i class="fas fa-edit"></i> Update Event</a>
      <a href="{% url 'backoffice:event_delete' camp_slug=camp.slug slug=event.slug %}" class="btn btn-danger"><i class="fas fa-times"></i> Delete Event</a>
      <a href="{% url 'backoffice:event_list' camp_slug=camp.slug %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Event List</a>
    </div>
  </div>
{% endblock content %}
