{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Create New EventSession - Select Event Location</h3>
    </div>
    <div class="card-body">
      <p class="lead">Select Event Location for the new EventSession</p>
      <div class="list-group">
        {% for location in event_location_list %}
          <a href="{%url 'backoffice:event_session_create' camp_slug=camp.slug event_type_slug=event_type.slug event_location_slug=location.slug %}" class="list-group-item list-group-item-action">
            <h4 class="list-group-item-heading">
              <i class="fas fa-{{ location.icon }} fa-2x fa-pull-left fa-fw"></i>
              {{ location.name }}<span class="pull-right"><i class="fas fa-plus fa-2x fa-pull-right"></i></span>
            </h4>
            <p class="list-group-item-text">Create EventSession for {{ location.name }}</p>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
