{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
      <h2 class="panel-title">Really Delete Event?</h2>
  </div>
  <div class="panel-body">
    <p class="lead">Really delete event <i>{{ object.title }}</i> ?</p>
    <p class="lead">You can recreate the Event (but not the Events scheduling!) later by re-approving the EventProposal this Event came from.</p>
    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger"><i class='fas fa-times'></i> Yes, Delete it</button>
      <a href="{% url 'backoffice:event_detail' camp_slug=camp.slug pk=object.id %}" class="btn btn-primary"><i class="fas fa-undo"></i> Cancel</a>
    </form>
  </div>
</div>
{% endblock content %}

