{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Delete Facility Opening Hours for {{ object.facility.name }}?</h3>
    </div>
    <div class="card-body">
      <p class="lead">This object specifies that {{ object.facility.name }} opens at {{ object.when.lower }} and closes at {{ object.when.upper }}.</p>
      <p>Really delete it?</p>
      <form method="POST">
        {% csrf_token %}
        <button type="submit" name="Delete" class="btn btn-danger"><i class="fas fa-times"></i> Yes, Delete it</button>
        <a href="{% url 'backoffice:facility_detail' camp_slug=camp.slug facility_uuid=object.facility.pk %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancel</a>
      </form>
    </div>
  </div>
{% endblock content %}
