{% extends 'base.html' %}
{% load leaflet_tags %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
  Import | Facility Types | BackOffice | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Import Facility Types - BackOffice</h3>
    </div>
    <div class="panel-body">
      {% if error %}
        <p style="color: red;">{{ error }}</p>
      {% endif %}
      <p>
      Import from file: <input type="file" id="selectFiles" value="Import" /><br />
      </p>
      <p>
      Import from URL: <input id="importURL" /><button class="btn btn-success" id="importURLFetch">Fetch</button><br />
      </p>
      <form method="post">
        {% csrf_token %}
        <label for="geojson_data">GeoJSON:</label>
        <textarea id="geojson_data" name="geojson_data"></textarea>
        {% buttons %}
        <button type="submit" class="btn btn-success">Import</button>
        <a href="{% url 'backoffice:facility_type_list' camp_slug=camp.slug %}" class="btn btn-default"><i class="fas fa-undo"></i> Cancel</a>
        {% endbuttons %}
      </form>
    </div>
  </div>
  <script>
      document.getElementById("importURLFetch").onclick = function () {
        const url = document.getElementById('importURL').value;
          fetch(url)
            .then(r => r.text())
            .then(r => {
              document.getElementById('geojson_data').value = r; 
            })
      };
      document.getElementById('selectFiles').onchange = function() {
        var files = document.getElementById('selectFiles').files;
        if (files.length <= 0) {
          return false;
        }
        var fr = new FileReader();
        fr.onload = function(e) {
          var result = {};
          try {
            result = JSON.parse(e.target.result);
          } catch(e) {
            alert(e);
          }
          var formatted = JSON.stringify(result);
          document.getElementById('geojson_data').value = formatted;
        }
        fr.readAsText(files.item(0));
      };
  </script>
{% endblock %}

