{% extends 'base.html' %}
{% load leaflet_tags %}
{% load django_bootstrap5 %}
{% load static %}

{% block extra_head %}
  {{ form.media }}
  {% leaflet_css plugins="forms" %}
  {% leaflet_js plugins="forms" %}
  {{ mapData|json_script:"mapData" }}
  <script src="{% static 'js/maps/generic/mapVars.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/maps/generic/map.js' %}" type="text/javascript"></script>
{% endblock extra_head %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{% if request.resolver_match.url_name == "facility_update" %}Update{% else %}Create new{% endif %} Facility</h3>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button id="use_location" class="btn btn-primary"><i class="fas fa-location"></i> Use my location</button>
        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Save</button>
        <a href="{% url 'backoffice:facility_list' camp_slug=camp.slug %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancel</a>
      </form>
    </div>
  </div>
  <script src="{% static 'js/maps/generic/init_loader.js' %}"></script>
{% endblock content %}
