{% extends 'base.html' %}
{% load commonmark %}
{% load static %}
{% load imageutils %}
{% block content %}

<div class="row">
    <h2>{{ camp.title }} Backoffice</h2>
  <div class="lead">
    Welcome to the promised land! Please select your desired action below:
  </div>
</div>

<div class="row">
    <p>
    <div class="list-group">
      {% for team in facilityfeedback_teams %}
      {% if "camps."|add:team.permission_set in perms %}
      {% if forloop.first %}
      <h3>Facility Feedback</h3>
      {% endif %}
      <a href="{% url 'backoffice:facilityfeedback' camp_slug=camp.slug team_slug=team.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">
          {{ team.name }} Team
        </h4>
        <p class="list-group-item-text">
          See unhandled feedback for facilities managed by {{ team.name }} Team
        </p>
      </a>
      {% endif %}
      {% empty %}
      <div class="list-group-item">
      <h4 class="list-group-item-heading">N/A</h4>
      <p class="list-group-item-text">
        No unhandled Facility Feedback found!
      </p>
      </div>
      {% endfor %}

      {% if perms.camps.infoteam_permission %}
      <h3>Info Team</h3>
      <a href="{% url 'backoffice:scan_tickets' camp_slug=camp.slug %}"
         class="list-group-item">
        <h4 class="list-group-item-heading">
          Scan tickets
        </h4>
        <p class="list-group-item-text">
          Use this to get scan tickets
        </p>
      </a>
      {% endif %}

      {% if perms.camps.contentteam_permission %}
      <h3>Content Team</h3>
      <a href="{% url 'backoffice:eventsession_list' camp_slug=camp.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">Manage Event Sessions</h4>
        <p class="list-group-item-text">Use this view to view, create, update or delete EventSession objects</p>
      </a>
      <a href="{% url 'backoffice:manage_proposals' camp_slug=camp.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">Manage Proposals</h4>
        <p class="list-group-item-text">Use this view to manage SpeakerProposals and EventProposals</p>
      </a>
      <a href="{% url 'backoffice:autoschedule_list' camp_slug=camp.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">Manage AutoSchedules</h4>
        <p class="list-group-item-text">Use this view to manage the AutoSchedules used by the autoscheduler</p>
      </a>
      <a href="{% url 'backoffice:approve_eventfeedback' camp_slug=camp.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">Approve Feedback</h4>
        <p class="list-group-item-text">Use this view to approve or reject EventFeedback</p>
      </a>
      {% endif %}

      {% if perms.camps.orgateam_permission %}
      <h3>Orga Team</h3>
      <a href="{% url 'backoffice:public_credit_names' camp_slug=camp.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">Approve Public Credit Names</h4>
        <p class="list-group-item-text">Use this view to check and approve users Public Credit Names</p>
      </a>
      <a href="{% url 'backoffice:merchandise_orders' camp_slug=camp.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">Merchandise Orders</h4>
        <p class="list-group-item-text">Use this view to look at Merchandise Orders</p>
      </a>
      <a href="{% url 'backoffice:merchandise_to_order' camp_slug=camp.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">Merchandise To Order</h4>
        <p class="list-group-item-text">Use this view to generate a list of merchandise that needs to be ordered</p>
      </a>
      <a href="{% url 'backoffice:village_orders' camp_slug=camp.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">Village Orders</h4>
        <p class="list-group-item-text">Use this view to look at Village category OrderProductRelations</p>
      </a>
      <a href="{% url 'backoffice:village_to_order' camp_slug=camp.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">Village Gear To Order</h4>
        <p class="list-group-item-text">Use this view to generate a list of village gear that needs to be ordered</p>
      </a>
      <a href="{% url 'backoffice:shop_ticket_overview' camp_slug=camp.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">Shop Ticket Overview</h4>
        <p class="list-group-item-text">Use this to list shop tickets</p>
      </a>
      {% endif %}

      {% if perms.camps.economyteam_permission %}
      <h3>Economy Team</h3>
      <a href="{% url 'backoffice:chain_list' camp_slug=camp.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">Chains</h4>
        <p class="list-group-item-text">Use this view to see the Chains and Credebtors registered in the system.</p>
      </a>
      <a href="{% url 'backoffice:expense_list' camp_slug=camp.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">Expenses</h4>
        <p class="list-group-item-text">Use this view to see and approve/reject expenses.</p>
      </a>
      <a href="{% url 'backoffice:reimbursement_list' camp_slug=camp.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">Reimbursements</h4>
        <p class="list-group-item-text">Use this view to view and create reimbursements for approved expenses.</p>
      </a>
      <a href="{% url 'backoffice:revenue_list' camp_slug=camp.slug %}" class="list-group-item">
        <h4 class="list-group-item-heading">Revenues</h4>
        <p class="list-group-item-text">Use this view to see and approve/reject revenues.</p>
      </a>
      {% endif %}
    </div>
</div>

{% endblock content %}

