{% extends 'base.html' %}
{% load static %}

{% block title %}
  Invoices | {{ block.super }}
{% endblock %}

{% block content %}
  <h2>Invoices</h2>

  <div class="lead">
    This table shows all invoices in the system.
  </div>

  <form action="{% url 'backoffice:invoice_download_multiple' camp_slug=camp.slug %}" method="POST">{% csrf_token %}
    Download multiple: <input name="q" type="text" placeholder="ID seperated by a space">
    <input type="submit">
  </form>


  <a href="{% url 'backoffice:index' camp_slug=camp.slug %}" class="btn btn-default"><i class="fas fa-undo"></i> Backoffice</a>
  <a href="{% url 'backoffice:invoice_list_csv' camp_slug=camp.slug %}" class="btn btn-primary"><i class="fas fa-file-csv"></i> CSV</a>
  {% include 'includes/invoice_list_panel.html' %}

{% endblock content %}
