{% extends 'base.html' %}
{% load static %}

{% block title %}
  Invoices | {{ block.super }}
{% endblock %}

{% block content %}
  <h2>Invoices</h2>

  <div class="lead">
    This table shows all invoices in the system.
  </div>


  <a href="{% url 'backoffice:index' camp_slug=camp.slug %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Backoffice</a>
  <a href="{% url 'backoffice:invoice_list_csv' camp_slug=camp.slug %}" class="btn btn-primary"><i class="fas fa-file-csv"></i> CSV</a>
  {% include 'includes/invoice_list_panel.html' %}

{% endblock content %}
