{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    {{ invoices|json_script:"invoices" }}
    <script src="{% static 'js/InvoiceDownloadMultiple.js' %}"></script>
{% endblock %}
    
{% block title %}
  Invoices | {{ block.super }}
{% endblock %}

{% block content %}
  <h2>Invoices</h2>

  <div class="lead">
    This helps download multiple invoices
  </div>

  <form action="{% url 'backoffice:invoice_download_multiple' camp_slug=camp.slug %}" method="POST">{% csrf_token %}
    <textarea name="invoices" type="text" placeholder="Invoices seperated by a space or return"></textarea>
    <textarea name="orders" type="text" placeholder="Orders seperated by a space or return"></textarea>
    <input type="submit">
  </form>

  <a href="{% url 'backoffice:index' camp_slug=camp.slug %}" class="btn btn-default"><i class="fas fa-undo"></i> Backoffice</a>
{% endblock content %}
