{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Delete feature {{ feature.name }}?</h2>
    </div>
    <div class="panel-body">
      <form method="POST">
        {% csrf_token %}
        <button type="submit" name="Delete" class="btn btn-danger"><i class="fas fa-times"></i> Yes, Delete it</button>
        <a href="{% url 'backoffice:maps_layer_list' camp_slug=camp.slug %}" class="btn btn-default"><i class="fas fa-undo"></i> Cancel</a>
      </form>
    </div>
  </div>
{% endblock content %}
