{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Delete user location type {{ user_location_type.name }}{% if user_location_type.user_locations.count > 0 %} and {{ user_location_type.user_locations.count }} user locations{% endif %}?</h2>
    </div>
    <div class="card-body">
      <h4>There is no way to undo this action</h4>
      <form method="POST">
        {% csrf_token %}
        <button type="submit" name="Delete" class="btn btn-danger"><i class="fas fa-times"></i> Yes, Delete it</button>
        <a href="{% url 'backoffice:map_user_location_type_list' camp_slug=camp.slug %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancel</a>
      </form>
    </div>
  </div>
{% endblock content %}
