{% extends 'base.html' %}
{% load bornhack %}

{% block title %}
  MobilePay Transaction List | Backoffice | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header"><h3 class="card-title">MobilePay Transaction List - BackOffice</h3></div>
    <div class="card-body">
      <p>A list of MobilePay transactions. This data is imported manually using CSV files from the MobilePay web interface. If the data looks stale poke someone from the Economy Team!</p>
      {% if not mobilepaytransaction_list %}
        <p class="lead">No MobilePay Transactions found. Go <a href="{% url 'backoffice:mobilepay_csv_import' camp_slug=camp.slug %}">import a CSV!</a></p>
      {% else %}
        <p>
          <a class="btn btn-secondary" href="{% url 'backoffice:index' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Backoffice</a>
          <a class="btn btn-primary" href="{% url 'backoffice:mobilepay_csv_import' camp_slug=camp.slug %}"><i class="fas fa-file-csv"></i> Import CSV</a>
          {% include "includes/mobilepay_transaction_list_table.html" %}
        </p>
      {% endif %}
      <p>
        <a class="btn btn-secondary" href="{% url 'backoffice:index' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Backoffice</a>
      </p>
    </div>
  </div>
{% endblock content %}
