{% extends 'base.html' %}
{% load commonmark %}
{% load static %}
{% load imageutils %}

{% block title %}
  Village Orders | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <h2>Village Orders</h2>
    <div class="lead">
      Use this view to look at village orders.</div>
    <div>
      This table shows all OrderProductRelations which are in the Village category (not including handed out, unpaid, cancelled and refunded orders). The table is initally sorted by order ID but the sorting can be changed by clicking the column headlines (if javascript is enabled).
    </div>
  </div>
  <br>
  <div class="row">
    <table class="table table-hover datatable">
      <thead>
        <tr>
          <th>Order</th>
          <th>Email</th>
          <th>OPR Id</th>
          <th>Product</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for productrel in orderproductrelation_list %}
          <tr>
            <td><a href="/admin/shop/order/{{ productrel.order.id }}/change/">Order #{{ productrel.order.id }}</a></td>
            <td>{{ productrel.order.user.email }}</td>
            <td>{{ productrel.id }}</td>
            <td>{{ productrel.product.name }}</td>
            <td>{{ productrel.quantity }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
