{% extends 'base.html' %}
{% load commonmark %}
{% load static %}
{% load imageutils %}

{% block title %}
  Merchandise Orders | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <h2>Print labels</h2>
    <div class="lead">
      Use this view to print labels for merchandise orders. </div>
    <div>
      This table shows all OrderProductRelations which are Merchandise (not including cancelled orders or refunded OrderProductRelations). The table is initially sorted by order ID and product name but the sorting can be changed by clicking the column headlines (if javascript is enabled).
    </div>
  </div>
  <br>
  <div class="alert alert-warning" role="alert">
    NOTE: Clicking print will set label_printed=True on the selected OPRs
  </div>
  <br>
  <div class="row">
    <form method="post" id="datatable-form">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Print</button>
      <a class="btn btn-secondary" href="{% url 'backoffice:index' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Backoffice</a>
      <table class="table table-hover datatable">
        <thead>
          <tr>
            <th>Select</th>
            <th>Order</th>
            <th>Email</th>
            <th>OPR Id</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Paid</th>
            <th>Label</th>
            <th>Ready</th>
            <th>Ticket Generated</th>
          </tr>
        </thead>
        <tbody>
          {% for productrel in orderproductrelation_list %}
            <tr>
              <td><input type="checkbox" name="opr_{{ productrel.id }}" id="opr_{{ productrel.id }}" checked></td>
              <td><a href="/admin/shop/order/{{ productrel.order.id }}/change/">Order #{{ productrel.order.id }}</a></td>
              <td>{{ productrel.order.user.email }}</td>
              <td>{{ productrel.id }}</td>
              <td>{{ productrel.product.name }}</td>
              <td>{{ productrel.non_refunded_quantity }}</td>
              <td>{{ productrel.order.paid|yesno }}</td>
              <td>{{ productrel.label_ready|yesno }}</td>
              <td>{{ productrel.ready_for_pickup|yesno }}</td>
              <td>{{ productrel.order.ticket_generated|yesno }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary">Print</button>
      <a class="btn btn-secondary" href="{% url 'backoffice:index' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Backoffice</a>
    </form>
  </div>
{% endblock content %}
