{% extends 'base.html' %}
{% load commonmark %}
{% load static %}
{% load imageutils %}
{% load bornhack %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">BackOffice - Pending Proposals</h3>
    </div>
    <div class="card-body">
      <a href="{% url 'backoffice:index' camp_slug=camp.slug%}" class="btn btn-secondary"><i class="fas fa-undo"></i> Backoffice</a>
      <p>
        <h3>Pending SpeakerProposals</h3>
        {% if not speaker_proposal_list %}
          <p class="lead">No pending SpeakerProposals found</p>
        {% else %}
          {% include 'includes/speaker_proposal_list_table_backoffice.html' %}
        {% endif %}

        <hr>

        <h3>Pending EventProposals</h3>
        {% if not event_proposal_list %}
          <p class="lead">No pending EventProposals found</p>
        {% else %}
          {% include 'includes/event_proposal_list_table_backoffice.html' %}
        {% endif %}
      </div>
    </div>
{% endblock content %}
