{% extends 'base.html' %}
{% load bornhack %}

{% block title %}
  Permissions by Permission | Backoffice | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header"><h3 class="card-title">Permissions by Permission - BackOffice</h3></div>
    <div class="card-body">
      <p>A list of user permissions. Permissions not assigned to any users, and users with the <b>is_superuser</b> flag are not included in this table.</p>
      {% include "includes/permissions_explainer.html" %}
      <table class="table table-striped table-hover datatable">
        <thead>
          <tr>
            <th>Permission Codename</th>
            <th>Description</th>
            <th>Users</th>
          </tr>
        </thead>
        <tbody>
          {% for perm, users in object_list %}
            {% if users %}
              <tr>
                <td>camps.{{ perm.codename }}</td>
                <td>{{ perm.name }}</td>
                <td>
                  <table class="table">
                    <thead><tr><th>Username</th><th>Name</th><th>Public Credit Name</th></tr></thead>
                    <tbody>
                      {% for user in users %}
                        <tr>
                          <td>{{ user.username }}</td>
                          <td>{{ user.profile.name }}</td>
                          <td>{{ user.profile.public_credit_name }}</td>
                        </tr>
                      {% endfor %}
                    </table>
                  </td>
                </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <p>
        <a class="btn btn-secondary" href="{% url 'backoffice:index' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Backoffice</a>
        <a href="{% url 'backoffice:index' camp_slug=camp.slug %}#permissions" class="btn btn-secondary"><i class="fas fa-undo"></i> Permissions</a>
      </p>
    </div>
  </div>
{% endblock content %}
