{% extends 'base.html' %}
{% load bornhack %}

{% block title %}
  Permissions by User | Backoffice | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header"><h3 class="card-title">Permissions by User - BackOffice</h3></div>
    <div class="card-body">
      <p>A list of user permissions. Users with no permissions and users with all permissions (the <b>is_superuser</b> flag) are not included in this table.</p>
      <p>
        <a class="btn btn-secondary" href="{% url 'backoffice:index' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Backoffice</a>
      </p>
      <table class="table table-striped table-hover datatable">
        <thead>
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Public Credit Name</th>
            <th>User Permissions</th>
            <th>Group Permissions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in user_list %}
            <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.profile.name }}</td>
              <td>{{ user.profile.public_credit_name }}</td>
              <td>{% for perm in user.get_user_permissions %}{% if perm|slice:"0:6" == "camps." %}{{ perm }}<br>{% endif %}{% endfor %}</td>
              <td>{% for perm in user.get_group_permissions %}{% if perm|slice:"0:6" == "camps." %}{{ perm }}<br>{% endif %}{% endfor %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p>
        <a class="btn btn-secondary" href="{% url 'backoffice:index' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Backoffice</a>
      </p>
    </div>
  </div>
{% endblock content %}
