{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% load bornhack %}

{% block title %}
  Pos Products | BackOffice | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Pos Products | BackOffice</h3>
    </div>
    <div class="card-body">
      {% include "includes/pos_nav.html" %}
      <p class="lead">A Pos Product is something sold at a Pos. Price, name and other product details might change over time. The sales numbers shown in this table only include transactions related to {{ camp.title }}.</p>

      <!-- filter info -->
      <div class="alert alert-info text-center" role="alert">
        <p class="lead">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filter" aria-expanded="false" aria-controls="filter"><i class="fas fa-filter"></i> Toggle Filter</button>
          {% if filter.form.cleaned_data %}<a href="?" class="btn btn-danger"><i class="fas fa-times"></i> Clear</a>{% endif %}<br>
          Showing {{ object_list|length }} products ({{ filtered_sales_count }} sales for {{ filtered_sales_sum }} HAX) out of total {{ total_products }} products ({{ total_sales_count }} sales for {{ total_sales_sum }} HAX) for {{ camp.title }}

        <div id="filter" class="row collapse">
          <div class="col">
            <!-- filter collapse begin -->
            <div class="card mb-2">
              <div class="card-header">Filter Pos Sales</div>
              <div class="card-body">
                {% if filter %}
                  <form action="" method="get" class="form form-inline">
                    {% bootstrap_form filter.form layout='inline' %}
                    <br>
                    <button class="btn btn-success"><i class="fas fa-search"></i> Apply Filter</button>
                    {% if filter.form.cleaned_data %}<a href="?" class="btn btn-danger"><i class="fas fa-times"></i> Clear Filter</a>{% endif %}
                  </form>
                {% endif %}
              </div>
            </div>
            <!-- filter collapse end -->
          </div>
          <div class="col">
            <div class="card">
              <div class="card-header">Active Filters</div>
              <div class="card-body">
                {% format_django_filter filter %}
              </div>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/table_pagination.html" %}
      {% render_table table %}
      {% include "includes/table_pagination.html" %}
    </div>
  </div>
{% endblock %}
