{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% load bornhack %}
{% load django_bootstrap5 %}

{% block extra_head %}
<script src="{% static 'vendor/apexcharts/apexcharts.v7.3.0.min.js' %}"></script>
{{ widgets|json_script:"widgets" }}
<script src="{% static 'js/backoffice/pos_charts.js' %}"></script>
{% endblock extra_head %}

{% block title %}
  {{ pos.name }} | Pos Sales | BackOffice | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Pos Sales | BackOffice</h3>
    </div>
    <div class="card-body">
      {% include "includes/pos_nav.html" %}
      <p class="lead">A Pos Sale is created every time an item is sold and paid with HAX at a Pos. Buying two Mate creates one Pos Transaction with two Pos Sales.</p>

      <!-- filter info -->
      <div class="alert alert-info text-center" role="alert">
        <p class="lead">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filter" aria-expanded="false" aria-controls="filter"><i class="fas fa-filter"></i> Toggle Filter</button>
          {% if filter.form.cleaned_data %}<a href="?" class="btn btn-danger"><i class="fas fa-times"></i> Clear</a>{% endif %}
        Showing {% if possale_list.count == total_sales_count %}all{% else %}{{ possale_list.count }} sales ({{ filtered_sales_sum }} HAX) out of total{% endif %} {{ total_sales_count }} sales ({{total_sales_sum}} HAX) for {{ camp.title }}</p>
        <div id="filter" class="row collapse">
          <div class="col">
            <!-- filter collapse begin -->
            <div class="card mb-2">
              <div class="card-header">Filter Pos Sales</div>
              <div class="card-body">
                {% if filter %}
                  <form action="" method="get" class="form form-inline">
                    {% bootstrap_form filter.form layout='inline' %}
                    <br>
                    <button class="btn btn-success"><i class="fas fa-search"></i> Apply Filter</button>
                    {% if filter.form.cleaned_data %}<a href="?" class="btn btn-danger"><i class="fas fa-times"></i> Clear Filter</a>{% endif %}
                  </form>
                {% endif %}
              </div>
            </div>
            <!-- filter collapse end -->
          </div>
          <div class="col">
            <div class="card">
              <div class="card-header">Active Filters</div>
              <div class="card-body">
                {% format_django_filter filter %}
              </div>
            </div>
          </div>
        </div>

        <div class="btn-group">
          <a href="{% url 'backoffice:possale_list_table' camp_slug=camp.slug %}{% querystring %}" class="btn btn-primary"><i class="fas fa-table"></i> Show Table<br>of Unaggregated Sales</a>

          <a href="{% url 'backoffice:possale_list_charts' camp_slug=camp.slug aggregator="sum" field="salesprice" groupby="date" %}{% querystring %}" class="btn btn-primary"><i class="fas fa-chart-column"></i> Chart Sales <br>Sum by <i class="fas fa-calendar"></i> Date</a>

          <a href="{% url 'backoffice:possale_list_charts' camp_slug=camp.slug aggregator="sum" field="salesprice" groupby="tags" %}{% querystring %}" class="btn btn-primary"><i class="fas fa-chart-column"></i> Chart Sales <br> Sum by <i class="fas fa-tags"></i> Tags</a>

          <a href="{% url 'backoffice:possale_list_charts' camp_slug=camp.slug aggregator="count" field="salesprice" groupby="date" %}{% querystring %}" class="btn btn-primary"><i class="fas fa-chart-column"></i> Chart Sales <br> Count by <i class="fas fa-calendar"></i> Date</a>

          <a href="{% url 'backoffice:possale_list_charts' camp_slug=camp.slug aggregator="count" field="salesprice" groupby="tags" %}{% querystring %}" class="btn btn-primary"><i class="fas fa-chart-column"></i> Chart Sales <br> Count by <i class="fas fa-tags"></i> Tags</a>

          <a href="{% url 'backoffice:possale_list_charts' camp_slug=camp.slug aggregator="sum" field="profit" groupby="date" %}{% querystring %}" class="btn btn-primary"><i class="fas fa-chart-column"></i> Chart Sales <br> Profit by <i class="fas fa-calendar"></i> Date</a>

          <a href="{% url 'backoffice:possale_list_charts' camp_slug=camp.slug aggregator="sum" field="profit" groupby="tags" %}{% querystring %}" class="btn btn-primary"><i class="fas fa-chart-column"></i> Chart Sales <br> Profit by <i class="fas fa-tags"></i> Tags</a>
        </div>
      </div>

      <!-- main content -->
      {% block pos_sale_body %}
      {% endblock pos_sale_body %}
    </div>
  </div>
{% endblock %}
