{% extends 'base.html' %}
{% load bornhack %}

{% block title %}
Pos List | Backoffice | {{ block.super }}
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Pos List - BackOffice</h3></div>
  <div class="panel-body">
    <p>A <i>Pos</i> is a place where we sell stuff for DKK and/or HAX.</p>
  {% if not pos_list %}
    <p class="lead">No Pos found.</p>
  {% else %}
  <p>
    <a class="btn btn-default" href="{% url 'backoffice:index' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Backoffice</a>
    {% include "includes/pos_list_table.html" %}
  </p>
  {% endif %}
  <p>
{% if perms.camps.orgateam_permission %}
    <a class="btn btn-success" href="{% url 'backoffice:pos_create' camp_slug=camp.slug %}"><i class="fas fa-plus"></i> Create Pos</a>
{% endif %}
    <a class="btn btn-default" href="{% url 'backoffice:index' camp_slug=camp.slug %}"><i class="fas fa-undo"></i> Backoffice</a>
  </p>
  </div>
</div>
{% endblock content %}
