{% extends 'base.html' %}

{% block title %}
  {{ pos.name }} | Pos Reports | BackOffice | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{ pos.name }} | Pos Reports | BackOffice</h3>
    </div>
    <div class="card-body">
      <p>
        <a href="{% url 'backoffice:pos_detail' camp_slug=camp.slug pos_slug=pos.slug %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Pos Details</a>
      </p>

      <h3>Pos Reports</h3>
      {% if pos.pos_reports.exists %}
        {% include "includes/posreport_list_table.html" with posreport_list=pos.pos_reports.all %}
      {% else %}
        None found
      {% endif %}
      <br>
      {% if perms.camps.orgateam_permission %}
        <a href="{% url 'backoffice:posreport_create' camp_slug=camp.slug pos_slug=pos.slug %}" class="btn btn-success"><i class="fas fa-plus"></i> Create PosReport</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
