{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{% if request.resolver_match.url_name == "posreport_create" %}Create New{% else %}Update{% endif %} {{ pos.name }} PosReport</h3>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Save</button>
        <a href="{% url 'backoffice:pos_list' camp_slug=camp.slug %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancel</a>
      </form>
    </div>
  </div>
{% endblock content %}
