{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load bornhack %}

{% block title %}
  Refund #{{ refund.pk }} for order #{{ refund.order.pk }} | BackOffice | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header">Refund #{{ refund.pk }} for order #{{ refund.order.pk }} | BackOffice</div>
    <div class="card-body">
      <table class="table">
        <tr>
          <th>Order</th>
          <td><a href="{% url "backoffice:order_detail" camp_slug=camp.slug order_id=refund.order.pk %}">{{ refund.order }}</a></td>
        </tr>
        <tr>
          <th>Customer Comment</th>
          <td>{{ refund.customer_comment|default:"N/A" }}</td>
        </tr>
        <tr>
          <th>Amount</th>
          <td>{{ refund.amount }} DKK</td>
        </tr>
        <tr>
          <th>Invoice Address</th>
          <td>{{ refund.get_invoice_address }}</td>
        </tr>
        <tr>
          <th>Internal Notes</th>
          <td>{{ refund.notes|default:"N/A" }}</td>
        </tr>
        <tr>
          <th>Refunded by</th>
          <td>{{ refund.created_by }}</td>
        </tr>
        <tr>
          <th>Paid</th>
          <td>{{ refund.paid|truefalseicon }}</td>
        </tr>
        <tr>
          <th>Credit note</th>
          <td>
            {% if refund.creditnote %}
              <a href="{% url "backoffice:credit_note_download" camp_slug=camp.slug credit_note_id=refund.creditnote.id %}">
                <i class="fa fa-file-pdf fa-4x"></i>
              </a>
            {% else %}
              N/A
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Refunded Products</th>
          <td>
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                {% for rpr in refund.rprs.all %}
                  <tr>
                    <td>{{ rpr.opr.product.name }}</td>
                    <td>{{ rpr.quantity }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <a href="{% url 'backoffice:refund_update' camp_slug=camp.slug refund_id=refund.id %}" class="btn btn-primary"><i class="fas fa-edit"></i> Update</a>
  <a href="{% url 'backoffice:index' camp_slug=camp.slug %}" class="btn btn-primary"><i class="fas fa-undo"></i> Backoffice</a>
  <a href="{% url 'backoffice:refund_list' camp_slug=camp.slug %}" class="btn btn-primary"><i class="fas fa-list"></i> Refund List</a>
  <a href="{% url 'backoffice:order_list' camp_slug=camp.slug %}" class="btn btn-primary"><i class="fas fa-list"></i> Order List</a>
{% endblock content %}
