{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<h3>Create Reimbursement for User {{ user }}</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">The following approved expenses will be covered by this reimbursement:</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Amount</th>
          <th>Invoice</th>
          <th>Responsible Team</th>
        </tr>
      </thead>
      <tbody>
        {% for expense in expenses %}
        <tr>
          <td>{{ expense.description }}</td>
          <td>{{ expense.amount }}</td>
          <td>{{ expense.invoice }}</td>
          <td>{{ expense.responsible_team }} Team</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<p class="lead">The total amount for this reimbursement will be <b>{{ total_amount.amount__sum }} DKK</b></p>

<form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button "<i class='fas fa-check'></i> Approve" button_type="submit" button_class="btn-success" name="approve" %}
    <a href="{% url 'backoffice:reimbursement_create_userselect' camp_slug=camp.slug %}" class="btn btn-primary"><i class="fas fa-undo"></i> Cancel</a>
</form>
{% endblock content %}

