{% extends 'base.html' %}
{% load commonmark %}
{% load static %}
{% load imageutils %}

{% block title %}
Create Reimbursement - Select User | {{ block.super }}
{% endblock %}

{% block content %}

<div class="row">
    <h2>Create Reimbursement - Select User</h2>
  <div class="lead">
    Start by selecting the user for whom you wish to create a reimbursement below:
  </div>
</div>

<div class="row">
  <div class="list-group">
  {% for user in object_list %}
    <a href="{% url 'backoffice:reimbursement_create' camp_slug=camp.slug user_id=user.id %}" class="list-group-item">
      <h4 class="list-group-item-heading">{{ user.email }}</h4>
      <p class="list-group-item-text">Create a reimbursement for user {{ user.email }}</p>
    </a>
  {% endfor %}
  </div>
</div>

{% endblock content %}
