{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
  Revenue Details | {{ block.super }}
{% endblock %}

{% block content %}
  <h3>Revenue Details</h3>

  {% include 'includes/revenue_detail_panel.html' %}

  <br>
  {% if not camp.read_only %}
  <a href="{% url 'backoffice:revenue_update' camp_slug=camp.slug pk=revenue.uuid %}" class="btn btn-primary"><i class="fas fa-edit"></i> Update Revenue</a>
  {% endif %}
  <a href="{% url 'backoffice:revenue_list' camp_slug=camp.slug %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Back to Revenue List</a>
  <a href="{% url 'backoffice:chain_detail' camp_slug=camp.slug chain_slug=revenue.debtor.chain.slug %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Back to Chain Details</a>

{% endblock content %}
