{% extends 'base.html' %}
{% load static %}

{% block title %}
Manage Revenues for {{ camp.title }} | {{ block.super }}
{% endblock %}

{% block content %}
<h2>Manage Revenues for {{ camp.title }}</h2>

{% if unapproved_revenues %}
<div class="lead">
  This table shows unapproved revenues for {{ camp.title }}.
</div>

{% include 'includes/revenue_list_panel.html' with revenue_list=unapproved_revenues %}

<hr>
{% endif %}

<div class="lead">
  This table shows all approved revenues for {{ camp.title }}.
</div>

{% include 'includes/revenue_list_panel.html' %}

{% endblock content %}
