{% extends 'base.html' %}
{% load commonmark %}
{% load static from staticfiles %}
{% load imageutils %}
{% block extra_head %}
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
{% endblock extra_head %}
{% block content %}
<div class="row">
  <h2>Shop Tickets</h2>
</div>
<br>

<span class="clearfix"></span>
<hr class="clearfix"/>

    <table class="table table-hover">
      <thead>
      <tr>
          <th>Ticket Type</th>
          <th>Product</th>
          <th>Order comment</th>
          <th>User / Email</th>
          <th>Used?</th>
          <th>Payment method</th>
          <th>Paid?</th>
       </tr>
      </thead>
      <tbody>
      {% for ticket in shop_tickets %}
      <tr>
        <td>{{ ticket.ticket_type.name }}</td>
        <td>{{ ticket.product.name }}</td>
        <td>{{ ticket.order.comment|default:"None" }}</td>
        <td>{{ ticket.order.user.profile.name }}
         / {{ ticket.order.user.email }}</td>
        <td>{{ ticket.used }}</td>
        <td>{{ ticket.order.payment_method }}</td>
        <td>{{ ticket.order.paid }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock content %}
