{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% load bornhack %}
{% load program %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Update Speaker: {{ speaker.name }}</h3>
    </div>
    <div class="card-body">
      <p class="lead">Note: All changes made here take effect immediately on the live site. Any changes will be overwritten if the SpeakerProposal is later re-approved.</p>
      <form method="POST">
        {% csrf_token %}
        {% for field in form %}
          {% if field.id_for_label == "id_email" %}
            {% availabilitytable form=form matrix=matrix %}
            {% bootstrap_field field %}
          {% else %}
            {% if field.name|slice:":12" != "availability" %}
              {% bootstrap_field field %}
            {% endif %}
          {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Update Speaker</button>
        <a href="{% url 'backoffice:speaker_detail' camp_slug=camp.slug slug=speaker.slug %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancel</a>
      </form>
    </div>
  </div>
{% endblock content %}
