{% extends 'base.html' %}

{% block title %}
  SpeakerProposal List | Backoffice | {{ block.super }}
{% endblock %}

{% block content %}

  {% if speaker_proposal_list %}
    <div class="card">
      <div class="card-header"><h3 class="card-title">SpeakerProposal List - Backoffice</h3></div>
      <div class="card-body">
        <p>This is a list of all <i>SpeakerProposal</i> objects in the system. Search for name, email, username, or status to filter the table.</p>
        <p><a href="{% url 'backoffice:index' camp_slug=camp.slug %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Backoffice</a></p>
        {% if speaker_proposal_list %}
          {% include 'includes/speaker_proposal_list_table_backoffice.html' %}
        {% else %}
          No SpeakerProposals found.
        {% endif %}
      </div>
    </div>
  {% endif %}

{% endblock %}
