{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load bornhack %}
{% load program %}
{% load commonmark %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Speaker: {{ speaker.name }}</h3>
    </div>
    <div class="card-body">
      {{ speaker.biography|untrustedcommonmark }}

      <hr>

      <h4>Details for <i>{{ speaker.name }}</i></h4>
      <table class="table">
        <tr>
          <th>Email</th>
          <td>{{ speaker.email }}</td>
        </tr>
        <tr>
          <th>Proposal</th>
          <td><a href="{% url 'backoffice:speaker_proposal_detail' camp_slug=camp.slug pk=speaker.proposal.pk %}">{{ speaker.proposal.pk }}</a></td>
        </tr>
      </table>

      <hr>

      <h4>Availability for <i>{{ speaker.name }}</i></h4>
      {% availabilitytable matrix=matrix %}


      <hr>

      <h4>Events for <i>{{ speaker.name }}</i></h4>
      {% if speaker.events.exists %}
        {% include "includes/event_list_table_backoffice.html" with event_list=speaker.events.all noactions=True noschedule=True nodatatable=True %}
      {% else %}
        N/A
      {% endif %}

      <hr>

      <h4>Schedule for <i>{{ speaker.name }}</i></h4>
      {% if speaker.scheduled_event_slots.exists %}
        {% include "includes/event_slot_list_backoffice.html" with event_slot_list=speaker.scheduled_event_slots.all %}
      {% else %}
        N/A
      {% endif %}

      <hr>

      <h4>Event Conflicts for <i>{{ speaker.name }}</i></h4>
      {% if speaker.event_conflicts.exists %}
        {% include "includes/event_list_table_backoffice.html" with event_list=speaker.event_conflicts.all nodatatable=True nopeople=True noactions=True noschedule=True %}
      {% else %}
        N/A
      {% endif %}

      <hr>
      <a href="{% url 'backoffice:speaker_update' camp_slug=camp.slug slug=speaker.slug %}" class="btn btn-primary"><i class="fas fa-edit"></i> Update</a>
      <a href="{% url 'backoffice:speaker_delete' camp_slug=camp.slug slug=speaker.slug %}" class="btn btn-danger"><i class="fas fa-times"></i> Delete</a>
      <a href="{% url 'backoffice:speaker_list' camp_slug=camp.slug %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Speaker List</a>
    </div>
  </div>
{% endblock content %}
