{% extends 'base.html' %}
{% load bornhack %}
{% load profile_display %}

{% block title %}
  Token Stats | Backoffice | {{ block.super }}
{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header"><h3 class="card-title">Token Stats - BackOffice</h3></div>
    <div class="card-body">
      <p>A list of users and the number of tokens they found</p>
      <p>
        <a class="btn btn-secondary" href="{% url 'backoffice:index' camp_slug=camp.slug %}#game"><i class="fas fa-undo"></i> Backoffice</a>
        <table class="table table-striped{% if not nodatatable %} datatable{% endif %}">
          <thead>
            <tr>
              <th>User</th>
              <th>Finds</th>
              <th>Last token found</th>
            </tr>
          </thead>
          <tbody>
            {% for user in user_list %}
              <tr>
                <td>{% display_name user.profile %}</td>
                <td>{{ user.token_find_count }}</td>
                <td>{{ user.last_token_find }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </p>
      <p>
        <a class="btn btn-secondary" href="{% url 'backoffice:index' camp_slug=camp.slug %}#game"><i class="fas fa-undo"></i> Backoffice</a>
      </p>
    </div>
  </div>
{% endblock content %}
