{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Delete Token {{ token.token }}?</h2>
    </div>
    <div class="card-body">
      <p class="lead">This Token has <b>{{ token.tokenfind_set.count }}</b> TokenFinds which will also be deleted.</p>
      <form method="POST">
        {% csrf_token %}
        <button type="submit" name="Delete" class="btn btn-danger"><i class="fas fa-times"></i> Yes, Delete it</button>
        <a href="{% url 'backoffice:token_detail' camp_slug=camp.slug pk=token.pk %}" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancel</a>
      </form>
    </div>
  </div>
{% endblock content %}
